{
  "openapi": "3.1.0",
  "info": {
    "title": "Programmable Custom Launch API V4",
    "version": "4.0.0",
    "description": "Chain-aware, server-authoritative Custom Launch transport. The public client never signs or broadcasts. Robinhood Chain mainnet requests bind chain 4663, exact trust roots, profile, source, graph, metadata, funding, finality and wallet transaction preimages."
  },
  "servers": [
    {
      "url": "https://api.programmable.market"
    }
  ],
  "security": [
    {
      "CustomLaunchApiKey": []
    }
  ],
  "paths": {
    "/v4/chains/{chainId}/capabilities": {
      "get": {
        "operationId": "getCustomLaunchCapabilitiesV4",
        "security": [],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Redundant route chain binding. It must exactly match the request/resource chainId.",
            "schema": {
              "const": "4663",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unauthenticated exact chain capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchCapabilitiesV2"
                }
              }
            }
          },
          "400": {
            "description": "Nonretryable invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not authorized for this chain or scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Nonretryable chain, trust-root, profile, replay, or idempotency binding conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Retryable rate limit",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable; retry only when error.retryable is true",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v4/chains/{chainId}/custom-launches/preflight": {
      "post": {
        "operationId": "preflightCustomLaunchV4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Redundant route chain binding. It must exactly match the request/resource chainId.",
            "schema": {
              "const": "4663",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV4"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Side-effect-free server-authoritative preflight",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchPreflightV2"
                }
              }
            }
          },
          "400": {
            "description": "Nonretryable invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not authorized for this chain or scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Nonretryable chain, trust-root, profile, replay, or idempotency binding conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Retryable rate limit",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable; retry only when error.retryable is true",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v4/chains/{chainId}/custom-launches": {
      "post": {
        "operationId": "createCustomLaunchV4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Redundant route chain binding. It must exactly match the request/resource chainId.",
            "schema": {
              "const": "4663",
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV4"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Durable chain-scoped launch resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV4"
                }
              }
            }
          },
          "400": {
            "description": "Nonretryable invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not authorized for this chain or scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Nonretryable chain, trust-root, profile, replay, or idempotency binding conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Retryable rate limit",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable; retry only when error.retryable is true",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCustomLaunchesV4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Redundant route chain binding. It must exactly match the request/resource chainId.",
            "schema": {
              "const": "4663",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 10 and never exceeds 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque continuation cursor returned by nextCursor. Pass it back unchanged.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 512,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential-scoped launch resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchListV4"
                }
              }
            }
          },
          "400": {
            "description": "Nonretryable invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not authorized for this chain or scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Nonretryable chain, trust-root, profile, replay, or idempotency binding conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Retryable rate limit",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable; retry only when error.retryable is true",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v4/chains/{chainId}/custom-launches/{launchId}": {
      "get": {
        "operationId": "getCustomLaunchV4",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Redundant route chain binding. It must exactly match the request/resource chainId.",
            "schema": {
              "const": "4663",
              "type": "string"
            }
          },
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single chain-scoped launch resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV4"
                }
              }
            }
          },
          "400": {
            "description": "Nonretryable invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not authorized for this chain or scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Nonretryable chain, trust-root, profile, replay, or idempotency binding conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Retryable rate limit",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable; retry only when error.retryable is true",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v4/chains/{chainId}/finalized-custom-launches": {
      "get": {
        "operationId": "listFinalizedCustomLaunchesV4",
        "security": [],
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "description": "Redundant route chain binding. It must exactly match the request/resource chainId.",
            "schema": {
              "const": "4663",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 10 and never exceeds 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque continuation cursor returned by nextCursor. Pass it back unchanged.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 512,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finalized public Router-backed launch evidence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchFinalizedListV4"
                }
              }
            }
          },
          "400": {
            "description": "Nonretryable invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Credential is not authorized for this chain or scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Nonretryable chain, trust-root, profile, replay, or idempotency binding conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Retryable rate limit",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Unavailable; retry only when error.retryable is true",
            "headers": {
              "Retry-After": {
                "description": "Delay in seconds or an HTTP date. The CLI preserves exact request bytes and honors this value.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CustomLaunchApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pm_live_* | pm_partner_root_<22>_<43> | pm_partner_<22>_<43>",
        "description": "Read only from PROGRAMMABLE_API_KEY or an approved encrypted secret store. Never accepted in a request body or CLI flag."
      }
    },
    "schemas": {
      "CustomLaunchCreateRequestV4": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://programmable.market/schemas/custom-launch/v4/custom-launch-create-request.json",
        "title": "Programmable Custom Launch V4 create request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schemaVersion",
          "chainId",
          "caip2",
          "chainDeployment",
          "chainDeploymentDescriptorDigest",
          "profile",
          "launchWallet",
          "nonce",
          "permitWindow",
          "sourceDescriptor",
          "sourceBundleManifest",
          "externalContracts",
          "graphBundle",
          "projectMetadata",
          "projectMetadataHash",
          "projectMetadataImageArtifact",
          "verificationBundle",
          "funding",
          "liquidityModel",
          "launchIntentHash",
          "agentAttestation"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-create-request.v4"
          },
          "chainId": {
            "const": "4663"
          },
          "caip2": {
            "const": "eip155:4663"
          },
          "chainDeployment": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "schemaVersion",
              "chainDeploymentId",
              "chainId",
              "caip2",
              "finality",
              "foundationSourceCommitment",
              "deploymentEvidence",
              "permit2GenesisProvenance",
              "permitAuthoritySourceProvenance",
              "externalRootDeploymentEvidence",
              "contracts"
            ],
            "properties": {
              "schemaVersion": {
                "const": "programmable.custom-launch-chain-deployment.v1"
              },
              "chainDeploymentId": {
                "const": "robinhood-mainnet-custom-launch-v1"
              },
              "chainId": {
                "const": "4663"
              },
              "caip2": {
                "const": "eip155:4663"
              },
              "finality": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schemaVersion",
                  "policyId",
                  "policyRevision",
                  "policyDigest"
                ],
                "properties": {
                  "schemaVersion": {
                    "const": "programmable.custom-launch-finality-policy-ref.v1"
                  },
                  "policyId": {
                    "type": "string",
                    "pattern": "^[a-z][a-z0-9._:-]{0,127}$"
                  },
                  "policyRevision": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "policyDigest": {
                    "type": "string",
                    "pattern": "^sha256:[0-9a-f]{64}$"
                  }
                }
              },
              "foundationSourceCommitment": {
                "const": "0xe87f5edc2dc839bd87a26a80cb53f14b021e603a1753d27aae3a02862058d730"
              },
              "deploymentEvidence": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schemaVersion",
                  "deploymentId",
                  "chainId",
                  "coveredContracts",
                  "transactionHash",
                  "from",
                  "to",
                  "valueWei",
                  "selector",
                  "calldataHash",
                  "calldataBytes",
                  "nonce",
                  "transactionIndex",
                  "receiptStatus",
                  "blockNumber",
                  "blockHash",
                  "receiptLogs",
                  "receiptLogsDigest",
                  "providerReadbacks",
                  "resultingContracts",
                  "ethereumFinalityEvidence",
                  "evidenceDigest",
                  "sourceVerification"
                ],
                "properties": {
                  "schemaVersion": {
                    "const": "programmable.robinhood-atomic-root-deployment-evidence.v1"
                  },
                  "deploymentId": {
                    "const": "robinhood-mainnet-custom-launch-v1"
                  },
                  "chainId": {
                    "const": "4663"
                  },
                  "coveredContracts": {
                    "const": [
                      "programmableLaunchStampRouter",
                      "graphFactory",
                      "permitAuthority"
                    ]
                  },
                  "transactionHash": {
                    "type": "string",
                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                  },
                  "from": {
                    "enum": [
                      "0x032b1c7b96793717F0BD2f11eb86cd10CdefC4a3",
                      "0x2Bb333d48DFAF1596D9036671d2E43168994249E"
                    ]
                  },
                  "to": {
                    "const": "0xcA11bde05977b3631167028862bE2a173976CA11"
                  },
                  "valueWei": {
                    "const": "0"
                  },
                  "selector": {
                    "const": "0x82ad56cb"
                  },
                  "calldataHash": {
                    "const": "0x3ba04469085b17e12843a94c154a335c9c384837f8f6531f179cb4915fd237d9"
                  },
                  "calldataBytes": {
                    "const": 33412
                  },
                  "nonce": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9][0-9]*)$"
                  },
                  "transactionIndex": {
                    "type": "string",
                    "pattern": "^(?:0|[1-9][0-9]*)$"
                  },
                  "receiptStatus": {
                    "const": "1"
                  },
                  "blockNumber": {
                    "type": "string",
                    "pattern": "^[1-9][0-9]*$"
                  },
                  "blockHash": {
                    "type": "string",
                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                  },
                  "receiptLogs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "address",
                        "topics",
                        "data",
                        "logIndex"
                      ],
                      "properties": {
                        "address": {
                          "type": "string",
                          "pattern": "^0x[0-9a-fA-F]{40}$"
                        },
                        "topics": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "maxItems": 4
                        },
                        "data": {
                          "type": "string",
                          "pattern": "^0x(?:[0-9a-f]{2})*$"
                        },
                        "logIndex": {
                          "type": "string",
                          "pattern": "^(?:0|[1-9][0-9]*)$"
                        }
                      }
                    },
                    "maxItems": 1024,
                    "x-programmable-order": "strictly increasing logIndex; unique"
                  },
                  "receiptLogsDigest": {
                    "type": "string",
                    "pattern": "^sha256:[0-9a-f]{64}$"
                  },
                  "providerReadbacks": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "providerId",
                          "trustDomain",
                          "transactionHash",
                          "transactionResponseDigest",
                          "transactionReceiptDigest",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "providerId": {
                            "const": "quicknode"
                          },
                          "trustDomain": {
                            "const": "quicknode.com"
                          },
                          "transactionHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "transactionResponseDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "transactionReceiptDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "providerId",
                          "trustDomain",
                          "transactionHash",
                          "transactionResponseDigest",
                          "transactionReceiptDigest",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "providerId": {
                            "const": "alchemy"
                          },
                          "trustDomain": {
                            "const": "alchemy.com"
                          },
                          "transactionHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "transactionResponseDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "transactionReceiptDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      }
                    ],
                    "items": false,
                    "minItems": 2,
                    "maxItems": 2
                  },
                  "resultingContracts": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "contract",
                          "address",
                          "runtimeCodeHash",
                          "previousBlockRuntimeCodeHash",
                          "providerReadbacks",
                          "stateEvidenceDigest"
                        ],
                        "properties": {
                          "contract": {
                            "const": "permitAuthority"
                          },
                          "address": {
                            "const": "0xeD617CE7f82e2AB589aDeFFD319D1D872Bc8De06"
                          },
                          "runtimeCodeHash": {
                            "const": "0xd7d408ebcd99b2b70be43e20253d6d92a8ea8fab29bd3be7f55b10032331fb4c"
                          },
                          "previousBlockRuntimeCodeHash": {
                            "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                          },
                          "providerReadbacks": {
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "schemaVersion",
                                  "providerId",
                                  "trustDomain",
                                  "contract",
                                  "address",
                                  "preDeploymentBlockNumber",
                                  "preDeploymentBlockHash",
                                  "preDeploymentRuntimeCodeHash",
                                  "deploymentBlockNumber",
                                  "deploymentBlockHash",
                                  "deploymentRuntimeCodeHash",
                                  "evidenceDigest"
                                ],
                                "properties": {
                                  "schemaVersion": {
                                    "const": "programmable.robinhood-atomic-root-runtime-transition-provider-readback.v1"
                                  },
                                  "providerId": {
                                    "const": "quicknode"
                                  },
                                  "trustDomain": {
                                    "const": "quicknode.com"
                                  },
                                  "contract": {
                                    "const": "permitAuthority"
                                  },
                                  "address": {
                                    "const": "0xeD617CE7f82e2AB589aDeFFD319D1D872Bc8De06"
                                  },
                                  "preDeploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                  },
                                  "preDeploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "preDeploymentRuntimeCodeHash": {
                                    "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                  },
                                  "deploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  },
                                  "deploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "deploymentRuntimeCodeHash": {
                                    "const": "0xd7d408ebcd99b2b70be43e20253d6d92a8ea8fab29bd3be7f55b10032331fb4c"
                                  },
                                  "evidenceDigest": {
                                    "type": "string",
                                    "pattern": "^sha256:[0-9a-f]{64}$"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "schemaVersion",
                                  "providerId",
                                  "trustDomain",
                                  "contract",
                                  "address",
                                  "preDeploymentBlockNumber",
                                  "preDeploymentBlockHash",
                                  "preDeploymentRuntimeCodeHash",
                                  "deploymentBlockNumber",
                                  "deploymentBlockHash",
                                  "deploymentRuntimeCodeHash",
                                  "evidenceDigest"
                                ],
                                "properties": {
                                  "schemaVersion": {
                                    "const": "programmable.robinhood-atomic-root-runtime-transition-provider-readback.v1"
                                  },
                                  "providerId": {
                                    "const": "alchemy"
                                  },
                                  "trustDomain": {
                                    "const": "alchemy.com"
                                  },
                                  "contract": {
                                    "const": "permitAuthority"
                                  },
                                  "address": {
                                    "const": "0xeD617CE7f82e2AB589aDeFFD319D1D872Bc8De06"
                                  },
                                  "preDeploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                  },
                                  "preDeploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "preDeploymentRuntimeCodeHash": {
                                    "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                  },
                                  "deploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  },
                                  "deploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "deploymentRuntimeCodeHash": {
                                    "const": "0xd7d408ebcd99b2b70be43e20253d6d92a8ea8fab29bd3be7f55b10032331fb4c"
                                  },
                                  "evidenceDigest": {
                                    "type": "string",
                                    "pattern": "^sha256:[0-9a-f]{64}$"
                                  }
                                }
                              }
                            ],
                            "items": false,
                            "minItems": 2,
                            "maxItems": 2
                          },
                          "stateEvidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "contract",
                          "address",
                          "runtimeCodeHash",
                          "previousBlockRuntimeCodeHash",
                          "providerReadbacks",
                          "stateEvidenceDigest"
                        ],
                        "properties": {
                          "contract": {
                            "const": "graphFactory"
                          },
                          "address": {
                            "const": "0x0B6b3F40f84Df25D3bd69238f937096177DD09Bd"
                          },
                          "runtimeCodeHash": {
                            "const": "0xd23692fae59331592048e71a96d4963e170ee56e449683dc9f7fa3f9470018b8"
                          },
                          "previousBlockRuntimeCodeHash": {
                            "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                          },
                          "providerReadbacks": {
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "schemaVersion",
                                  "providerId",
                                  "trustDomain",
                                  "contract",
                                  "address",
                                  "preDeploymentBlockNumber",
                                  "preDeploymentBlockHash",
                                  "preDeploymentRuntimeCodeHash",
                                  "deploymentBlockNumber",
                                  "deploymentBlockHash",
                                  "deploymentRuntimeCodeHash",
                                  "evidenceDigest"
                                ],
                                "properties": {
                                  "schemaVersion": {
                                    "const": "programmable.robinhood-atomic-root-runtime-transition-provider-readback.v1"
                                  },
                                  "providerId": {
                                    "const": "quicknode"
                                  },
                                  "trustDomain": {
                                    "const": "quicknode.com"
                                  },
                                  "contract": {
                                    "const": "graphFactory"
                                  },
                                  "address": {
                                    "const": "0x0B6b3F40f84Df25D3bd69238f937096177DD09Bd"
                                  },
                                  "preDeploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                  },
                                  "preDeploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "preDeploymentRuntimeCodeHash": {
                                    "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                  },
                                  "deploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  },
                                  "deploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "deploymentRuntimeCodeHash": {
                                    "const": "0xd23692fae59331592048e71a96d4963e170ee56e449683dc9f7fa3f9470018b8"
                                  },
                                  "evidenceDigest": {
                                    "type": "string",
                                    "pattern": "^sha256:[0-9a-f]{64}$"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "schemaVersion",
                                  "providerId",
                                  "trustDomain",
                                  "contract",
                                  "address",
                                  "preDeploymentBlockNumber",
                                  "preDeploymentBlockHash",
                                  "preDeploymentRuntimeCodeHash",
                                  "deploymentBlockNumber",
                                  "deploymentBlockHash",
                                  "deploymentRuntimeCodeHash",
                                  "evidenceDigest"
                                ],
                                "properties": {
                                  "schemaVersion": {
                                    "const": "programmable.robinhood-atomic-root-runtime-transition-provider-readback.v1"
                                  },
                                  "providerId": {
                                    "const": "alchemy"
                                  },
                                  "trustDomain": {
                                    "const": "alchemy.com"
                                  },
                                  "contract": {
                                    "const": "graphFactory"
                                  },
                                  "address": {
                                    "const": "0x0B6b3F40f84Df25D3bd69238f937096177DD09Bd"
                                  },
                                  "preDeploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                  },
                                  "preDeploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "preDeploymentRuntimeCodeHash": {
                                    "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                  },
                                  "deploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  },
                                  "deploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "deploymentRuntimeCodeHash": {
                                    "const": "0xd23692fae59331592048e71a96d4963e170ee56e449683dc9f7fa3f9470018b8"
                                  },
                                  "evidenceDigest": {
                                    "type": "string",
                                    "pattern": "^sha256:[0-9a-f]{64}$"
                                  }
                                }
                              }
                            ],
                            "items": false,
                            "minItems": 2,
                            "maxItems": 2
                          },
                          "stateEvidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "contract",
                          "address",
                          "runtimeCodeHash",
                          "previousBlockRuntimeCodeHash",
                          "providerReadbacks",
                          "stateEvidenceDigest"
                        ],
                        "properties": {
                          "contract": {
                            "const": "programmableLaunchStampRouter"
                          },
                          "address": {
                            "const": "0x34965F2A2ee9254522232C32F02056E92BE0C98a"
                          },
                          "runtimeCodeHash": {
                            "const": "0x1dbbdaaad901ea3c6134dca0d4872a4789b3c071bf8ccfb44edd65d26d817388"
                          },
                          "previousBlockRuntimeCodeHash": {
                            "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                          },
                          "providerReadbacks": {
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "schemaVersion",
                                  "providerId",
                                  "trustDomain",
                                  "contract",
                                  "address",
                                  "preDeploymentBlockNumber",
                                  "preDeploymentBlockHash",
                                  "preDeploymentRuntimeCodeHash",
                                  "deploymentBlockNumber",
                                  "deploymentBlockHash",
                                  "deploymentRuntimeCodeHash",
                                  "evidenceDigest"
                                ],
                                "properties": {
                                  "schemaVersion": {
                                    "const": "programmable.robinhood-atomic-root-runtime-transition-provider-readback.v1"
                                  },
                                  "providerId": {
                                    "const": "quicknode"
                                  },
                                  "trustDomain": {
                                    "const": "quicknode.com"
                                  },
                                  "contract": {
                                    "const": "programmableLaunchStampRouter"
                                  },
                                  "address": {
                                    "const": "0x34965F2A2ee9254522232C32F02056E92BE0C98a"
                                  },
                                  "preDeploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                  },
                                  "preDeploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "preDeploymentRuntimeCodeHash": {
                                    "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                  },
                                  "deploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  },
                                  "deploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "deploymentRuntimeCodeHash": {
                                    "const": "0x1dbbdaaad901ea3c6134dca0d4872a4789b3c071bf8ccfb44edd65d26d817388"
                                  },
                                  "evidenceDigest": {
                                    "type": "string",
                                    "pattern": "^sha256:[0-9a-f]{64}$"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "schemaVersion",
                                  "providerId",
                                  "trustDomain",
                                  "contract",
                                  "address",
                                  "preDeploymentBlockNumber",
                                  "preDeploymentBlockHash",
                                  "preDeploymentRuntimeCodeHash",
                                  "deploymentBlockNumber",
                                  "deploymentBlockHash",
                                  "deploymentRuntimeCodeHash",
                                  "evidenceDigest"
                                ],
                                "properties": {
                                  "schemaVersion": {
                                    "const": "programmable.robinhood-atomic-root-runtime-transition-provider-readback.v1"
                                  },
                                  "providerId": {
                                    "const": "alchemy"
                                  },
                                  "trustDomain": {
                                    "const": "alchemy.com"
                                  },
                                  "contract": {
                                    "const": "programmableLaunchStampRouter"
                                  },
                                  "address": {
                                    "const": "0x34965F2A2ee9254522232C32F02056E92BE0C98a"
                                  },
                                  "preDeploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                  },
                                  "preDeploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "preDeploymentRuntimeCodeHash": {
                                    "const": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                  },
                                  "deploymentBlockNumber": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  },
                                  "deploymentBlockHash": {
                                    "type": "string",
                                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                                  },
                                  "deploymentRuntimeCodeHash": {
                                    "const": "0x1dbbdaaad901ea3c6134dca0d4872a4789b3c071bf8ccfb44edd65d26d817388"
                                  },
                                  "evidenceDigest": {
                                    "type": "string",
                                    "pattern": "^sha256:[0-9a-f]{64}$"
                                  }
                                }
                              }
                            ],
                            "items": false,
                            "minItems": 2,
                            "maxItems": 2
                          },
                          "stateEvidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      }
                    ],
                    "items": false,
                    "minItems": 3,
                    "maxItems": 3
                  },
                  "ethereumFinalityEvidence": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "schemaVersion",
                      "profile",
                      "l2Checkpoint",
                      "batchNumber",
                      "l2Providers",
                      "ethereumProviders",
                      "rollup",
                      "sequencerInbox",
                      "postingTransactionHash",
                      "postingBlockNumber",
                      "postingBlockHash",
                      "postingLogIndex",
                      "ethereumFinalizedCheckpoint",
                      "observedAt",
                      "captureClosureDigest",
                      "postingEventDigest",
                      "l1EvidenceDigest",
                      "evidenceDigest"
                    ],
                    "properties": {
                      "schemaVersion": {
                        "const": "programmable.robinhood-l2-checkpoint-ethereum-finality.v1"
                      },
                      "profile": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "schemaVersion",
                          "structuralProfileId",
                          "businessProfileId",
                          "admissionDescriptorDigest",
                          "admissionPolicyDigest",
                          "admissionBindingDigest",
                          "admissionSchemaDigest",
                          "profileRevision",
                          "profileVersion",
                          "profileDigest"
                        ],
                        "properties": {
                          "schemaVersion": {
                            "const": "programmable.custom-launch-profile-ref.v4"
                          },
                          "structuralProfileId": {
                            "const": "programmable.custom-launch.robinhood-mainnet.v1"
                          },
                          "businessProfileId": {
                            "const": "robinhood-production-launch"
                          },
                          "admissionDescriptorDigest": {
                            "const": "sha256:99b4ccabdaaf143bad28a8f6af441a1b93e1f113d0179236328b7fa594d1f948"
                          },
                          "admissionPolicyDigest": {
                            "const": "sha256:31e6b286ca839b31cb1edfe30c05d9f334892f3d84377961dc10b93959c7e216"
                          },
                          "admissionBindingDigest": {
                            "const": "sha256:f31643e6e9ff6d5409d59a2fc3ac7fb5ac9cfcb3af08e95c9478bc95ddfa66a2"
                          },
                          "admissionSchemaDigest": {
                            "const": "sha256:a28a6de6208d6ba7b65b4b706174509570955ba9ce9714624bcb2046ab7beae7"
                          },
                          "profileRevision": {
                            "const": 1
                          },
                          "profileVersion": {
                            "const": "4.0.0"
                          },
                          "profileDigest": {
                            "const": "sha256:484b1dc6e9091804fabc230f2b3a7504940fa00264f8e66e82a66a951e71f1a0"
                          }
                        }
                      },
                      "l2Checkpoint": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "blockNumber",
                          "blockHash"
                        ],
                        "properties": {
                          "blockNumber": {
                            "type": "string",
                            "pattern": "^[1-9][0-9]*$"
                          },
                          "blockHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          }
                        }
                      },
                      "batchNumber": {
                        "type": "string",
                        "pattern": "^[1-9][0-9]*$"
                      },
                      "l2Providers": {
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "providerId",
                              "trustDomain",
                              "l1Confirmations"
                            ],
                            "properties": {
                              "providerId": {
                                "const": "quicknode"
                              },
                              "trustDomain": {
                                "const": "quicknode.com"
                              },
                              "l1Confirmations": {
                                "type": "string",
                                "pattern": "^[1-9][0-9]*$"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "providerId",
                              "trustDomain",
                              "l1Confirmations"
                            ],
                            "properties": {
                              "providerId": {
                                "const": "alchemy"
                              },
                              "trustDomain": {
                                "const": "alchemy.com"
                              },
                              "l1Confirmations": {
                                "type": "string",
                                "pattern": "^[1-9][0-9]*$"
                              }
                            }
                          }
                        ],
                        "items": false,
                        "minItems": 2,
                        "maxItems": 2
                      },
                      "ethereumProviders": {
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "providerId",
                              "trustDomain"
                            ],
                            "properties": {
                              "providerId": {
                                "const": "drpc"
                              },
                              "trustDomain": {
                                "const": "drpc.org"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "providerId",
                              "trustDomain"
                            ],
                            "properties": {
                              "providerId": {
                                "const": "quicknode"
                              },
                              "trustDomain": {
                                "const": "quicknode.com"
                              }
                            }
                          }
                        ],
                        "items": false,
                        "minItems": 2,
                        "maxItems": 2
                      },
                      "rollup": {
                        "const": "0x23A19d23e89166adedbDcB432518AB01e4272D94"
                      },
                      "sequencerInbox": {
                        "const": "0xBd0D173EEb87D57A09521c24388a12789F33ba96"
                      },
                      "postingTransactionHash": {
                        "type": "string",
                        "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                      },
                      "postingBlockNumber": {
                        "type": "string",
                        "pattern": "^[1-9][0-9]*$"
                      },
                      "postingBlockHash": {
                        "type": "string",
                        "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                      },
                      "postingLogIndex": {
                        "type": "string",
                        "pattern": "^(?:0|[1-9][0-9]*)$"
                      },
                      "ethereumFinalizedCheckpoint": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "blockNumber",
                          "blockHash",
                          "tag"
                        ],
                        "properties": {
                          "blockNumber": {
                            "type": "string",
                            "pattern": "^[1-9][0-9]*$"
                          },
                          "blockHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "tag": {
                            "const": "finalized"
                          }
                        }
                      },
                      "observedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "captureClosureDigest": {
                        "type": "string",
                        "pattern": "^sha256:[0-9a-f]{64}$"
                      },
                      "postingEventDigest": {
                        "type": "string",
                        "pattern": "^sha256:[0-9a-f]{64}$"
                      },
                      "l1EvidenceDigest": {
                        "type": "string",
                        "pattern": "^sha256:[0-9a-f]{64}$"
                      },
                      "evidenceDigest": {
                        "type": "string",
                        "pattern": "^sha256:[0-9a-f]{64}$"
                      }
                    },
                    "x-programmable-order": "ethereumFinalizedCheckpoint.blockNumber >= postingBlockNumber"
                  },
                  "evidenceDigest": {
                    "type": "string",
                    "pattern": "^sha256:[0-9a-f]{64}$"
                  },
                  "sourceVerification": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "sourcifyProviderMatchCoveredContracts",
                      "exactByteSourceBuildTransactionCoveredContracts",
                      "officialSourcePinnedCoveredContracts"
                    ],
                    "properties": {
                      "sourcifyProviderMatchCoveredContracts": {
                        "const": [
                          "programmableLaunchStampRouter",
                          "graphFactory"
                        ]
                      },
                      "exactByteSourceBuildTransactionCoveredContracts": {
                        "const": [
                          "programmableLaunchStampRouter",
                          "graphFactory"
                        ]
                      },
                      "officialSourcePinnedCoveredContracts": {
                        "const": [
                          "permitAuthority"
                        ]
                      }
                    }
                  }
                },
                "x-programmable-order": "resultingContracts providerReadbacks prove blockNumber - 1 -> blockNumber"
              },
              "permit2GenesisProvenance": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schemaVersion",
                  "kind",
                  "address",
                  "startBlock",
                  "genesisSourceUrl",
                  "genesisSourceDigest",
                  "allocRuntimeCodeBytes",
                  "providerReadbacks",
                  "evidenceDigest"
                ],
                "properties": {
                  "schemaVersion": {
                    "const": "programmable.custom-launch-genesis-provenance.v1"
                  },
                  "kind": {
                    "const": "genesis-predeploy"
                  },
                  "address": {
                    "const": "0x000000000022D473030F116dDEE9F6B43aC78BA3"
                  },
                  "startBlock": {
                    "const": "0"
                  },
                  "genesisSourceUrl": {
                    "const": "https://cdn.robinhood.com/assets/generated_assets/hoodchain_docsite/chain-node-configs/robinhood-genesis.json"
                  },
                  "genesisSourceDigest": {
                    "const": "sha256:353e6f6441b47695b41cee0c3645cde8dd7492d2f7f574bfb6aa4371e41bb6ba"
                  },
                  "allocRuntimeCodeBytes": {
                    "const": 9152
                  },
                  "providerReadbacks": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "schemaVersion",
                          "providerId",
                          "trustDomain",
                          "blockNumber",
                          "blockHash",
                          "runtimeCodeHash",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "schemaVersion": {
                            "const": "programmable.custom-launch-genesis-provider-readback.v1"
                          },
                          "providerId": {
                            "const": "quicknode"
                          },
                          "trustDomain": {
                            "const": "quicknode.com"
                          },
                          "blockNumber": {
                            "const": "0"
                          },
                          "blockHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "runtimeCodeHash": {
                            "const": "0x5208783f52488f7d3493e5e38311ab707c1d75457fe472a19b0b4d57d66a7fca"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "schemaVersion",
                          "providerId",
                          "trustDomain",
                          "blockNumber",
                          "blockHash",
                          "runtimeCodeHash",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "schemaVersion": {
                            "const": "programmable.custom-launch-genesis-provider-readback.v1"
                          },
                          "providerId": {
                            "const": "alchemy"
                          },
                          "trustDomain": {
                            "const": "alchemy.com"
                          },
                          "blockNumber": {
                            "const": "0"
                          },
                          "blockHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "runtimeCodeHash": {
                            "const": "0x5208783f52488f7d3493e5e38311ab707c1d75457fe472a19b0b4d57d66a7fca"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      }
                    ],
                    "items": false,
                    "minItems": 2,
                    "maxItems": 2
                  },
                  "evidenceDigest": {
                    "type": "string",
                    "pattern": "^sha256:[0-9a-f]{64}$"
                  }
                },
                "x-programmable-order": "providerReadbacks[0].blockHash == providerReadbacks[1].blockHash"
              },
              "permitAuthoritySourceProvenance": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "schemaVersion",
                  "kind",
                  "address",
                  "transactionHash",
                  "blockNumber",
                  "blockHash",
                  "sourceCommitment",
                  "evidenceDigest",
                  "configurationEvidence"
                ],
                "properties": {
                  "schemaVersion": {
                    "const": "programmable.custom-launch-deployment-evidence.v1"
                  },
                  "kind": {
                    "const": "official-source-pinned"
                  },
                  "address": {
                    "const": "0xeD617CE7f82e2AB589aDeFFD319D1D872Bc8De06"
                  },
                  "transactionHash": {
                    "type": "string",
                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                  },
                  "blockNumber": {
                    "type": "string",
                    "pattern": "^[1-9][0-9]*$"
                  },
                  "blockHash": {
                    "type": "string",
                    "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                  },
                  "sourceCommitment": {
                    "const": "sha256:4591dc35029cba2a869f91919cb3cf7e7c68f26727cc68e4b03d99cdf1bc2ebb"
                  },
                  "evidenceDigest": {
                    "type": "string",
                    "pattern": "^sha256:[0-9a-f]{64}$"
                  },
                  "configurationEvidence": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "schemaVersion",
                      "finalized",
                      "blockNumber",
                      "blockHash",
                      "proxyRuntimeCodeHash",
                      "singleton",
                      "fallbackHandler",
                      "owners",
                      "threshold",
                      "nonce",
                      "modules",
                      "modulesNext",
                      "guard",
                      "fallbackHandlerRuntimeCodeHash",
                      "singletonSlot",
                      "fallbackHandlerSlot",
                      "guardSlot",
                      "primaryProvider",
                      "secondaryProvider",
                      "ethereumFinalityEvidence",
                      "atomicRootStateEvidenceDigest",
                      "evidenceDigest"
                    ],
                    "properties": {
                      "schemaVersion": {
                        "const": "programmable.safe-configuration-evidence.v1"
                      },
                      "finalized": {
                        "const": true
                      },
                      "blockNumber": {
                        "type": "string",
                        "pattern": "^[1-9][0-9]*$"
                      },
                      "blockHash": {
                        "type": "string",
                        "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                      },
                      "proxyRuntimeCodeHash": {
                        "const": "0xd7d408ebcd99b2b70be43e20253d6d92a8ea8fab29bd3be7f55b10032331fb4c"
                      },
                      "singleton": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "address",
                          "runtimeCodeHash",
                          "version",
                          "sourceCommitment"
                        ],
                        "properties": {
                          "address": {
                            "const": "0x41675C099F32341bf84BFc5382aF534df5C7461a"
                          },
                          "runtimeCodeHash": {
                            "const": "0x1fe2df852ba3299d6534ef416eefa406e56ced995bca886ab7a553e6d0c5e1c4"
                          },
                          "version": {
                            "const": "1.4.1"
                          },
                          "sourceCommitment": {
                            "const": "sha256:4591dc35029cba2a869f91919cb3cf7e7c68f26727cc68e4b03d99cdf1bc2ebb"
                          }
                        }
                      },
                      "fallbackHandler": {
                        "const": "0xfd0732Dc9E303f09fCEf3a7388Ad10A83459Ec99"
                      },
                      "fallbackHandlerRuntimeCodeHash": {
                        "const": "0x7c6007a5d711cea8dfd5d91f5940ec29c7f200fe511eb1fc1397b367af3c42f9"
                      },
                      "owners": {
                        "const": [
                          "0x032b1c7b96793717F0BD2f11eb86cd10CdefC4a3",
                          "0x2Bb333d48DFAF1596D9036671d2E43168994249E"
                        ]
                      },
                      "threshold": {
                        "const": 1
                      },
                      "nonce": {
                        "const": "0"
                      },
                      "modules": {
                        "const": []
                      },
                      "modulesNext": {
                        "const": "0x0000000000000000000000000000000000000001"
                      },
                      "guard": {
                        "const": null
                      },
                      "singletonSlot": {
                        "const": "0x00000000000000000000000041675c099f32341bf84bfc5382af534df5c7461a"
                      },
                      "fallbackHandlerSlot": {
                        "const": "0x000000000000000000000000fd0732dc9e303f09fcef3a7388ad10a83459ec99"
                      },
                      "guardSlot": {
                        "const": "0x0000000000000000000000000000000000000000000000000000000000000000"
                      },
                      "primaryProvider": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "providerId",
                          "trustDomain",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "providerId": {
                            "const": "quicknode"
                          },
                          "trustDomain": {
                            "const": "quicknode.com"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      },
                      "secondaryProvider": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "providerId",
                          "trustDomain",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "providerId": {
                            "const": "alchemy"
                          },
                          "trustDomain": {
                            "const": "alchemy.com"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        }
                      },
                      "ethereumFinalityEvidence": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "schemaVersion",
                          "profile",
                          "l2Checkpoint",
                          "batchNumber",
                          "l2Providers",
                          "ethereumProviders",
                          "rollup",
                          "sequencerInbox",
                          "postingTransactionHash",
                          "postingBlockNumber",
                          "postingBlockHash",
                          "postingLogIndex",
                          "ethereumFinalizedCheckpoint",
                          "observedAt",
                          "captureClosureDigest",
                          "postingEventDigest",
                          "l1EvidenceDigest",
                          "evidenceDigest"
                        ],
                        "properties": {
                          "schemaVersion": {
                            "const": "programmable.robinhood-l2-checkpoint-ethereum-finality.v1"
                          },
                          "profile": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "schemaVersion",
                              "structuralProfileId",
                              "businessProfileId",
                              "admissionDescriptorDigest",
                              "admissionPolicyDigest",
                              "admissionBindingDigest",
                              "admissionSchemaDigest",
                              "profileRevision",
                              "profileVersion",
                              "profileDigest"
                            ],
                            "properties": {
                              "schemaVersion": {
                                "const": "programmable.custom-launch-profile-ref.v4"
                              },
                              "structuralProfileId": {
                                "const": "programmable.custom-launch.robinhood-mainnet.v1"
                              },
                              "businessProfileId": {
                                "const": "robinhood-production-launch"
                              },
                              "admissionDescriptorDigest": {
                                "const": "sha256:99b4ccabdaaf143bad28a8f6af441a1b93e1f113d0179236328b7fa594d1f948"
                              },
                              "admissionPolicyDigest": {
                                "const": "sha256:31e6b286ca839b31cb1edfe30c05d9f334892f3d84377961dc10b93959c7e216"
                              },
                              "admissionBindingDigest": {
                                "const": "sha256:f31643e6e9ff6d5409d59a2fc3ac7fb5ac9cfcb3af08e95c9478bc95ddfa66a2"
                              },
                              "admissionSchemaDigest": {
                                "const": "sha256:a28a6de6208d6ba7b65b4b706174509570955ba9ce9714624bcb2046ab7beae7"
                              },
                              "profileRevision": {
                                "const": 1
                              },
                              "profileVersion": {
                                "const": "4.0.0"
                              },
                              "profileDigest": {
                                "const": "sha256:484b1dc6e9091804fabc230f2b3a7504940fa00264f8e66e82a66a951e71f1a0"
                              }
                            }
                          },
                          "l2Checkpoint": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "blockNumber",
                              "blockHash"
                            ],
                            "properties": {
                              "blockNumber": {
                                "type": "string",
                                "pattern": "^[1-9][0-9]*$"
                              },
                              "blockHash": {
                                "type": "string",
                                "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                              }
                            }
                          },
                          "batchNumber": {
                            "type": "string",
                            "pattern": "^[1-9][0-9]*$"
                          },
                          "l2Providers": {
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "providerId",
                                  "trustDomain",
                                  "l1Confirmations"
                                ],
                                "properties": {
                                  "providerId": {
                                    "const": "quicknode"
                                  },
                                  "trustDomain": {
                                    "const": "quicknode.com"
                                  },
                                  "l1Confirmations": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "providerId",
                                  "trustDomain",
                                  "l1Confirmations"
                                ],
                                "properties": {
                                  "providerId": {
                                    "const": "alchemy"
                                  },
                                  "trustDomain": {
                                    "const": "alchemy.com"
                                  },
                                  "l1Confirmations": {
                                    "type": "string",
                                    "pattern": "^[1-9][0-9]*$"
                                  }
                                }
                              }
                            ],
                            "items": false,
                            "minItems": 2,
                            "maxItems": 2
                          },
                          "ethereumProviders": {
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "providerId",
                                  "trustDomain"
                                ],
                                "properties": {
                                  "providerId": {
                                    "const": "drpc"
                                  },
                                  "trustDomain": {
                                    "const": "drpc.org"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "providerId",
                                  "trustDomain"
                                ],
                                "properties": {
                                  "providerId": {
                                    "const": "quicknode"
                                  },
                                  "trustDomain": {
                                    "const": "quicknode.com"
                                  }
                                }
                              }
                            ],
                            "items": false,
                            "minItems": 2,
                            "maxItems": 2
                          },
                          "rollup": {
                            "const": "0x23A19d23e89166adedbDcB432518AB01e4272D94"
                          },
                          "sequencerInbox": {
                            "const": "0xBd0D173EEb87D57A09521c24388a12789F33ba96"
                          },
                          "postingTransactionHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "postingBlockNumber": {
                            "type": "string",
                            "pattern": "^[1-9][0-9]*$"
                          },
                          "postingBlockHash": {
                            "type": "string",
                            "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                          },
                          "postingLogIndex": {
                            "type": "string",
                            "pattern": "^(?:0|[1-9][0-9]*)$"
                          },
                          "ethereumFinalizedCheckpoint": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "blockNumber",
                              "blockHash",
                              "tag"
                            ],
                            "properties": {
                              "blockNumber": {
                                "type": "string",
                                "pattern": "^[1-9][0-9]*$"
                              },
                              "blockHash": {
                                "type": "string",
                                "pattern": "^0x(?!0{64}$)[0-9a-f]{64}$"
                              },
                              "tag": {
                                "const": "finalized"
                              }
                            }
                          },
                          "observedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "captureClosureDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "postingEventDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "l1EvidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          },
                          "evidenceDigest": {
                            "type": "string",
                            "pattern": "^sha256:[0-9a-f]{64}$"
                          }
                        },
                        "x-programmable-order": "ethereumFinalizedCheckpoint.blockNumber >= postingBlockNumber"
                      },
                      "atomicRootStateEvidenceDigest": {
                        "type": "string",
                        "pattern": "^sha256:[0-9a-f]{64}$"
                      },
                      "evidenceDigest": {
                        "type": "string",
                        "pattern": "^sha256:[0-9a-f]{64}$"
                      }
                    }
                  }
                }
              },
              "externalRootDeploymentEvidence": {
                "type": "array",
                "prefixItems": [
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "schemaVersion",
                      "contract",
                      "kind",
                      "address",
                      "runtimeCodeHash",
                      "transactionHash",
                      "previousBlockNumber",
                      "previousBlockHash",
                      "previousBlockRuntimeCodeHash",
                      "startBlock",
                      "blockHash",
                      "registrySource",
                      "providerReadbacks",
                      "evidenceDigest"
                    ],
                    "properties": {
                      "schemaVersion": {
                        "const": "programmable.custom-launch-deployment-evidence.v1"
                      },
                      "contract": {
                        "const": "poolManager"
                      },
                      "kind": {
                        "const": "exact-observed-deployment"
                      },
                      "address": {
                        "const": "0x8366a39CC670B4001A1121B8F6A443A643e40951"
                      },
                      "runtimeCodeHash": {
                        "const": "0xbd3881180b547f5fe817545743cfb4343e96b1bc6640dcd70c106b0066e95626"
                      },
                      "transactionHash": {
                        "const": "0x4fb28d4935866f462582c6c931c6f2705e55f5be5eb178c7d8d9329a95c44c41"
                      },
                      "previousBlockNumber": {
                        "const": "9069"
[...]
