{
  "openapi": "3.1.0",
  "info": {
    "title": "Programmable Custom Launch API V3 profile preview",
    "version": "3.0.0-rc.1",
    "summary": "Integration-pending direct native hook graph request contract.",
    "description": "This document freezes the versioned V3 request shape for programmable.direct-native-hook-graph.v1 without activating it. Public V2 remains the stable production creation contract. V3 fails closed with CUSTOM_LAUNCH_V3_INTEGRATION_PENDING until the V3 routes and existing permit-authority admission binding are implemented and verified end to end. The initializer is bound per launch through exact source, build, runtime, unsigned signature patch, final calldata and simulation evidence; there is no separate global initializer trust root. The create request carries an unsigned EIP-3009 descriptor and a pre-signature fundingIntentHash; it never carries v, r, s or a wallet signature.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.programmable.market",
      "description": "Programmable Custom Launch API. V3 is not activated."
    }
  ],
  "externalDocs": {
    "description": "Custom Launch API guide and activation boundary",
    "url": "https://programmable.market/docs/developers/custom-launch"
  },
  "security": [
    {
      "CustomLaunchApiKey": []
    }
  ],
  "x-programmable-availability": {
    "status": "integration-pending",
    "publicAuthorized": false,
    "publicCreate": {
      "status": "integration-pending",
      "path": "/v3/custom-launches",
      "httpStatus": 503,
      "errorCode": "CUSTOM_LAUNCH_V3_INTEGRATION_PENDING",
      "retryable": false
    },
    "stableProductionVersion": "2",
    "stableOpenApiUrl": "https://programmable.market/openapi/custom-launch-v2.json",
    "activationBlockers": [
      "v3-route-implementation",
      "permit-authority-admission-binding",
      "end-to-end-wallet-handoff-verification"
    ]
  },
  "x-programmable-profile": {
    "profileId": "programmable.direct-native-hook-graph.v1",
    "profileRevision": 1,
    "productionLaunchAuthorized": false,
    "minimumTargets": 3,
    "maximumTargets": 16,
    "referenceKernel": "ProgrammableVolumeFeeHookV2",
    "requiredHookPermissionMask": 8396,
    "requiredHookPermissionMaskHex": "0x20cc",
    "arbitraryHookCodeAuthorized": false
  },
  "x-programmable-funding-boundary": {
    "method": "eip-3009-receive-with-authorization",
    "descriptorSchemaVersion": "programmable.funding-authorization-descriptor.v1",
    "signatureIncludedInCreateRequest": false,
    "fundingIntentHashStage": "pre-signature",
    "excludedFromFundingIntentHash": [
      "signature",
      "initializerCalldataHash",
      "graphCommitment",
      "permitDigest"
    ],
    "automaticSigning": false,
    "automaticBroadcast": false
  },
  "x-programmable-fee-accounting": {
    "accountingMode": "inclusive-selected-total",
    "rateDenominator": "1000000",
    "programmableFeeHundredthsOfBip": "1000",
    "minimumEffectiveSelectedHundredthsOfBip": "1000",
    "invariant": "effectiveTotal=max(selectedTotal,1000); programmableShare=1000; projectShare=effectiveTotal-1000",
    "derivedResultsAreRequestFields": false
  },
  "tags": [
    {
      "name": "V3 profile preview",
      "description": "Schema preview only. It is not a production launch capability."
    }
  ],
  "paths": {
    "/v3/custom-launches": {
      "post": {
        "operationId": "createDirectNativeCustomLaunchV3",
        "summary": "Submit an integration-pending V3 request",
        "description": "The route identifier and request schema are reserved, but production creation is not activated. Do not submit until discovery changes this operation to live after the V3 routes and existing permit-authority admission binding are verified. Each initializer remains per-launch bound to exact source, build, runtime, unsigned signature patch, final calldata and simulation evidence. The unsigned funding descriptor is derived before any wallet signature and is not circularly bound to signature-bearing initializer calldata.",
        "tags": [
          "V3 profile preview"
        ],
        "x-programmable-public-availability": "integration-pending",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Reserved exact-request idempotency binding. It does not activate V3 and must not contain an API key or wallet signature.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "After activation only: an exact Idempotency-Key replay returns the existing V3 resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "202": {
            "description": "After activation only: a new request is durably accepted and enters awaiting_funding_authorization after preparation.",
            "headers": {
              "Location": {
                "description": "Version-matched single-resource polling path.",
                "schema": {
                  "type": "string",
                  "pattern": "^/v3/custom-launches/[A-Za-z0-9_-]{16,128}$"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "503": {
            "description": "V3 remains fail-closed. Wait for discovery to advertise live activation; do not fall back to another create version or mutate request bytes.",
            "headers": {
              "Retry-After": {
                "description": "Current integration-pending response uses 30 seconds. Discovery, not repeated create attempts, is the activation authority.",
                "schema": {
                  "type": "string",
                  "const": "30"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                },
                "example": {
                  "schemaVersion": "programmable.api-error.v1",
                  "error": {
                    "code": "CUSTOM_LAUNCH_V3_INTEGRATION_PENDING",
                    "message": "V3 routes and permit-authority admission binding are not activated",
                    "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listDirectNativeCustomLaunchesV3",
        "summary": "List wallet-owned V3 resources",
        "description": "Version-matched list contract. It is documented for integration parity but remains integration-pending until V3 activation.",
        "tags": [
          "V3 profile preview"
        ],
        "x-programmable-public-availability": "integration-pending",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 512,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "After activation only: wallet-owned V3 resource page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchListPageV3"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/V3IntegrationPending"
          }
        }
      }
    },
    "/v3/custom-launches/{launchId}": {
      "get": {
        "operationId": "getDirectNativeCustomLaunchV3",
        "summary": "Read one wallet-owned V3 resource",
        "description": "The single-resource contract is the source of the exact funding challenge and, after a separately validated funding signature, the exact Router transaction. The API never signs or broadcasts either action. This route remains integration-pending until V3 activation.",
        "tags": [
          "V3 profile preview"
        ],
        "x-programmable-public-availability": "integration-pending",
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "After activation only: current durable V3 resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "404": {
            "description": "Launch not found for this wallet principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/V3IntegrationPending"
          }
        }
      }
    },
    "/v3/wallet-admin/custom-launches/{launchId}/funding-authorization": {
      "post": {
        "operationId": "submitDirectNativeFundingAuthorizationV3",
        "summary": "Submit one explicitly wallet-signed EIP-3009 authorization",
        "description": "Website-BFF to backend handoff only; this is not an API-key CLI operation. The website must first authenticate the wallet principal, show and validate the exact challenge, request eth_signTypedData_v4 only after an explicit user action, verify the canonical signature client-side, and then submit it once with a durable Idempotency-Key. Acceptance does not send the separate Router transaction.",
        "tags": [
          "V3 profile preview"
        ],
        "x-programmable-public-availability": "integration-pending",
        "security": [
          {
            "CustomLaunchWebsiteToken": []
          }
        ],
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Durably binds this exact signature body. An identical replay returns 200; body substitution under the same key returns 409.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Programmable-Privy-User-Id",
            "in": "header",
            "required": true,
            "description": "Server-verified Privy principal. Browsers must not manufacture this header directly.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "X-Programmable-Wallet-Address",
            "in": "header",
            "required": true,
            "description": "Checksum wallet address already proven linked to the authenticated principal by the website BFF.",
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundingAuthorizationSubmissionV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact Idempotency-Key and body replay; returns the existing full V3 resource without applying the signature twice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "202": {
            "description": "First acceptance of the exact canonical signature. The resource advances to funding_authorization_verified, simulating, or authorized; the Router transaction still requires a later explicit wallet send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "400": {
            "description": "Malformed schema, signature, digest, launch binding, or Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "401": {
            "description": "Website service authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "403": {
            "description": "The verified principal does not control the launch wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "404": {
            "description": "Launch not found for this wallet principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency substitution, stale funding intent/digest, or a launch that already advanced under different authorization bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/V3IntegrationPending"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CustomLaunchApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pm_live_<22-char-key-id>_<43-char-secret>",
        "description": "Wallet-bound API key loaded from PROGRAMMABLE_API_KEY or the supported operating-system secret store. It is never accepted as an argument or prompt and grants no wallet signing authority."
      },
      "CustomLaunchWebsiteToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "server-held website service token",
        "description": "Server-to-server credential held only by the Programmable website BFF. A browser authenticates its own wallet session to the BFF and never receives this token."
      }
    },
    "responses": {
      "V3IntegrationPending": {
        "description": "V3 routes and permit-authority admission binding are not activated.",
        "headers": {
          "Retry-After": {
            "description": "Current integration-pending response uses 30 seconds.",
            "schema": {
              "type": "string",
              "const": "30"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            },
            "example": {
              "schemaVersion": "programmable.api-error.v1",
              "error": {
                "code": "CUSTOM_LAUNCH_V3_INTEGRATION_PENDING",
                "message": "V3 routes and permit-authority admission binding are not activated",
                "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "NonzeroCanonicalUint256": {
        "type": "string",
        "pattern": "^(?:[1-9][0-9]*)$",
        "maxLength": 78,
        "description": "Nonzero base-10 uint256 with no sign or leading zeroes."
      },
      "SelectedFeeHundredthsOfBipV1": {
        "type": "string",
        "pattern": "^(?:0|[1-9][0-9]{0,5})$",
        "description": "Intent-bound selected total from 0 through 999999 hundredths of a bip. The effective total is max(selected,1000)."
      },
      "DirectNativeTargetRolesV1": {
        "type": "object",
        "required": [
          "tokenTargetId",
          "hookTargetId",
          "initializerTargetId",
          "platformFeeBindingTargetId"
        ],
        "properties": {
          "tokenTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier"
          },
          "hookTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier"
          },
          "initializerTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "Must reference a direct graph target whose componentKind is other. Initializer is a role, not a component kind."
          },
          "platformFeeBindingTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "Must equal hookTargetId."
          }
        },
        "description": "The token, hook and initializer IDs are distinct. The fee readback is bound to the selected hook target.",
        "additionalProperties": false
      },
      "PlatformFeeReadbackSelectorsV1": {
        "type": "object",
        "required": [
          "programmableHundredthsOfBip",
          "programmableFeeOwner",
          "programmableFeePolicyHash",
          "runtimeConfigurationHash"
        ],
        "properties": {
          "programmableHundredthsOfBip": {
            "const": "0x8a9585e4"
          },
          "programmableFeeOwner": {
            "const": "0x21466b6a"
          },
          "programmableFeePolicyHash": {
            "const": "0x677d6592"
          },
          "runtimeConfigurationHash": {
            "const": "0xca7751ad"
          }
        },
        "additionalProperties": false
      },
      "InclusivePlatformFeeV1": {
        "type": "object",
        "required": [
          "accountingMode",
          "rateDenominator",
          "programmableFeeHundredthsOfBip",
          "minimumEffectiveSelectedHundredthsOfBip",
          "recipient",
          "readbackSelectors"
        ],
        "properties": {
          "accountingMode": {
            "const": "inclusive-selected-total"
          },
          "rateDenominator": {
            "const": "1000000"
          },
          "programmableFeeHundredthsOfBip": {
            "const": "1000",
            "description": "Programmable's inclusive share: 1,000 hundredths of a bip = 0.10% = 10 bps of the documented basis."
          },
          "minimumEffectiveSelectedHundredthsOfBip": {
            "const": "1000"
          },
          "recipient": {
            "const": "0x4957f49620AFf3Adbbe8195a4f633E49cc93376c"
          },
          "readbackSelectors": {
            "$ref": "#/components/schemas/PlatformFeeReadbackSelectorsV1"
          }
        },
        "description": "The Programmable share is inside the selected total, not added on top. The CLI and backend derive effectiveTotal=max(selectedTotal,1000) and projectShare=effectiveTotal-1000.",
        "additionalProperties": false
      },
      "DirectNativeGraphPolicyV1": {
        "type": "object",
        "required": [
          "minimumTargets",
          "maximumTargets",
          "directTargetsOnly"
        ],
        "properties": {
          "minimumTargets": {
            "const": 3
          },
          "maximumTargets": {
            "const": 16
          },
          "directTargetsOnly": {
            "const": true
          }
        },
        "additionalProperties": false
      },
      "DirectNativeCurrencyPolicyV1": {
        "type": "object",
        "required": [
          "native",
          "erc20"
        ],
        "properties": {
          "native": {
            "const": true
          },
          "erc20": {
            "const": true
          }
        },
        "additionalProperties": false
      },
      "DirectNativeHookPermissionPolicyV1": {
        "type": "object",
        "required": [
          "minimumMask",
          "maximumMask",
          "requireHookMinerAddressMaskMatch"
        ],
        "properties": {
          "minimumMask": {
            "const": 0
          },
          "maximumMask": {
            "const": 16383
          },
          "requireHookMinerAddressMaskMatch": {
            "const": true
          }
        },
        "description": "The general direct-graph validator checks the full 14-bit range and permission dependencies. This integration preview separately restricts fee enforcement to the exact canonical mask 0x20cc.",
        "additionalProperties": false
      },
      "CanonicalVolumeFeeEnforcementV1": {
        "type": "object",
        "required": [
          "mode",
          "requiredHookPermissionMask",
          "hookSourcePath",
          "hookSourceSha256",
          "factorySourcePath",
          "factorySourceSha256",
          "dependencyLockSha256",
          "compilerVersion",
          "compilerSettingsSha256",
          "hookCreationBytecodeSha256",
          "hookRuntimeTemplateSha256",
          "hookRuntimeCodeHash"
        ],
        "properties": {
          "mode": {
            "const": "canonical-volume-fee-v2"
          },
          "requiredHookPermissionMask": {
            "const": 8396
          },
          "hookSourcePath": {
            "const": "src/ProgrammableVolumeFeeHookV2.sol"
          },
          "hookSourceSha256": {
            "const": "sha256:41294f0701d3911b740a0cea160b936cb0eea4bdf2a664e7c6674a1c1e1b519d"
          },
          "factorySourcePath": {
            "const": "src/ProgrammableVolumeFeeHookFactoryV2.sol"
          },
          "factorySourceSha256": {
            "const": "sha256:aa2673f4635543b5c24b140030461fe3161138d2d02d24c1c8c1830c13d60145"
          },
          "dependencyLockSha256": {
            "const": "sha256:e73b8f213af284c54550e7bdf5416e9bf1f17774b4f6e23d3bb8f6a150ede759"
          },
          "compilerVersion": {
            "const": "0.8.26+commit.8a97fa7a"
          },
          "compilerSettingsSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "hookCreationBytecodeSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "hookRuntimeTemplateSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "hookRuntimeCodeHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          }
        },
        "description": "Exact canonical ProgrammableVolumeFeeHookV2 source and build binding. Arbitrary self-reported hook code is not authorized by this profile.",
        "additionalProperties": false
      },
      "DirectNativeFundingPolicyV1": {
        "type": "object",
        "required": [
          "method",
          "primaryType",
          "typeHash",
          "domainName",
          "domainVersion",
          "maximumValiditySeconds"
        ],
        "properties": {
          "method": {
            "const": "eip-3009-receive-with-authorization"
          },
          "primaryType": {
            "const": "ReceiveWithAuthorization"
          },
          "typeHash": {
            "const": "0xd099cc98ef71107a616c4f0f941f04c322d8e254fe26b3c6668db87aae413de8"
          },
          "domainName": {
            "const": "USD Coin"
          },
          "domainVersion": {
            "const": "2"
          },
          "maximumValiditySeconds": {
            "const": "3600"
          }
        },
        "additionalProperties": false
      },
      "DirectNativeHookGraphProfileV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "profileId",
          "profileRevision",
          "profileVersion",
          "productionLaunchAuthorized",
          "chainId",
          "router",
          "routerRuntimeCodeHash",
          "permitAuthority",
          "permitAuthorityRuntimeCodeHash",
          "graphFactory",
          "graphFactoryRuntimeCodeHash",
          "poolManager",
          "poolManagerRuntimeCodeHash",
          "fundingToken",
          "fundingTokenRuntimeCodeHash",
          "graphPolicy",
          "currencyPolicy",
          "hookPermissionPolicy",
          "feeEnforcement",
          "fundingPolicy",
          "platformFee"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.direct-native-hook-graph-profile.v1"
          },
          "profileId": {
            "const": "programmable.direct-native-hook-graph.v1"
          },
          "profileRevision": {
            "const": 1
          },
          "profileVersion": {
            "const": "1.0.0"
          },
          "productionLaunchAuthorized": {
            "const": false,
            "description": "The integration-preview value is false. A request value cannot activate the backend."
          },
          "chainId": {
            "const": "1"
          },
          "router": {
            "const": "0x8622DD5bAb44185f2A458ac90384Ac99248f8d56"
          },
          "routerRuntimeCodeHash": {
            "const": "0x40e27ecf201761d5eb66bc4f2d5c6124831ef078d7baf458ca5f41b1a8108546"
          },
          "permitAuthority": {
            "const": "0x755509eA6e3F5Ec1aA2E797bb68f1B87DD8b886b"
          },
          "permitAuthorityRuntimeCodeHash": {
            "const": "0xd7d408ebcd99b2b70be43e20253d6d92a8ea8fab29bd3be7f55b10032331fb4c"
          },
          "graphFactory": {
            "const": "0xB012e4A8F2c5FC4E8E4faCA9D5Ad6FfF13FBA887"
          },
          "graphFactoryRuntimeCodeHash": {
            "const": "0xd23692fae59331592048e71a96d4963e170ee56e449683dc9f7fa3f9470018b8"
          },
          "poolManager": {
            "const": "0x000000000004444c5dc75cB358380D2e3dE08A90"
          },
          "poolManagerRuntimeCodeHash": {
            "const": "0x785f1014552b7ce7d5fb7d0c970ca60edee94fd00425d7ca21609acac7ce1293"
          },
          "fundingToken": {
            "const": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "fundingTokenRuntimeCodeHash": {
            "const": "0xd80d4b7c890cb9d6a4893e6b52bc34b56b25335cb13716e0d1d31383e6b41505"
          },
          "graphPolicy": {
            "$ref": "#/components/schemas/DirectNativeGraphPolicyV1"
          },
          "currencyPolicy": {
            "$ref": "#/components/schemas/DirectNativeCurrencyPolicyV1"
          },
          "hookPermissionPolicy": {
            "$ref": "#/components/schemas/DirectNativeHookPermissionPolicyV1"
          },
          "feeEnforcement": {
            "$ref": "#/components/schemas/CanonicalVolumeFeeEnforcementV1"
          },
          "fundingPolicy": {
            "$ref": "#/components/schemas/DirectNativeFundingPolicyV1"
          },
          "platformFee": {
            "$ref": "#/components/schemas/InclusivePlatformFeeV1"
          }
        },
        "description": "Closed integration-preview profile. The current embedded value has productionLaunchAuthorized false until V3 routes and the existing permit-authority admission binding are verified end to end. Initializer evidence is exact and per launch, not a separate global trust root.",
        "additionalProperties": false
      },
      "DirectNativePoolKeyV1": {
        "type": "object",
        "required": [
          "currency0",
          "currency1",
          "fee",
          "tickSpacing",
          "hooks"
        ],
        "properties": {
          "currency0": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "currency1": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "fee": {
            "type": "integer",
            "minimum": 0,
            "maximum": 999999,
            "description": "Static V3 pool fee. The dynamic-fee sentinel is not authorized by this frozen profile."
          },
          "tickSpacing": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32767
          },
          "hooks": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          }
        },
        "description": "Currencies are distinct and sorted by numeric address. The hook address must expose low-bit permission mask 0x20cc.",
        "additionalProperties": false
      },
      "DirectNativePlatformFeeBindingV1": {
        "type": "object",
        "required": [
          "targetId",
          "accountingMode",
          "rateDenominator",
          "programmableFeeHundredthsOfBip",
          "minimumEffectiveSelectedHundredthsOfBip",
          "recipient",
          "readbackSelectors",
          "selectedBuyHundredthsOfBip",
          "selectedSellHundredthsOfBip"
        ],
        "properties": {
          "targetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "Must equal targetRoles.hookTargetId and targetRoles.platformFeeBindingTargetId."
          },
          "accountingMode": {
            "const": "inclusive-selected-total"
          },
          "rateDenominator": {
            "const": "1000000"
          },
          "programmableFeeHundredthsOfBip": {
            "const": "1000"
          },
          "minimumEffectiveSelectedHundredthsOfBip": {
            "const": "1000"
          },
          "recipient": {
            "const": "0x4957f49620AFf3Adbbe8195a4f633E49cc93376c"
          },
          "readbackSelectors": {
            "$ref": "#/components/schemas/PlatformFeeReadbackSelectorsV1"
          },
          "selectedBuyHundredthsOfBip": {
            "$ref": "#/components/schemas/SelectedFeeHundredthsOfBipV1"
          },
          "selectedSellHundredthsOfBip": {
            "$ref": "#/components/schemas/SelectedFeeHundredthsOfBipV1"
          }
        },
        "description": "Selected totals are intent-bound inputs. Effective totals and project shares are derived, disclosed results and are not self-declared request fields.",
        "additionalProperties": false
      },
      "DirectNativeProfileSelectionBindingV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "profileId",
          "profileRevision",
          "targetRoles",
          "routeNamespace",
          "routeNonce",
          "hookPermissionMask",
          "predictedInitializer",
          "poolKey",
          "expectedPoolId",
          "fundingSignaturePatch",
          "platformFeeBinding"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.direct-native-hook-graph-profile-selection-binding.v1"
          },
          "profileId": {
            "const": "programmable.direct-native-hook-graph.v1"
          },
          "profileRevision": {
            "const": 1
          },
          "targetRoles": {
            "$ref": "#/components/schemas/DirectNativeTargetRolesV1"
          },
          "routeNamespace": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "routeNonce": {
            "$ref": "./custom-launch-v2.json#/components/schemas/NonzeroLowerHex32"
          },
          "hookPermissionMask": {
            "const": 8396
          },
          "predictedInitializer": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "poolKey": {
            "$ref": "#/components/schemas/DirectNativePoolKeyV1"
          },
          "expectedPoolId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "fundingSignaturePatch": {
            "$ref": "#/components/schemas/FundingSignaturePatchDescriptorV1"
          },
          "platformFeeBinding": {
            "$ref": "#/components/schemas/DirectNativePlatformFeeBindingV1"
          }
        },
        "additionalProperties": false
      },
      "FundingSignaturePatchDescriptorV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "targetId",
          "unsignedInitializerCalldataSha256",
          "initializerCalldataLengthBytes",
          "signatureEncoding",
          "rOffsetBytes",
          "sOffsetBytes",
          "vOffsetBytes"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.eip3009-signature-patch.v1"
          },
          "targetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "Must equal targetRoles.initializerTargetId."
          },
          "unsignedInitializerCalldataSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "initializerCalldataLengthBytes": {
            "type": "integer",
            "minimum": 100,
            "maximum": 131072
          },
          "signatureEncoding": {
            "const": "eip3009-r-s-v-abi-words"
          },
          "rOffsetBytes": {
            "type": "integer",
            "minimum": 4,
            "maximum": 131040
          },
          "sOffsetBytes": {
            "type": "integer",
            "minimum": 4,
            "maximum": 131040
          },
          "vOffsetBytes": {
            "type": "integer",
            "minimum": 4,
            "maximum": 131040
          }
        },
        "description": "Derived unsigned initializer binding. Offsets include the four-byte selector, are distinct, satisfy (offset-4)%32=0, remain in bounds and identify all-zero ABI words. The create request still contains no signature bytes.",
        "additionalProperties": false
      },
      "Eip3009FundingAuthorizationDescriptorV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "method",
          "token",
          "from",
          "to",
          "value",
          "validAfter",
          "validBefore",
          "nonce"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.funding-authorization-descriptor.v1"
          },
          "method": {
            "const": "eip-3009-receive-with-authorization"
          },
          "token": {
            "const": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "from": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress",
            "description": "Must equal launchWallet."
          },
          "to": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress",
            "description": "Must equal launchProfileSelection.predictedInitializer."
          },
          "value": {
            "$ref": "#/components/schemas/NonzeroCanonicalUint256"
          },
          "validAfter": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalUint256"
          },
          "validBefore": {
            "$ref": "#/components/schemas/NonzeroCanonicalUint256"
          },
          "nonce": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          }
        },
        "description": "Unsigned descriptor only. It requires validAfter < now < validBefore. It contains no signature, v, r or s. Its nonce is derived from the pre-signature funding intent, not from signature-bearing initializer calldata.",
        "additionalProperties": false
      },
      "CustomGraphBundleV3": {
        "allOf": [
          {
            "$ref": "./custom-launch-v2.json#/components/schemas/CustomGraphBundleV1"
          },
          {
            "type": "object",
            "properties": {
              "targets": {
                "type": "array",
                "minItems": 3,
                "maxItems": 16
              }
            }
          }
        ],
        "description": "The Router primitive supports 2 through 16 targets, while this V3 profile narrows its request to 3 through 16 because token, hook and initializer roles are distinct. Return-delta permissions require their corresponding action permission; this canonical kernel uses exact mask 0x20cc."
      },
      "CustomLaunchCreateRequestV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "launchWallet",
          "chainId",
          "nonce",
          "sourceDescriptor",
          "sourceBundleManifest",
          "graphBundle",
          "launchProfile",
          "launchProfileSelection",
          "launchProfileHash",
          "launchIntentHash",
          "fundingAuthorization",
          "fundingIntentHash",
          "agentAttestation",
          "verificationBundle"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-create-request.v3"
          },
          "launchWallet": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "chainId": {
            "const": "1"
          },
          "nonce": {
            "$ref": "./custom-launch-v2.json#/components/schemas/NonzeroLowerHex32"
          },
          "sourceDescriptor": {
            "$ref": "./custom-launch-v2.json#/components/schemas/DeterministicSourceBundleV2"
          },
          "sourceBundleManifest": {
            "$ref": "./custom-launch-v2.json#/components/schemas/SourceBundleManifestV2"
          },
          "graphBundle": {
            "$ref": "#/components/schemas/CustomGraphBundleV3"
          },
          "launchProfile": {
            "$ref": "#/components/schemas/DirectNativeHookGraphProfileV1"
          },
          "launchProfileSelection": {
            "$ref": "#/components/schemas/DirectNativeProfileSelectionBindingV1"
          },
          "launchProfileHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "launchIntentHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "fundingAuthorization": {
            "$ref": "#/components/schemas/Eip3009FundingAuthorizationDescriptorV1"
          },
          "fundingIntentHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32",
            "description": "Pre-signature domain-separated funding intent. It is not a sha256: label and does not include signature-bearing initializer calldata or a final graph commitment."
          },
          "agentAttestation": {
            "$ref": "./custom-launch-v2.json#/components/schemas/AgentLaunchAttestationV2"
          },
          "verificationBundle": {
            "$ref": "./custom-launch-v2.json#/components/schemas/ExactSourceVerificationBundleV2"
          }
        },
        "description": "Closed unsigned V3 create envelope for the exact reference kernel. The request has no signature property and additional properties are rejected.",
        "additionalProperties": false
      },
      "Eip3009FundingTypedDataV1": {
        "type": "object",
        "required": [
          "domain",
          "primaryType",
          "types",
          "message"
        ],
        "properties": {
          "domain": {
            "type": "object",
            "required": [
              "name",
              "version",
              "chainId",
              "verifyingContract"
            ],
            "properties": {
              "name": {
                "const": "USD Coin"
              },
              "version": {
                "const": "2"
              },
              "chainId": {
                "const": 1
              },
              "verifyingContract": {
                "const": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
              }
            },
            "additionalProperties": false
          },
          "primaryType": {
            "const": "ReceiveWithAuthorization"
          },
          "types": {
            "type": "object",
            "required": [
              "ReceiveWithAuthorization"
            ],
            "properties": {
              "ReceiveWithAuthorization": {
                "type": "array",
                "prefixItems": [
                  {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": { "const": "from" },
                      "type": { "const": "address" }
                    },
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": { "const": "to" },
                      "type": { "const": "address" }
                    },
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": { "const": "value" },
                      "type": { "const": "uint256" }
                    },
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": { "const": "validAfter" },
                      "type": { "const": "uint256" }
                    },
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": { "const": "validBefore" },
                      "type": { "const": "uint256" }
                    },
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": { "const": "nonce" },
                      "type": { "const": "bytes32" }
                    },
                    "additionalProperties": false
                  }
                ],
                "minItems": 6,
                "maxItems": 6
              }
            },
            "additionalProperties": false
          },
          "message": {
            "type": "object",
            "required": [
              "from",
              "to",
              "value",
              "validAfter",
              "validBefore",
              "nonce"
            ],
            "properties": {
              "from": {
                "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
              },
              "to": {
                "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
              },
              "value": {
                "$ref": "#/components/schemas/NonzeroCanonicalUint256"
              },
              "validAfter": {
                "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalUint256"
              },
              "validBefore": {
                "$ref": "#/components/schemas/NonzeroCanonicalUint256"
              },
              "nonce": {
                "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
              }
            },
            "additionalProperties": false
          }
        },
        "description": "Exact eth_signTypedData_v4 payload. The connected wallet, chain, domain, to, value, nonce and validity window must be checked client-side before the explicit signature action.",
        "additionalProperties": false
      },
      "CustomLaunchFundingChallengeV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "kind",
          "method",
          "fundingIntentHash",
          "fundingAuthorization",
          "typedData",
          "typedDataDigest",
          "submission"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-funding-challenge.v1"
          },
          "kind": {
            "const": "wallet-signature"
          },
          "method": {
            "const": "eip-3009-receive-with-authorization"
          },
          "fundingIntentHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "fundingAuthorization": {
            "$ref": "#/components/schemas/Eip3009FundingAuthorizationDescriptorV1"
          },
          "typedData": {
            "$ref": "#/components/schemas/Eip3009FundingTypedDataV1"
          },
          "typedDataDigest": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "submission": {
            "type": "object",
            "required": [
              "method",
              "path",
              "schemaVersion"
            ],
            "properties": {
              "method": {
                "const": "POST"
              },
              "path": {
                "type": "string",
                "pattern": "^/v3/wallet-admin/custom-launches/[A-Za-z0-9_-]{16,128}/funding-authorization$",
                "description": "Single-resource website wallet-admin handoff returned by the backend. It is not an API-key CLI operation."
              },
              "schemaVersion": {
                "const": "programmable.custom-launch-funding-authorization-signature.v1"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "FundingAuthorizationSubmissionV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "fundingIntentHash",
          "typedDataDigest",
          "signature"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-funding-authorization-signature.v1"
          },
          "fundingIntentHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "typedDataDigest": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "signature": {
            "type": "string",
            "pattern": "^0x[0-9a-f]{130}$",
            "description": "Canonical 65-byte lower-case r || s || v serialization. The website submits it only after an explicit wallet signature action."
          }
        },
        "description": "Website wallet-admin handoff schema. It is exposed only on the website-token operation and never on an API-key CLI operation.",
        "additionalProperties": false
      },
      "ExactWalletTransactionV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "chainId",
          "from",
          "to",
          "valueWei",
          "calldata"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.exact-wallet-transaction.v3"
          },
          "chainId": {
            "const": "1"
          },
          "from": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "to": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "valueWei": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalUint256"
          },
          "calldata": {
            "$ref": "./custom-launch-v2.json#/components/schemas/HexData"
          }
        },
        "description": "Exact Router transaction for a second, separate wallet review and explicit send. It is never auto-signed or auto-broadcast.",
        "additionalProperties": false
      },
      "FundingBoundaryV3": {
        "type": "object",
        "required": [
          "approvalTransactionRequired",
          "permit2Used",
          "fundingSignatureProducedByService",
          "walletTransactionBroadcastByService"
        ],
        "properties": {
          "approvalTransactionRequired": {
            "const": false
          },
          "permit2Used": {
            "const": false
          },
          "fundingSignatureProducedByService": {
            "const": false
          },
          "walletTransactionBroadcastByService": {
            "const": false
          }
        },
        "description": "Closed wallet-authority boundary repeated on every V3 output stage. Funding is EIP-3009 without an approval transaction or Permit2; the service neither produces the wallet signature nor broadcasts the Router transaction.",
        "additionalProperties": false
      },
      "CustomLaunchOutputV3": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "schemaVersion",
              "integrationState",
              "stage",
              "actionRequired",
              "fundingBoundary"
            ],
            "properties": {
              "schemaVersion": {
                "const": "programmable.custom-launch-authorization-result.v3"
              },
              "integrationState": {
                "const": "ready"
              },
              "stage": {
                "const": "funding-signature-required"
              },
              "actionRequired": {
                "$ref": "#/components/schemas/CustomLaunchFundingChallengeV1"
              },
              "fundingBoundary": {
                "$ref": "#/components/schemas/FundingBoundaryV3"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "schemaVersion",
              "integrationState",
              "stage",
              "actionRequired",
              "fundingBoundary"
            ],
            "properties": {
              "schemaVersion": {
                "const": "programmable.custom-launch-authorization-result.v3"
              },
              "integrationState": {
                "const": "ready"
              },
              "stage": {
                "enum": [
                  "funding-signature-verified",
                  "simulating"
                ]
              },
              "actionRequired": {
                "type": "null"
              },
              "fundingBoundary": {
                "$ref": "#/components/schemas/FundingBoundaryV3"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "schemaVersion",
              "integrationState",
              "stage",
              "actionRequired",
              "fundingBoundary"
            ],
            "properties": {
              "schemaVersion": {
                "const": "programmable.custom-launch-authorization-result.v3"
              },
              "integrationState": {
                "const": "ready"
              },
              "stage": {
                "const": "router-transaction-required"
              },
              "actionRequired": {
                "type": "object",
                "required": [
                  "kind",
                  "transaction",
                  "graphCommitment",
                  "artifactHash",
                  "transactionPreimageHash",
                  "permitDigest",
                  "initializerCalldataHash"
                ],
                "properties": {
                  "kind": {
                    "const": "send-router-transaction"
                  },
                  "transaction": {
                    "$ref": "#/components/schemas/ExactWalletTransactionV3"
                  },
                  "graphCommitment": {
                    "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
                  },
                  "artifactHash": {
                    "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
                  },
                  "transactionPreimageHash": {
                    "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
                  },
                  "permitDigest": {
                    "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
                  },
                  "initializerCalldataHash": {
                    "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
                  }
                },
                "additionalProperties": false
              },
              "fundingBoundary": {
                "$ref": "#/components/schemas/FundingBoundaryV3"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CustomLaunchResourceV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "launchId",
          "requestId",
          "onchainLaunchId",
          "routeId",
          "ownerWallet",
          "status",
          "requestHash",
          "launchProfileHash",
          "launchIntentHash",
          "fundingIntentHash",
          "createdAt",
          "updatedAt",
          "output",
          "failure"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch.v3"
          },
          "launchId": {
            "type": "string",
            "format": "uuid"
          },
          "requestId": {
            "type": "string",
            "format": "uuid"
          },
          "onchainLaunchId": {
            "oneOf": [
              {
                "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
              },
              {
                "type": "null"
              }
            ]
          },
          "routeId": {
            "const": "custom-launch:create:v3"
          },
          "ownerWallet": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "status": {
            "type": "string",
            "enum": [
              "received",
              "validating",
              "prepared",
              "simulating",
              "awaiting_funding_authorization",
              "funding_authorization_verified",
              "authorized",
              "submitted",
              "finalized",
              "failed",
              "cancelled"
            ]
          },
          "requestHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "launchProfileHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "launchIntentHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "fundingIntentHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/LowerHex32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "output": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CustomLaunchOutputV3"
              },
              {
                "type": "null"
              }
            ]
          },
          "failure": {
            "oneOf": [
              {
                "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchFailureV2"
              },
              {
                "type": "null"
              }
            ]
          },
          "sourceVerification": {
            "oneOf": [
              {
                "$ref": "./custom-launch-v2.json#/components/schemas/SourceVerificationStatusV1"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "CustomLaunchListPageV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "launches",
          "nextCursor"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-list.v3"
          },
          "launches": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/CustomLaunchResourceV3"
            }
          },
          "nextCursor": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 16,
                "maxLength": 512,
                "pattern": "^[A-Za-z0-9_-]+$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      }
    }
  }
}
