{
  "openapi": "3.1.0",
  "info": {
    "title": "Programmable Custom Launch API V3 general hook profile",
    "version": "3.3.2",
    "summary": "General project-owned Uniswap v4 hook graph request contract.",
    "description": "This document publishes revision 3 of programmable.direct-native-hook-graph.v1. Metadata-bound profile 3.2.0 is current; exact profiles 3.1.0 and 3.0.0 remain readable and retryable under their original immutable metadata-absent policies. The current profile accepts project-owned tokens, project-owned hooks, all valid Uniswap v4 permission masks and three to sixteen exact direct graph targets. Every target is rebuilt with solc 0.8.26+commit.8a97fa7a from exact Standard JSON and materialized runtime bytes. A platform-issued admission receipt binds the exact graph, role-aware static classification and Router simulation boundary before wallet authorization. These checks are not an audit, honeypot guarantee, liquidity or tradeability guarantee, or fee-behavior certification. Funding may be absent, carried as exact native Router transaction value, or use a separate EIP-3009 wallet signature. No API key can sign or broadcast a wallet transaction. Revision 2 requests also remain readable and retryable with their original exact bytes.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.programmable.market",
      "description": "Programmable Custom Launch API production V3 general hook profile."
    }
  ],
  "externalDocs": {
    "description": "Custom Launch API existing-project integration guide",
    "url": "https://programmable.market/docs/developers/custom-launch#existing-project-integration"
  },
  "security": [
    {
      "CustomLaunchApiKey": []
    }
  ],
  "x-programmable-availability": {
    "status": "live",
    "publicAuthorized": true,
    "publicCreate": {
      "status": "live",
      "path": "/v3/custom-launches",
      "httpStatus": 202,
      "replayHttpStatus": 200,
      "retryableErrors": [429, 503]
    },
    "publicCapabilities": {
      "status": "live",
      "path": "/v3/capabilities",
      "authentication": "none"
    },
    "publicFinalizedMetadata": {
      "status": "live",
      "path": "/v3/finalized-custom-launches",
      "authentication": "none",
      "finalizedOnly": true
    },
    "publicPreflight": {
      "status": "live",
      "path": "/v3/custom-launches/preflight",
      "httpStatus": 200,
      "authentication": "wallet-bound-api-key",
      "requiredScope": "custom-launch:create",
      "quotaConsumed": false,
      "nonceAllocated": false,
      "persisted": false
    },
    "stableProductionVersion": "3",
    "stableOpenApiUrl": "https://programmable.market/openapi/custom-launch-v3.json",
    "activationBlockers": []
  },
  "x-programmable-agent-integration": {
    "schemaVersion": "programmable.custom-launch-agent-remediation-catalog.v1",
    "startUrl": "https://programmable.market/.well-known/programmable.json",
    "remediationCatalogUrl": "https://programmable.market/policies/custom-launch-agent-remediation-v1.json",
    "packConfigSchemaUrl": "https://programmable.market/schemas/custom-launch/v3/pack-config.json",
    "guideUrl": "https://programmable.market/docs/developers/custom-launch#existing-project-integration",
    "capabilitiesUrl": "https://api.programmable.market/v3/capabilities",
    "finalizedMetadataUrl": "https://api.programmable.market/v3/finalized-custom-launches",
    "preflightUrl": "https://api.programmable.market/v3/custom-launches/preflight",
    "requiredCommandOrder": [
      "pack",
      "validate --remote",
      "submit",
      "status"
    ],
    "quickstart": [
      "pack",
      "validate --remote",
      "submit",
      "wallet",
      "status"
    ],
    "apiKeyEnvironmentVariable": "PROGRAMMABLE_API_KEY",
    "apiKeyPlaceholder": "$PROGRAMMABLE_API_KEY",
    "apiKeyContainsPolicy": false,
    "manualProjectAllowlist": false,
    "automaticAdmission": true,
    "remotePreflight": {
      "quotaConsumed": false,
      "nonceAllocated": false,
      "persisted": false,
      "walletSignatureRequiredLater": true,
      "walletBroadcastByService": false
    },
    "walletSigning": "separate-controller-action"
  },
  "x-programmable-profile": {
    "profileId": "programmable.direct-native-hook-graph.v1",
    "profileRevision": 3,
    "profileVersion": "3.2.0",
    "compatibleProfileVersions": ["3.1.0", "3.0.0"],
    "productionLaunchAuthorized": true,
    "minimumTargets": 3,
    "maximumTargets": 16,
    "minimumHookPermissionMask": 0,
    "maximumHookPermissionMask": 16383,
    "projectOwnedToken": true,
    "projectOwnedHook": true,
    "platformAdmissionReceiptRequired": true,
    "routerSimulationRequiredBeforeAuthorization": true,
    "safetyClaim": false,
    "feeBehaviorClaim": false
  },
  "x-programmable-admission-policy": {
    "currentProfileVersion": "3.2.0",
    "legacyExactProfileVersions": ["3.1.0", "3.0.0"],
    "legacySemantics": "readable-and-byte-identical-retryable-only",
    "manualProjectAllowlist": false,
    "hardBlockFindingRules": [
      { "code": "RUNTIME_CALLCODE", "targetRoles": ["any"] },
      { "code": "RUNTIME_SELFDESTRUCT", "targetRoles": ["any"] },
      { "code": "SOURCE_SELFDESTRUCT_SURFACE", "targetRoles": ["any"] },
      { "code": "V4_CALLBACK_AUTHENTICATION_MISSING", "targetRoles": ["hook"] },
      { "code": "V4_CALLBACK_AUTHENTICATION_INVALID", "targetRoles": ["hook"] },
      { "code": "V4_CALLBACK_POOL_MANAGER_MISMATCH", "targetRoles": ["hook"] },
      { "code": "V4_ENABLED_CALLBACK_IMPLEMENTATION_MISSING", "targetRoles": ["hook"] }
    ],
    "needsEvidenceFindingCodes": [
      "RUNTIME_CREATE",
      "RUNTIME_CREATE2",
      "SOURCE_TARGET_ANALYSIS_INCOMPLETE",
      "V4_CALLBACK_AUTHENTICATION_REVIEW_REQUIRED",
      "RUNTIME_DELEGATECALL",
      "SOURCE_PROXY_OR_UPGRADE_SURFACE",
      "SOURCE_MUTABLE_PAUSE_SURFACE",
      "SOURCE_MUTABLE_BLOCKLIST_SURFACE",
      "SOURCE_MUTABLE_TAX_OR_FEE_SURFACE",
      "SOURCE_MUTABLE_TRANSFER_RESTRICTION",
      "SOURCE_MUTABLE_ADMIN_SURFACE",
      "SOURCE_PUBLIC_MINT_SURFACE",
      "SOURCE_EXTERNAL_DEPENDENCY_SURFACE",
      "SOURCE_TRANSFER_FEE_SURFACE",
      "SOURCE_LIQUIDITY_LOCK_OR_CUSTODY_SURFACE"
    ],
    "advancedSurfacesAreEvidenceDuties": [
      "proxy-or-delegatecall",
      "mint-tax-pause-or-transfer-controls",
      "liquidity-custody-or-locking",
      "return-delta-custom-accounting"
    ]
  },
  "x-programmable-funding-boundary": {
    "modes": [
      "none",
      "wallet-transaction-value",
      "eip-3009-receive-with-authorization"
    ],
    "descriptorSchemaVersion": "programmable.funding-authorization-descriptor.v1",
    "authorizationPatchSchemaVersion": "programmable.eip3009-authorization-patch.v2",
    "authorizationPatchEncoding": "eip3009-nonce-r-s-v-abi-leaves",
    "legacySignaturePatchSchemaVersion": "programmable.eip3009-signature-patch.v1",
    "signatureIncludedInCreateRequest": false,
    "fundingIntentHashStage": "pre-signature",
    "excludedFromFundingIntentHash": [
      "signature",
      "initializerCalldataHash",
      "graphCommitment",
      "permitDigest"
    ],
    "automaticSigning": false,
    "automaticBroadcast": false
  },
  "x-programmable-fee-accounting": {
    "accountingModes": [
      "additive-platform-share",
      "inclusive-selected-total"
    ],
    "rateDenominator": "1000000",
    "programmableFeeHundredthsOfBip": "1000",
    "invariants": {
      "additive-platform-share": "effectiveTotal=selected+1000; projectShare=selected",
      "inclusive-selected-total": "effectiveTotal=max(selected,1000); projectShare=effectiveTotal-1000"
    },
    "derivedResultsAreRecomputedByServer": true
  },
  "tags": [
    {
      "name": "V3 general hooks",
      "description": "Production project-owned token, hook and multi-contract graph launch capability."
    }
  ],
  "paths": {
    "/v3/capabilities": {
      "get": {
        "operationId": "getCustomLaunchCapabilitiesV3",
        "summary": "Discover the public V3 capability boundary",
        "description": "Unauthenticated, non-authorizing discovery for the current V3 profile, exact routes, structural graph support, funding and liquidity modes, evidence tiers and negative guarantees. Capability discovery does not prove that a submitted project is deployable, routable, indexed, source verified or featured.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "security": [],
        "responses": {
          "200": {
            "description": "Current additive V3 capability document.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchCapabilitiesV1"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v3/finalized-custom-launches": {
      "get": {
        "operationId": "listFinalizedCustomLaunchMetadataV3",
        "summary": "List finalized public Custom launch metadata",
        "description": "Unauthenticated bounded newest-first feed of finalized Router identities and their launch-id-bound project metadata. It contains no API key, controller-private request bytes, pending request or wallet action. Consumers must key identity by routerLaunchId, never resourceId. A 503 has no embedded last-known-good payload; downstream indexers may maintain their own bounded LKG with explicit freshness.",
        "tags": ["V3 general hooks"],
        "x-programmable-public-availability": "live",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque continuation cursor returned by nextCursor.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finalized-only public metadata page.",
            "headers": {
              "Cache-Control": {
                "description": "Short public cache with bounded stale revalidation.",
                "schema": { "const": "public, max-age=15, stale-while-revalidate=300" }
              },
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalizedCustomLaunchMetadataListV1"
                }
              }
            }
          },
          "400": {
            "description": "Unknown, duplicate or invalid pagination parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                },
                "example": {
                  "schemaVersion": "programmable.api-error.v1",
                  "error": {
                    "code": "INVALID_PAGINATION",
                    "message": "Pagination parameters are invalid",
                    "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" },
          "503": { "$ref": "#/components/responses/V3Unavailable" }
        }
      }
    },
    "/v3/custom-launches/preflight": {
      "post": {
        "operationId": "preflightDirectNativeCustomLaunchV3",
        "summary": "Evaluate the exact V3 request without creating a launch",
        "description": "Run the production profile parser, exact source/build binding and deterministic static baseline against the same byte-identical V3 body later used by create. Preflight consumes no launch quota, allocates no nonce, persists no launch and never signs or broadcasts. Its deployable, routable and featured booleans are distinct eligibility axes at the reported evidence tier; they are not deployment, trading, source-verification, indexing or feature-placement proof and are never a safety guarantee.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "x-programmable-side-effects": {
          "quotaConsumed": false,
          "nonceAllocated": false,
          "persisted": false,
          "walletSignatureRequiredLater": true,
          "walletBroadcastByService": false
        },
        "security": [
          {
            "CustomLaunchApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The exact locally validated programmable.custom-launch-create-request.v3 bytes. There is no wrapper and preflight never reserves the request nonce.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Side-effect-free V3 preflight classification for the exact request hash.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchPreflightV1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/custom-launches": {
      "post": {
        "operationId": "createDirectNativeCustomLaunchV3",
        "summary": "Submit an exact V3 general-hook request",
        "description": "Submit the byte-identical CLI-derived request. Every target remains per-launch bound to exact source, compiler, build, creation/runtime bytes, final calldata and simulation evidence. Role-aware blocking indicators stop before wallet authorization; bound warnings remain visible and continue to exact Router simulation. Admission is not an audit or a safety, liquidity, tradeability, honeypot, or fee-behavior guarantee.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Exact-request idempotency binding. It must not contain an API key or wallet signature.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An exact Idempotency-Key replay returns the existing V3 resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "202": {
            "description": "A new request is durably accepted for exact validation and conformance processing.",
            "headers": {
              "Location": {
                "description": "Version-matched single-resource polling path.",
                "schema": {
                  "type": "string",
                  "pattern": "^/v3/custom-launches/[A-Za-z0-9_-]{16,128}$"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/LaunchQuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "A transient dependency is unavailable. Honor Retry-After and retry only the byte-identical request; never fall back to another create version.",
            "headers": {
              "Retry-After": {
                "description": "Delay before an exact retry.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                },
                "example": {
                  "schemaVersion": "programmable.api-error.v1",
                  "error": {
                    "code": "CUSTOM_LAUNCH_V3_UNAVAILABLE",
                    "message": "A required production dependency is temporarily unavailable",
                    "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listDirectNativeCustomLaunchesV3",
        "summary": "List wallet-owned V3 resources",
        "description": "Version-matched newest-first wallet-owned list. Pending rows may receive bounded best-effort reconciliation; use single-resource GET for precise polling.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 512,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet-owned V3 resource page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchListPageV3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/custom-launches/{launchId}": {
      "get": {
        "operationId": "getDirectNativeCustomLaunchV3",
        "summary": "Read one wallet-owned V3 resource",
        "description": "The single-resource contract is the precise polling source for conformance state, any exact funding challenge and, after validation and simulation, the exact Router transaction. The API never signs or broadcasts either wallet action.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current durable V3 resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "404": {
            "description": "Launch not found for this wallet principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/wallet-admin/custom-launches/{launchId}/funding-authorization": {
      "post": {
        "operationId": "submitDirectNativeFundingAuthorizationV3",
        "summary": "Submit one explicitly wallet-signed EIP-3009 authorization",
        "description": "Website-BFF to backend handoff only; this is not an API-key CLI operation. The website must first authenticate the wallet principal, show and validate the exact challenge, request eth_signTypedData_v4 only after an explicit user action, verify the canonical signature client-side, and then submit it once with a durable Idempotency-Key. Acceptance does not send the separate Router transaction.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "security": [
          {
            "CustomLaunchWebsiteToken": []
          }
        ],
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Durably binds this exact signature body. An identical replay returns 200; body substitution under the same key returns 409.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Programmable-Privy-User-Id",
            "in": "header",
            "required": true,
            "description": "Server-verified Privy principal. Browsers must not manufacture this header directly.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "X-Programmable-Wallet-Address",
            "in": "header",
            "required": true,
            "description": "Checksum wallet address already proven linked to the authenticated principal by the website BFF.",
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundingAuthorizationSubmissionV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact Idempotency-Key and body replay; returns the existing full V3 resource without applying the signature twice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "202": {
            "description": "First acceptance of the exact canonical signature. The resource advances through funding_authorization_verified and may return pending_review, action_required, prepared, simulating, or authorized; the Router transaction still requires a later explicit wallet send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "400": {
            "description": "Malformed schema, signature, digest, launch binding, or Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "401": {
            "description": "Website service authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "403": {
            "description": "The verified principal does not control the launch wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "404": {
            "description": "Launch not found for this wallet principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency substitution, stale funding intent/digest, or a launch that already advanced under different authorization bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/LaunchQuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "RequestId": {
        "description": "HTTP correlation identifier. Preserve it with the HTTP status and UTC time for support; it is not the durable launch resource requestId.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RetryAfter": {
        "description": "Whole-second delay before the next safe retry.",
        "schema": {
          "type": "string",
          "pattern": "^[1-9][0-9]*$"
        }
      }
    },
    "securitySchemes": {
      "CustomLaunchApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pm_live_<22-char-key-id>_<43-char-secret>",
        "description": "Wallet-bound API key loaded from PROGRAMMABLE_API_KEY or the supported operating-system secret store. It is never accepted as an argument or prompt and grants no wallet signing authority."
      },
      "CustomLaunchWebsiteToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "server-held website service token",
        "description": "Server-to-server credential held only by the Programmable website BFF. A browser authenticates its own wallet session to the BFF and never receives this token."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed JSON, query values, Idempotency-Key, hash binding or closed V3 request shape.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The required API key or website service credential is missing, malformed, expired, revoked or unknown.",
        "headers": {
          "WWW-Authenticate": {
            "description": "Bearer challenge.",
            "schema": {
              "const": "Bearer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The required scope, wallet binding or verified website principal is missing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Conflict": {
        "description": "The idempotency key, nonce, funding intent or durable launch state conflicts with the submitted bytes. Do not mutate a retry merely to bypass the conflict.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "RequestTooLarge": {
        "description": "The streaming request body exceeded 8,388,608 bytes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type must be application/json, optionally with charset=utf-8.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "The request parsed but failed source, graph, hook-permission, admission, funding, profile or exact-simulation validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "LaunchQuotaExceeded": {
        "description": "The launch admission quota or wallet-admin rate limit was reached. Honor Retry-After before retrying identical bytes.",
        "headers": {
          "Retry-After": {
            "description": "Delay before the next exact retry.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]*$"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server failure. The response includes a correlation requestId and no secret.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "V3Unavailable": {
        "description": "A required V3 production dependency is temporarily unavailable.",
        "headers": {
          "Retry-After": {
            "description": "Delay before an exact retry.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]*$"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            },
            "example": {
              "schemaVersion": "programmable.api-error.v1",
              "error": {
                "code": "CUSTOM_LAUNCH_V3_UNAVAILABLE",
                "message": "A required production dependency is temporarily unavailable",
                "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "CustomLaunchCapabilitiesV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "apiVersion",
          "serverTime",
          "readinessUrl",
          "chain",
          "profile",
          "routes",
          "authentication",
          "preflight",
          "graph",
          "compiler",
          "projectMetadata",
          "hookPermissions",
          "fundingModes",
          "liquidityModels",
          "evidenceTiers",
          "productTruthAxes",
          "hardSafetyInvariants",
          "advancedFeaturesRequireEvidence",
          "feePolicy",
          "walletHandoffBaseUrl",
          "supportUrl",
          "safetyClaim",
          "auditClaim",
          "universalCompatibilityClaim"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-capabilities.v1"
          },
          "apiVersion": {
            "const": "v3"
          },
          "serverTime": {
            "type": "string",
            "format": "date-time"
          },
          "readinessUrl": {
            "const": "https://api.programmable.market/readyz"
          },
          "chain": {
            "type": "object",
            "required": [
              "id",
              "name"
            ],
            "properties": {
              "id": {
                "const": "1"
              },
              "name": {
                "const": "Ethereum Mainnet"
              }
            },
            "additionalProperties": false
          },
          "profile": {
            "type": "object",
            "required": [
              "profileId",
              "profileRevision",
              "profileVersion",
              "productionLaunchAuthorized"
            ],
            "properties": {
              "profileId": {
                "const": "programmable.direct-native-hook-graph.v1"
              },
              "profileRevision": {
                "const": 3
              },
              "profileVersion": {
                "const": "3.2.0"
              },
              "productionLaunchAuthorized": {
                "const": true
              }
            },
            "additionalProperties": false
          },
          "routes": {
            "type": "object",
            "required": [
              "create",
              "preflight",
              "status",
              "list",
              "capabilities",
              "finalizedMetadata"
            ],
            "properties": {
              "create": {
                "const": "/v3/custom-launches"
              },
              "preflight": {
                "const": "/v3/custom-launches/preflight"
              },
              "status": {
                "const": "/v3/custom-launches/{launchId}"
              },
              "list": {
                "const": "/v3/custom-launches"
              },
              "capabilities": {
                "const": "/v3/capabilities"
              },
              "finalizedMetadata": {
                "const": "/v3/finalized-custom-launches"
              }
            },
            "additionalProperties": false
          },
          "authentication": {
            "type": "object",
            "required": [
              "create",
              "preflight",
              "status",
              "capabilities",
              "finalizedMetadata",
              "requiredScopes",
              "apiKeyIsWallet"
            ],
            "properties": {
              "create": {
                "const": "bearer-api-key"
              },
              "preflight": {
                "const": "bearer-api-key"
              },
              "status": {
                "const": "bearer-api-key"
              },
              "capabilities": {
                "const": "none"
              },
              "finalizedMetadata": {
                "const": "none"
              },
              "requiredScopes": {
                "const": [
                  "custom-launch:create",
                  "custom-launch:read"
                ]
              },
              "apiKeyIsWallet": {
                "const": false
              }
            },
            "additionalProperties": false
          },
          "preflight": {
            "type": "object",
            "required": [
              "quotaConsumed",
              "nonceAllocated",
              "persisted",
              "walletSignatureProduced",
              "transactionBroadcast",
              "exactProductionAdmissionEngine"
            ],
            "properties": {
              "quotaConsumed": {
                "const": false
              },
              "nonceAllocated": {
                "const": false
              },
              "persisted": {
                "const": false
              },
              "walletSignatureProduced": {
                "const": false
              },
              "transactionBroadcast": {
                "const": false
              },
              "exactProductionAdmissionEngine": {
                "const": true
              }
            },
            "additionalProperties": false
          },
          "graph": {
            "type": "object",
            "required": [
              "minimumTargets",
              "maximumTargets",
              "directCreate2Targets",
              "onePrimaryToken",
              "onePrimaryHook",
              "onePrimaryPool",
              "constructorAddressLocators",
              "initializerAddressLocators",
              "initializerCyclesSupported",
              "constructorCyclesSupported"
            ],
            "properties": {
              "minimumTargets": {
                "const": 3
              },
              "maximumTargets": {
                "const": 16
              },
              "directCreate2Targets": {
                "const": true
              },
              "onePrimaryToken": {
                "const": true
              },
              "onePrimaryHook": {
                "const": true
              },
              "onePrimaryPool": {
                "const": true
              },
              "constructorAddressLocators": {
                "const": true
              },
              "initializerAddressLocators": {
                "const": true
              },
              "initializerCyclesSupported": {
                "const": true
              },
              "constructorCyclesSupported": {
                "const": false
              }
            },
            "description": "The project owns its primary token and primary hook. Three through sixteen exact direct targets are structurally supported.",
            "additionalProperties": false
          },
          "compiler": {
            "type": "object",
            "required": [
              "language",
              "version",
              "exactStandardJsonRequired",
              "exactSourceBytesRequired",
              "exactCreationAndRuntimeBindingRequired"
            ],
            "properties": {
              "language": {
                "const": "Solidity"
              },
              "version": {
                "const": "0.8.26"
              },
              "exactStandardJsonRequired": {
                "const": true
              },
              "exactSourceBytesRequired": {
                "const": true
              },
              "exactCreationAndRuntimeBindingRequired": {
                "const": true
              }
            },
            "additionalProperties": false
          },
          "projectMetadata": {
            "type": "object",
            "required": [
              "schemaVersion",
              "inputSchemaVersion",
              "requiredForProfileVersion",
              "legacyWithoutMetadataProfileVersions",
              "requiredFields",
              "imageMayBeNull",
              "maximumLinks",
              "linkKinds",
              "projectMetadataHashDomain",
              "graphBundleHashBindingDomain",
              "postDeploymentTokenReadbackRequired"
            ],
            "properties": {
              "schemaVersion": { "const": "programmable.project-metadata.v1" },
              "inputSchemaVersion": { "const": "programmable.project-metadata-input.v1" },
              "requiredForProfileVersion": { "const": "3.2.0" },
              "legacyWithoutMetadataProfileVersions": {
                "const": ["2.0.0", "3.0.0", "3.1.0"]
              },
              "requiredFields": {
                "const": [
                  "token.name",
                  "token.symbol",
                  "presentation.description",
                  "presentation.image",
                  "presentation.links"
                ]
              },
              "imageMayBeNull": { "const": true },
              "maximumLinks": { "const": 32 },
              "linkKinds": {
                "const": ["website", "documentation", "x", "telegram", "discord", "github", "other"]
              },
              "projectMetadataHashDomain": { "const": "programmable.project-metadata.v1" },
              "graphBundleHashBindingDomain": {
                "const": "programmable.custom-graph-project-metadata.v1"
              },
              "postDeploymentTokenReadbackRequired": { "const": true }
            },
            "additionalProperties": false
          },
          "hookPermissions": {
            "type": "object",
            "required": [
              "allFourteenStructurallySupported",
              "minimumMask",
              "maximumMask",
              "addressMaskMustMatch",
              "returnDeltaRequiresBaseCallback"
            ],
            "properties": {
              "allFourteenStructurallySupported": {
                "const": true
              },
              "minimumMask": {
                "const": 0
              },
              "maximumMask": {
                "const": 16383
              },
              "addressMaskMustMatch": {
                "const": true
              },
              "returnDeltaRequiresBaseCallback": {
                "const": true
              }
            },
            "description": "All fourteen Uniswap v4 hook permission bits are structurally accepted when address bits, dependencies and concrete reachable callback implementations match. This is not universal behavioral compatibility.",
            "additionalProperties": false
          },
          "fundingModes": {
            "const": [
              "none",
              "wallet-transaction-value",
              "eip-3009-receive-with-authorization"
            ]
          },
          "liquidityModels": {
            "const": [
              "external-concentrated-liquidity",
              "launch-seeded-concentrated-liquidity",
              "hook-inventory-custom-accounting"
            ]
          },
          "evidenceTiers": {
            "const": [
              "launch_mechanics_verified",
              "standard_swap_compatible",
              "advanced_custom_accounting",
              "governed_external_trust"
            ]
          },
          "productTruthAxes": {
            "const": [
              "deployment",
              "trading",
              "platform_fee_evidence",
              "source_verification",
              "indexing",
              "featured"
            ],
            "description": "Independent product claims. Evidence for one axis never proves another."
          },
          "hardSafetyInvariants": {
            "const": [
              "exact-source-runtime-request-binding",
              "hook-address-permission-mask-match",
              "valid-return-delta-permission-dependencies",
              "exact-mainnet-pool-manager",
              "authenticated-enabled-callbacks",
              "complete-enabled-callback-implementation",
              "no-callcode-or-selfdestruct",
              "balanced-pool-manager-deltas-when-executed",
              "exact-router-launch-simulation",
              "no-wallet-signing-or-broadcast-by-api"
            ]
          },
          "advancedFeaturesRequireEvidence": {
            "const": [
              "child-contract-factories",
              "return-delta-custom-accounting",
              "custom-curves-and-async-swaps",
              "liquidity-removal-gating-or-return-deltas",
              "external-oracle-or-protocol-calls",
              "pause-mint-transfer-or-compliance-controls",
              "governed-upgrades-or-delegation",
              "nonstandard-token-accounting"
            ]
          },
          "feePolicy": {
            "type": "object",
            "required": [
              "programmableHundredthsOfBip",
              "denominator",
              "requestBindingRequired",
              "behaviorProofRequiredForRoutableClaim",
              "genericClaimingLive",
              "buybackManagementLive"
            ],
            "properties": {
              "programmableHundredthsOfBip": {
                "const": "1000"
              },
              "denominator": {
                "const": "1000000"
              },
              "requestBindingRequired": {
                "const": true
              },
              "behaviorProofRequiredForRoutableClaim": {
                "const": true
              },
              "genericClaimingLive": {
                "const": false
              },
              "buybackManagementLive": {
                "const": false
              }
            },
            "additionalProperties": false
          },
          "walletHandoffBaseUrl": {
            "type": "string",
            "format": "uri"
          },
          "supportUrl": {
            "type": "string",
            "format": "uri"
          },
          "safetyClaim": {
            "const": false
          },
          "auditClaim": {
            "const": false
          },
          "universalCompatibilityClaim": {
            "const": false
          }
        },
        "description": "Public additive discovery for the current V3 structural and operational boundary. It grants no authorization and makes no universal, audit or safety claim.",
        "additionalProperties": true
      },
      "CustomLaunchPreflightV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "requestHash",
          "profileRevision",
          "serverTime",
          "disposition",
          "launchEligibility",
          "evidenceTier",
          "riskClassification",
          "behaviorEvidence",
          "productTruthAxes",
          "hardBlockFindingCodes",
          "needsEvidenceFindingCodes",
          "warningFindingCodes",
          "staticBaseline",
          "remediations",
          "quotaConsumed",
          "nonceAllocated",
          "persisted",
          "walletSignatureRequiredLater",
          "walletBroadcastByService"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-preflight.v1"
          },
          "requestHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "profileRevision": {
            "enum": [
              2,
              3
            ]
          },
          "serverTime": {
            "type": "string",
            "format": "date-time"
          },
          "disposition": {
            "enum": [
              "supported",
              "supported_with_warnings",
              "needs_evidence",
              "unsupported"
            ]
          },
          "launchEligibility": {
            "type": "object",
            "required": [
              "deployable",
              "routable",
              "featured"
            ],
            "properties": {
              "deployable": {
                "type": "boolean",
                "description": "The exact request cleared the bounded deployment-mechanics preflight at this evidence tier. This does not prove that a deployment happened."
              },
              "routable": {
                "type": "boolean",
                "description": "The exact request cleared the current routing-evidence preflight. This does not prove live trading, liquidity or economic safety."
              },
              "featured": {
                "type": "boolean",
                "description": "The exact request currently meets the preflight feature-eligibility policy. This does not prove indexing or placement."
              }
            },
            "additionalProperties": false
          },
          "evidenceTier": {
            "enum": [
              "launch_mechanics_verified",
              "standard_swap_compatible",
              "advanced_custom_accounting",
              "governed_external_trust"
            ]
          },
          "riskClassification": {
            "oneOf": [
              { "$ref": "#/components/schemas/PlatformAdmissionRiskClassificationV3" },
              { "type": "null" }
            ],
            "description": "Current revision-3 static classification. Revision-2 compatibility preflight returns null."
          },
          "behaviorEvidence": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorEvidenceSummaryV3"
          },
          "productTruthAxes": {
            "$ref": "#/components/schemas/CustomLaunchProductTruthAxesV3"
          },
          "hardBlockFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "needsEvidenceFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "warningFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "staticBaseline": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticBaselineReportV1"
              },
              {
                "type": "null"
              }
            ]
          },
          "remediations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomLaunchRemediationV1"
            }
          },
          "quotaConsumed": {
            "const": false
          },
          "nonceAllocated": {
            "const": false
          },
          "persisted": {
            "const": false
          },
          "walletSignatureRequiredLater": {
            "const": true
          },
          "walletBroadcastByService": {
            "const": false
          }
        },
        "description": "Side-effect-free classification of one exact V3 request. Risk classification, platform-owned behavior requirements and six independent product-truth axes are explicit. An unexecuted behavior vector is not a failure and never becomes a caller-declared pass. This response is not a durable launch resource, deployment proof, trading proof, audit, source-verification result, indexing result or feature-placement promise.",
        "additionalProperties": true
      },
      "CustomLaunchFindingCodeListV1": {
        "type": "array",
        "items": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "^[A-Z][A-Z0-9_]*$"
        },
        "uniqueItems": true
      },
      "PlatformAdmissionRiskClassificationV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "classifierVersion",
          "evidenceAuthority",
          "disposition",
          "launchEligibility",
          "evidenceTier",
          "evidenceTierStatus",
          "hardBlockFindingCodes",
          "needsEvidenceFindingCodes",
          "requiredEvidence",
          "behaviorEvidenceStatus",
          "approvalAuthority",
          "safetyClaim",
          "feeBehaviorClaim",
          "limitations"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.platform-admission-risk-classification.v3"
          },
          "classifierVersion": { "const": "1.0.0" },
          "evidenceAuthority": {
            "const": "deterministic-static-classification"
          },
          "disposition": {
            "enum": ["hard_blocked", "needs_evidence"]
          },
          "launchEligibility": {
            "type": "object",
            "required": ["deployable", "routable", "featured", "basis"],
            "properties": {
              "deployable": { "type": "boolean" },
              "routable": { "const": false },
              "featured": { "const": false },
              "basis": {
                "enum": [
                  "hard-blocking-static-finding",
                  "static-admission-only"
                ]
              }
            },
            "additionalProperties": false
          },
          "evidenceTier": {
            "enum": [
              "launch_mechanics_verified",
              "standard_swap_compatible",
              "advanced_custom_accounting",
              "governed_external_trust"
            ]
          },
          "evidenceTierStatus": { "enum": ["failed", "required"] },
          "hardBlockFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "needsEvidenceFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "requiredEvidence": {
            "type": "array",
            "items": {
              "enum": [
                "launch.router-simulation",
                "launch.exact-target-analysis",
                "launch.child-contract-lifecycle-and-codehash",
                "callback.pool-manager-authentication",
                "swap.four-quadrant-multi-size",
                "swap.second-user-and-time",
                "liquidity.declared-lifecycle-and-withdrawal",
                "liquidity.lock-release-and-custody",
                "custom-accounting.delta-solvency-backing-refund-withdrawal",
                "governance.authority-bounds-delay-and-upgrade-path",
                "external-dependency.codehash-liveness-staleness-and-trust",
                "platform-fee.ten-bps-no-bypass-no-overcharge-claim-isolation"
              ]
            },
            "uniqueItems": true
          },
          "needsEvidenceFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1",
            "description": "Conditions that require executable or governance evidence but do not categorically block current revision-3 admission."
          },
          "riskClassification": {
            "$ref": "#/components/schemas/PlatformAdmissionRiskClassificationV3"
          },
          "behaviorEvidence": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorEvidenceSummaryV3"
          },
          "productTruthAxes": {
            "$ref": "#/components/schemas/CustomLaunchProductTruthAxesV3"
          },
          "behaviorEvidenceStatus": { "const": "not_executed" },
          "approvalAuthority": { "const": false },
          "safetyClaim": { "const": false },
          "feeBehaviorClaim": { "const": false },
          "limitations": {
            "type": "array",
            "items": { "type": "string", "minLength": 1 },
            "minItems": 1
          }
        },
        "description": "Deterministic static classification. deployable means only that no current revision-3 hard blocker matched; routable and featured remain false until separate evidence exists.",
        "additionalProperties": false
      },
      "CustomLaunchBehaviorVectorIdV3": {
        "enum": [
          "swap.zero-for-one.exact-input.multi-size",
          "swap.zero-for-one.exact-output.multi-size",
          "swap.one-for-zero.exact-input.multi-size",
          "swap.one-for-zero.exact-output.multi-size",
          "swap.second-user",
          "swap.time-advance",
          "liquidity.lifecycle.add-remove-withdraw",
          "callback.unauthorized-rejected",
          "fee.programmable-ten-bps",
          "fee.no-bypass",
          "fee.no-overcharge",
          "fee.claim-isolation",
          "custom-accounting.delta-solvency",
          "custom-accounting.inventory-backing",
          "custom-accounting.refund",
          "custom-accounting.withdrawal"
        ]
      },
      "RequiredCustomLaunchBehaviorVectorV3": {
        "type": "object",
        "required": ["vectorId", "category", "requirement", "claimAxes"],
        "properties": {
          "vectorId": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3"
          },
          "category": {
            "enum": [
              "swap",
              "liquidity",
              "callback-authentication",
              "platform-fee",
              "custom-accounting"
            ]
          },
          "requirement": { "const": "required" },
          "claimAxes": {
            "type": "array",
            "items": {
              "enum": [
                "deployability-hard-invariant",
                "platform-fee-conformance",
                "routability"
              ]
            },
            "minItems": 1,
            "uniqueItems": true
          }
        },
        "additionalProperties": false
      },
      "CustomLaunchBehaviorRequirementsV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "vectorSetVersion",
          "riskClass",
          "hookPermissionMask",
          "liquidityModel",
          "vectors",
          "requirementsSha256"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-behavior-requirements.v1"
          },
          "vectorSetVersion": { "const": "1.0.0" },
          "riskClass": {
            "enum": ["standard-swaps", "advanced-custom-accounting"]
          },
          "hookPermissionMask": {
            "type": "integer",
            "minimum": 0,
            "maximum": 16383
          },
          "liquidityModel": {
            "enum": [
              "external-concentrated-liquidity",
              "launch-seeded-concentrated-liquidity",
              "hook-inventory-custom-accounting"
            ]
          },
          "vectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequiredCustomLaunchBehaviorVectorV3"
            },
            "minItems": 12,
            "maxItems": 16,
            "uniqueItems": true
          },
          "requirementsSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          }
        },
        "additionalProperties": false
      },
      "CustomLaunchBehaviorExecutionVectorV3": {
        "oneOf": [
          {
            "type": "object",
            "required": ["vectorId", "status", "evidenceSha256", "reasonCode"],
            "properties": {
              "vectorId": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
              "status": { "const": "verified" },
              "evidenceSha256": { "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest" },
              "reasonCode": { "type": "null" }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["vectorId", "status", "evidenceSha256", "reasonCode"],
            "properties": {
              "vectorId": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
              "status": { "const": "failed" },
              "evidenceSha256": { "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest" },
              "reasonCode": { "type": "string", "minLength": 1 }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["vectorId", "status", "evidenceSha256", "reasonCode"],
            "properties": {
              "vectorId": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
              "status": { "const": "not_executed" },
              "evidenceSha256": { "type": "null" },
              "reasonCode": {
                "enum": [
                  "GENERIC_ROUTER_SIMULATION_ONLY",
                  "BEHAVIOR_RUNNER_NOT_CONFIGURED",
                  "BEHAVIOR_RUNNER_UNAVAILABLE",
                  "VECTOR_NOT_SUPPORTED_BY_RUNNER",
                  "VECTOR_PREREQUISITE_UNAVAILABLE"
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CustomLaunchBehaviorExecutionV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "subjectSha256",
          "requirementsSha256",
          "evidenceAuthority",
          "runnerId",
          "runnerVersion",
          "runnerBuildSha256",
          "executedAt",
          "vectors"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-behavior-execution.v1"
          },
          "subjectSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "requirementsSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "evidenceAuthority": { "const": "platform-runtime-executor" },
          "runnerId": { "type": "string", "minLength": 1 },
          "runnerVersion": { "type": "string", "minLength": 1 },
          "runnerBuildSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "executedAt": { "type": "string", "format": "date-time" },
          "vectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomLaunchBehaviorExecutionVectorV3"
            },
            "minItems": 12,
            "maxItems": 16
          }
        },
        "description": "Accepted only from a platform runtime executor and bound to the exact subject and requirement hashes. Caller or agent declarations never satisfy this schema.",
        "additionalProperties": false
      },
      "CustomLaunchBehaviorVectorSummaryV3": {
        "type": "object",
        "required": [
          "vectorId",
          "category",
          "claimAxes",
          "status",
          "evidenceSha256",
          "reasonCode"
        ],
        "properties": {
          "vectorId": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
          "category": {
            "enum": [
              "swap",
              "liquidity",
              "callback-authentication",
              "platform-fee",
              "custom-accounting"
            ]
          },
          "claimAxes": {
            "type": "array",
            "items": {
              "enum": [
                "deployability-hard-invariant",
                "platform-fee-conformance",
                "routability"
              ]
            },
            "minItems": 1,
            "uniqueItems": true
          },
          "status": {
            "enum": ["required", "not_executed", "verified", "failed"]
          },
          "evidenceSha256": {
            "oneOf": [
              { "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest" },
              { "type": "null" }
            ]
          },
          "reasonCode": {
            "oneOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          }
        },
        "additionalProperties": false
      },
      "CustomLaunchBehaviorClaimAxesV3": {
        "type": "object",
        "required": [
          "deployability",
          "platformFeeConformance",
          "routability",
          "featured",
          "finality"
        ],
        "properties": {
          "deployability": {
            "type": "object",
            "required": ["status", "scope", "requiredVectorIds", "outstandingVectorIds"],
            "properties": {
              "status": {
                "enum": [
                  "behavior-hard-invariants-required",
                  "behavior-hard-invariants-verified",
                  "blocked"
                ]
              },
              "scope": { "const": "behavior-only" },
              "requiredVectorIds": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
                "uniqueItems": true
              },
              "outstandingVectorIds": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
                "uniqueItems": true
              }
            },
            "additionalProperties": false
          },
          "platformFeeConformance": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorVerificationAxisV3"
          },
          "routability": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorVerificationAxisV3"
          },
          "featured": {
            "type": "object",
            "required": ["status", "derivedFromBehaviorEvidence"],
            "properties": {
              "status": { "const": "external-evidence-required" },
              "derivedFromBehaviorEvidence": { "const": false }
            },
            "additionalProperties": false
          },
          "finality": {
            "type": "object",
            "required": ["status", "derivedFromBehaviorEvidence"],
            "properties": {
              "status": { "const": "independent-evidence-required" },
              "derivedFromBehaviorEvidence": { "const": false }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "CustomLaunchBehaviorVerificationAxisV3": {
        "type": "object",
        "required": ["status", "requiredVectorIds", "outstandingVectorIds"],
        "properties": {
          "status": { "enum": ["not_verified", "verified", "blocked"] },
          "requiredVectorIds": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
            "uniqueItems": true
          },
          "outstandingVectorIds": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
            "uniqueItems": true
          }
        },
        "additionalProperties": false
      },
      "CustomLaunchBehaviorEvidenceSummaryV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "subjectSha256",
          "requirements",
          "status",
          "execution",
          "vectors",
          "outstandingVectorIds",
          "claimAxes"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-behavior-summary.v1"
          },
          "subjectSha256": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "requirements": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorRequirementsV3"
          },
          "status": {
            "enum": ["required", "not_executed", "verified", "failed"]
          },
          "execution": {
            "oneOf": [
              { "$ref": "#/components/schemas/CustomLaunchBehaviorExecutionV3" },
              { "type": "null" }
            ]
          },
          "vectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomLaunchBehaviorVectorSummaryV3"
            },
            "minItems": 12,
            "maxItems": 16
          },
          "outstandingVectorIds": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CustomLaunchBehaviorVectorIdV3" },
            "uniqueItems": true
          },
          "claimAxes": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorClaimAxesV3"
          }
        },
        "description": "Platform-owned runtime-evidence summary. not_executed means the vectors remain outstanding; it never means verified and cannot be supplied by the API caller.",
        "additionalProperties": false
      },
      "CustomLaunchProductTruthAxesV3": {
        "type": "object",
        "required": [
          "deployment",
          "trading",
          "platform_fee_evidence",
          "source_verification",
          "indexing",
          "featured"
        ],
        "properties": {
          "deployment": {
            "type": "object",
            "required": ["status", "basis", "transactionExecuted"],
            "properties": {
              "status": { "enum": ["eligible", "blocked"] },
              "basis": {
                "enum": [
                  "static-admission-only",
                  "hard-blocking-static-finding"
                ]
              },
              "transactionExecuted": { "const": false }
            },
            "additionalProperties": false
          },
          "trading": {
            "type": "object",
            "required": ["status", "basis"],
            "properties": {
              "status": { "const": "not_verified" },
              "basis": { "const": "runtime-behavior-evidence-required" }
            },
            "additionalProperties": false
          },
          "platform_fee_evidence": {
            "type": "object",
            "required": ["status", "basis"],
            "properties": {
              "status": { "const": "not_verified" },
              "basis": { "const": "exact-fee-behavior-evidence-required" }
            },
            "additionalProperties": false
          },
          "source_verification": {
            "type": "object",
            "required": ["status", "basis"],
            "properties": {
              "status": { "const": "not_verified" },
              "basis": { "const": "provider-exact-match-required" }
            },
            "additionalProperties": false
          },
          "indexing": {
            "type": "object",
            "required": ["status", "basis"],
            "properties": {
              "status": { "const": "not_indexed" },
              "basis": { "const": "finalized-router-identity-required" }
            },
            "additionalProperties": false
          },
          "featured": {
            "type": "object",
            "required": ["status", "basis"],
            "properties": {
              "status": { "const": "not_featured" },
              "basis": { "const": "separate-product-evidence-required" }
            },
            "additionalProperties": false
          }
        },
        "description": "Six independent product claims. A positive or eligible value on one axis never implies another axis.",
        "additionalProperties": false
      },
      "CustomLaunchLifecycleQueueV3": {
        "type": "object",
        "required": [
          "schemaVersion",
          "state",
          "reason",
          "generation",
          "attemptCount",
          "pollAfterSeconds",
          "nextAttemptAt",
          "leaseExpiresAt",
          "workExpiresAt",
          "lastErrorCode",
          "updatedAt",
          "polling"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-lifecycle-queue.v3"
          },
          "state": {
            "enum": [
              "queued",
              "processing",
              "backing_off",
              "waiting",
              "completed",
              "failed",
              "expired"
            ]
          },
          "reason": {
            "enum": [
              "request-created",
              "funding-authorization-verified",
              "transaction-submitted",
              "reconciliation-due",
              "operator-retry"
            ]
          },
          "generation": { "type": "integer", "minimum": 1 },
          "attemptCount": { "type": "integer", "minimum": 0 },
          "pollAfterSeconds": {
            "oneOf": [
              { "type": "integer", "minimum": 0 },
              { "type": "null" }
            ]
          },
          "nextAttemptAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "type": "null" }
            ]
          },
          "leaseExpiresAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "type": "null" }
            ]
          },
          "workExpiresAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "type": "null" }
            ]
          },
          "lastErrorCode": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "^[A-Z][A-Z0-9_]*$"
              },
              { "type": "null" }
            ]
          },
          "updatedAt": { "type": "string", "format": "date-time" },
          "polling": {
            "type": "object",
            "required": ["method", "path"],
            "properties": {
              "method": { "const": "GET" },
              "path": {
                "type": "string",
                "pattern": "^/v3/custom-launches/[0-9a-f-]{36}$"
              }
            },
            "additionalProperties": false
          }
        },
        "description": "Bounded durable-worker readback. Queue completion is not launch finality, and a retry does not change the durable launch status. Worker identity, payloads and raw errors are never exposed.",
        "additionalProperties": false
      },
      "NonzeroCanonicalUint256": {
        "type": "string",
        "pattern": "^(?:[1-9][0-9]*)$",
        "maxLength": 78,
        "description": "Nonzero base-10 uint256 with no sign or leading zeroes."
      },
      "SelectedFeeHundredthsOfBipV1": {
        "type": "string",
        "pattern": "^(?:0|[1-9][0-9]{0,5})$",
        "description": "Intent-bound selected fee from 0 through 999999 hundredths of a bip. In additive mode the effective total is selected+1000; in inclusive mode it is max(selected,1000)."
      },
      "DirectNativeTargetRolesV1": {
        "type": "object",
        "required": [
          "tokenTargetId",
          "hookTargetId",
          "initializerTargetId",
          "platformFeeBindingTargetId"
        ],
        "properties": {
          "tokenTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "Canonical selected token target identifier. Recognizable secret material is rejected because finalized metadata is public."
          },
          "hookTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier"
          },
          "initializerTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "Must reference a direct graph target whose componentKind is other. Initializer is a role, not a component kind."
          },
          "platformFeeBindingTargetId": {
            "$ref": "./custom-launch-v2.json#/components/schemas/CanonicalIdentifier",
            "description": "May reference the hook or another exact direct graph target that implements the declared platform fee binding."
          }
        },
        "description": "The token, hook and initializer IDs are distinct. The platform fee binding target may be a separate project-owned component.",
        "additionalProperties": false
      },
      "PlatformFeePolicyV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "accountingMode",
          "applicability",
          "rateDenominator",
          "programmableFeeHundredthsOfBip",
          "assessmentBase",
          "feeCurrency",
          "roundingMode",
          "claimAuthority"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.platform-fee-policy.v1"
          },
          "accountingMode": {
            "enum": [
              "additive-platform-share",
              "inclusive-selected-total"
            ]
          },
          "applicability": {
            "const": "successful-pool-swaps"
          },
          "rateDenominator": {
            "const": "1000000"
          },
          "programmableFeeHundredthsOfBip": {
            "const": "1000"
          },
          "assessmentBase": {
            "enum": [
              "executed-gross-declared-quote",
              "settled-input-before-platform-fee"
            ]
          },
          "feeCurrency": {
            "enum": [
              "declared-quote-currency",
              "input-currency"
            ]
          },
          "roundingMode": {
            "const": "floor"
          },
          "claimAuthority": {
            "const": "0x4957f49620AFf3Adbbe8195a4f633E49cc93376c"
          }
        },
        "description": "The exact assessment pair and accounting mode are intent-bound. The server recomputes all derived fee values.",
        "allOf": [
          {
            "if": {
              "properties": {
                "assessmentBase": { "const": "executed-gross-declared-quote" }
              }
            },
            "then": {
              "properties": {
                "feeCurrency": { "const": "declared-quote-currency" }
              }
            }
          },
          {
            "if": {
              "properties": {
                "assessmentBase": { "const": "settled-input-before-platform-fee" }
              }
            },
            "then": {
              "properties": {
                "feeCurrency": { "const": "input-currency" }
              }
            }
          }
        ],
        "additionalProperties": false
      },
      "PlatformFeeProofPolicyV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "mode",
          "receiptSchemaVersion",
          "runnerId",
          "runnerVersion",
          "vectorSetVersion",
          "receiptAuthority",
          "subject",
          "activationStatus"
        ],
        "properties": {
          "schemaVersion": { "const": "programmable.platform-fee-conformance-policy.v1" },
          "mode": { "const": "platform-issued-exact-graph-receipt-v1" },
          "receiptSchemaVersion": { "const": "programmable.platform-fee-conformance-receipt.v1" },
          "runnerId": { "const": "programmable.platform-fee-conformance" },
          "runnerVersion": { "const": "1.0.0" },
          "vectorSetVersion": { "const": "1.0.0" },
          "receiptAuthority": { "const": "platform-only" },
          "subject": { "const": "final-graph-commitment-and-runtime-set" },
          "activationStatus": { "const": "live" }
        },
        "additionalProperties": false
      },
      "PlatformAdmissionPolicyV3_1_0": {
        "type": "object",
        "required": [
          "schemaVersion",
          "mode",
          "receiptSchemaVersion",
          "engineId",
          "engineVersion",
          "exactSourceCompilerGraphBindingRequired",
          "staticBaselineGateVersion",
          "blockingFindingRules",
          "warningDisposition",
          "noBlockingFindingDisposition",
          "blockingFindingDisposition",
          "routerSimulationRequiredBeforeAuthorization",
          "receiptAuthority",
          "assurance",
          "safetyClaim",
          "feeBehaviorClaim"
        ],
        "properties": {
          "schemaVersion": { "const": "programmable.direct-native-platform-admission-policy.v1" },
          "mode": { "const": "deterministic-exact-source-graph-static-baseline-v1" },
          "receiptSchemaVersion": { "const": "programmable.platform-admission-receipt.v1" },
          "engineId": { "const": "programmable.direct-native-static-admission" },
          "engineVersion": { "const": "1.0.0" },
          "exactSourceCompilerGraphBindingRequired": { "const": true },
          "staticBaselineGateVersion": { "const": "1.0.0" },
          "blockingFindingRules": {
            "const": [
              { "code": "RUNTIME_CALLCODE", "targetRoles": ["any"] },
              { "code": "RUNTIME_SELFDESTRUCT", "targetRoles": ["any"] },
              { "code": "SOURCE_SELFDESTRUCT_SURFACE", "targetRoles": ["any"] },
              { "code": "V4_CALLBACK_AUTHENTICATION_MISSING", "targetRoles": ["hook"] },
              { "code": "V4_CALLBACK_AUTHENTICATION_INVALID", "targetRoles": ["hook"] },
              { "code": "V4_CALLBACK_POOL_MANAGER_MISMATCH", "targetRoles": ["hook"] },
              { "code": "V4_ENABLED_CALLBACK_IMPLEMENTATION_MISSING", "targetRoles": ["hook"] }
            ]
          },
          "warningDisposition": { "const": "bound-and-visible" },
          "noBlockingFindingDisposition": { "const": "router-simulation-eligible" },
          "blockingFindingDisposition": { "const": "action-required" },
          "routerSimulationRequiredBeforeAuthorization": { "const": true },
          "receiptAuthority": { "const": "platform-only" },
          "assurance": { "const": "launch-admission-only" },
          "safetyClaim": { "const": false },
          "feeBehaviorClaim": { "const": false }
        },
        "description": "Immutable launch-admission policy shared by profiles 3.1.0 and 3.2.0. Exactly seven objective code-and-role rules are hard blockers. Proxy, delegatecall, mint, tax, pause, liquidity and return-delta surfaces require evidence but do not categorically block deployment. Admission is not an audit or a safety, honeypot, liquidity, tradeability, or fee-behavior guarantee.",
        "additionalProperties": false
      },
      "PlatformAdmissionPolicyV3_0_0": {
        "type": "object",
        "required": [
          "schemaVersion",
          "mode",
          "receiptSchemaVersion",
          "engineId",
          "engineVersion",
          "exactSourceCompilerGraphBindingRequired",
          "staticBaselineGateVersion",
          "blockingFindingRules",
          "warningDisposition",
          "noBlockingFindingDisposition",
          "blockingFindingDisposition",
          "routerSimulationRequiredBeforeAuthorization",
          "receiptAuthority",
          "assurance",
          "safetyClaim",
          "feeBehaviorClaim"
        ],
        "properties": {
          "schemaVersion": { "const": "programmable.direct-native-platform-admission-policy.v1" },
          "mode": { "const": "deterministic-exact-source-graph-static-baseline-v1" },
          "receiptSchemaVersion": { "const": "programmable.platform-admission-receipt.v1" },
          "engineId": { "const": "programmable.direct-native-static-admission" },
          "engineVersion": { "const": "1.0.0" },
          "exactSourceCompilerGraphBindingRequired": { "const": true },
          "staticBaselineGateVersion": { "const": "1.0.0" },
          "blockingFindingRules": {
            "const": [
              { "code": "SOURCE_TARGET_ANALYSIS_INCOMPLETE", "targetRoles": ["any"] },
              { "code": "V4_CALLBACK_AUTHENTICATION_REVIEW_REQUIRED", "targetRoles": ["hook"] },
              { "code": "V4_ENABLED_CALLBACK_IMPLEMENTATION_MISSING", "targetRoles": ["hook"] },
              { "code": "SOURCE_MUTABLE_BLOCKLIST_SURFACE", "targetRoles": ["token"] },
              { "code": "SOURCE_MUTABLE_TRANSFER_RESTRICTION", "targetRoles": ["token"] },
              { "code": "SOURCE_PUBLIC_MINT_SURFACE", "targetRoles": ["token"] },
              { "code": "SOURCE_MUTABLE_PAUSE_SURFACE", "targetRoles": ["token"] },
              { "code": "SOURCE_MUTABLE_TAX_OR_FEE_SURFACE", "targetRoles": ["token"] },
              { "code": "SOURCE_PROXY_OR_UPGRADE_SURFACE", "targetRoles": ["token", "hook"] },
              { "code": "SOURCE_SELFDESTRUCT_SURFACE", "targetRoles": ["token", "hook"] },
              { "code": "RUNTIME_CALLCODE", "targetRoles": ["token", "hook"] },
              { "code": "RUNTIME_DELEGATECALL", "targetRoles": ["token", "hook"] },
              { "code": "RUNTIME_SELFDESTRUCT", "targetRoles": ["token", "hook"] }
            ]
          },
          "warningDisposition": { "const": "bound-and-visible" },
          "noBlockingFindingDisposition": { "const": "router-simulation-eligible" },
          "blockingFindingDisposition": { "const": "action-required" },
          "routerSimulationRequiredBeforeAuthorization": { "const": true },
          "receiptAuthority": { "const": "platform-only" },
          "assurance": { "const": "launch-admission-only" },
          "safetyClaim": { "const": false },
          "feeBehaviorClaim": { "const": false }
        },
        "description": "Immutable legacy profile-3.0.0 policy retained only so byte-identical existing requests remain readable and retryable. New packs use profile 3.2.0.",
        "additionalProperties": false
      },
      "PlatformAdmissionPolicyV1": {
        "oneOf": [
          { "$ref": "#/components/schemas/PlatformAdmissionPolicyV3_1_0" },
          { "$ref": "#/components/schemas/PlatformAdmissionPolicyV3_0_0" }
        ],
        "description": "Revision-3 admission policy. Profile version selects one exact immutable policy; clients cannot combine a profile version with the other version's rule set."
      },
      "DirectNativeGraphPolicyV1": {
        "type": "object",
        "required": [
          "minimumTargets",
          "maximumTargets",
          "directTargetsOnly"
        ],
        "properties": {
          "minimumTargets": {
            "const": 3
          },
          "maximumTargets": {
            "const": 16
          },
          "directTargetsOnly": {
            "const": true
          }
        },
        "additionalProperties": false
      },
      "DirectNativeCurrencyPolicyV1": {
        "type": "object",
        "required": [
          "native",
          "erc20"
        ],
        "properties": {
          "native": {
            "const": true
          },
          "erc20": {
            "const": true
          }
        },
        "additionalProperties": false
      },
      "DirectNativeHookPermissionPolicyV1": {
        "type": "object",
        "required": [
          "minimumMask",
          "maximumMask",
          "requireHookMinerAddressMaskMatch"
        ],
        "properties": {
          "minimumMask": {
            "const": 0
          },
          "maximumMask": {
            "const": 16383
          },
          "requireHookMinerAddressMaskMatch": {
            "const": true
          }
        },
        "description": "All fourteen Uniswap v4 permission bits are supported. Return-delta permissions require their corresponding action permission and the hook address low bits must match the declaration.",
        "additionalProperties": false
      },
      "DirectNativeFundingPolicyV1": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "mode", "launchFundingRequired", "signatureRequired", "valueSource"
            ],
            "properties": {
              "mode": { "const": "wallet-transaction-value" },
              "launchFundingRequired": { "const": true },
              "signatureRequired": { "const": false },
              "valueSource": { "const": "exact-router-transaction-msg-value" }
            },
            "description": "Native ETH value is carried only by the exact Router transaction returned after conformance and simulation for separate wallet review. signatureRequired is false because there is no separate pre-Router funding signature; the wallet still explicitly signs the Router transaction.",
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["mode", "launchFundingRequired", "signatureRequired"],
            "properties": {
              "mode": { "const": "none" },
              "launchFundingRequired": { "const": false },
              "signatureRequired": { "const": false }
            },
            "description": "No launch funding is transferred by the graph. The final Router transaction still requires explicit wallet review and signing even when value is zero.",
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "mode", "launchFundingRequired", "signatureRequired", "primaryType",
              "typeHash", "domainName", "domainVersion", "maximumValiditySeconds"
            ],
            "properties": {
              "mode": { "const": "eip-3009-receive-with-authorization" },
              "launchFundingRequired": { "const": true },
              "signatureRequired": { "const": true },
              "primaryType": { "const": "ReceiveWithAuthorization" },
              "typeHash": { "const": "0xd099cc98ef71107a616c4f0f941f04c322d8e254fe26b3c6668db87aae413de8" },
              "domainName": { "const": "USD Coin" },
              "domainVersion": { "const": "2" },
              "maximumValiditySeconds": { "const": "3600" }
            },
            "additionalProperties": false
          }
        ]
      },
      "DirectNativeHookGraphProfileV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "profileId",
          "profileRevision",
          "profileVersion",
          "productionLaunchAuthorized",
          "chainId",
          "router",
          "routerRuntimeCodeHash",
          "permitAuthority",
          "permitAuthorityRuntimeCodeHash",
          "graphFactory",
          "graphFactoryRuntimeCodeHash",
          "poolManager",
          "poolManagerRuntimeCodeHash",
          "fundingToken",
          "fundingTokenRuntimeCodeHash",
          "graphPolicy",
          "currencyPolicy",
          "hookPermissionPolicy",
          "fundingPolicy",
          "platformFeePolicy"
        ],
        "properties": {
          "schemaVersion": {
            "enum": [
              "programmable.direct-native-hook-graph-profile.v2",
              "programmable.direct-native-hook-graph-profile.v3"
            ]
          },
          "profileId": {
            "const": "programmable.direct-native-hook-graph.v1"
          },
          "profileRevision": {
            "enum": [2, 3]
          },
          "profileVersion": {
            "enum": ["2.0.0", "3.0.0", "3.1.0", "3.2.0"]
          },
          "productionLaunchAuthorized": {
            "const": true,
            "description": "The V3 general profile is production authorized; runtime trust roots, role-aware admission and Router simulation still fail closed independently."
          },
          "chainId": {
            "const": "1"
          },
          "router": {
            "const": "0x8622DD5bAb44185f2A458ac90384Ac99248f8d56"
          },
          "routerRuntimeCodeHash": {
            "const": "0x40e27ecf201761d5eb66bc4f2d5c6124831ef078d7baf458ca5f41b1a8108546"
          },
          "permitAuthority": {
            "const": "0x755509eA6e3F5Ec1aA2E797bb68f1B87DD8b886b"
          },
          "permitAuthorityRuntimeCodeHash": {
            "const": "0xd7d408ebcd99b2b70be43e20253d6d92a8ea8fab29bd3be7f55b10032331fb4c"
          },
          "graphFactory": {
            "const": "0xB012e4A8F2c5FC4E8E4faCA9D5Ad6FfF13FBA887"
          },
          "graphFactoryRuntimeCodeHash": {
            "const": "0xd23692fae59331592048e71a96d4963e170ee56e449683dc9f7fa3f9470018b8"
          },
          "poolManager": {
            "const": "0x000000000004444c5dc75cB358380D2e3dE08A90"
          },
          "poolManagerRuntimeCodeHash": {
            "const": "0x785f1014552b7ce7d5fb7d0c970ca60edee94fd00425d7ca21609acac7ce1293"
          },
          "fundingToken": {
            "const": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "fundingTokenRuntimeCodeHash": {
            "const": "0xd80d4b7c890cb9d6a4893e6b52bc34b56b25335cb13716e0d1d31383e6b41505"
          },
          "graphPolicy": {
            "$ref": "#/components/schemas/DirectNativeGraphPolicyV1"
          },
          "currencyPolicy": {
            "$ref": "#/components/schemas/DirectNativeCurrencyPolicyV1"
          },
          "hookPermissionPolicy": {
            "$ref": "#/components/schemas/DirectNativeHookPermissionPolicyV1"
          },
          "fundingPolicy": {
            "$ref": "#/components/schemas/DirectNativeFundingPolicyV1"
          },
          "platformFeePolicy": {
            "$ref": "#/components/schemas/PlatformFeePolicyV1"
          },
          "platformAdmissionPolicy": {
            "$ref": "#/components/schemas/PlatformAdmissionPolicyV1"
          },
          "platformFeeProofPolicy": {
            "$ref": "#/components/schemas/PlatformFeeProofPolicyV1",
            "deprecated": true,
            "description": "Revision 2 compatibility field. New revision 3 requests use platformAdmissionPolicy."
          }
        },
        "oneOf": [
          {
            "required": ["platformAdmissionPolicy"],
            "properties": {
              "schemaVersion": { "const": "programmable.direct-native-hook-graph-profile.v3" },
              "profileRevision": { "const": 3 },
              "profileVersion": { "const": "3.2.0" },
              "platformAdmissionPolicy": {
                "$ref": "#/components/schemas/PlatformAdmissionPolicyV3_1_0"
              }
            },
            "not": { "required": ["platformFeeProofPolicy"] }
          },
          {
            "required": ["platformAdmissionPolicy"],
            "properties": {
              "schemaVersion": { "const": "programmable.direct-native-hook-graph-profile.v3" },
              "profileRevision": { "const": 3 },
              "profileVersion": { "const": "3.1.0" },
              "platformAdmissionPolicy": {
                "$ref": "#/components/schemas/PlatformAdmissionPolicyV3_1_0"
              }
            },
            "not": { "required": ["platformFeeProofPolicy"] }
          },
          {
            "required": ["platformAdmissionPolicy"],
            "properties": {
              "schemaVersion": { "const": "programmable.direct-native-hook-graph-profile.v3" },
              "profileRevision": { "const": 3 },
              "profileVersion": { "const": "3.0.0" },
              "platformAdmissionPolicy": {
                "$ref": "#/components/schemas/PlatformAdmissionPolicyV3_0_0"
              }
            },
            "not": { "required": ["platformFeeProofPolicy"] }
          },
          {
            "required": ["platformFeeProofPolicy"],
            "properties": {
              "schemaVersion": { "const": "programmable.direct-native-hook-graph-profile.v2" },
              "profileRevision": { "const": 2 },
              "profileVersion": { "const": "2.0.0" }
            },
            "not": { "required": ["platformAdmissionPolicy"] }
          }
        ],
        "description": "Production-authorized revision 3 direct-graph profile. Metadata-bound profile 3.2.0 is current; exact 3.1.0 and 3.0.0 requests remain readable and retryable under their original policies. Exact source and compiler reconstruction, role-aware static admission and Router simulation remain mandatory. Neither result is an audit or a safety, honeypot, liquidity, tradeability, or fee-behavior guarantee.",
        "additionalProperties": false
      },
      "DirectNativePoolKeyV1": {
        "type": "object",
        "required": [
          "currency0",
          "currency1",
          "fee",
          "tickSpacing",
          "hooks"
        ],
        "properties": {
          "currency0": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "currency1": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          },
          "fee": {
            "oneOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 999999
              },
              {
                "const": 8388608
              }
            ],
            "description": "Static fee 0..999999 or the Uniswap v4 dynamic-fee sentinel 0x800000."
          },
          "tickSpacing": {
            "type": "integer",
            "minimum": 1,
            "maximum": 32767
          },
          "hooks": {
            "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
          }
        },
        "description": "Currencies are distinct and sorted by numeric address. The hook address low bits must equal the declared 14-bit permission mask.",
        "additionalProperties": false
      },
      "DirectNativePlatformFeeBindingV1": {
        "type": "object",
        "required": [
          "schemaVersion",
[...]
