{
  "openapi": "3.1.0",
  "info": {
    "title": "Programmable Custom Launch API V3 general hook profile",
    "version": "3.3.8-preparatory",
    "summary": "General project-owned Uniswap v4 hook graph request contract.",
    "description": "Preparatory, not-live contract for pending profile 3.4.0. It is not evidence that CLI 3.3.8 is released or that the backend accepts 3.4.0. Live/default discovery remains CLI 3.3.7 with profile 3.3.0 until an independently verified backend activation. Pending 3.4.0 preserves arbitrary project-owned token, hook and multi-contract targets while requiring four to sixteen targets inclusive of the frozen programmable:settlement-fee-vault:v1 module and its reciprocal route binding. Exact 3.3.0 and earlier resources retain their immutable compatibility semantics. CLI, client and model checks only prepare and bind a request; the server remains the behavior, fee-path and authorization authority. No result is an audit, honeypot guarantee, universal safety guarantee, liquidity claim or universal compatibility claim.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.programmable.market",
      "description": "Production API origin. Pending profile 3.4.0 is not enabled by this preparatory document."
    }
  ],
  "externalDocs": {
    "description": "Custom Launch API existing-project integration guide",
    "url": "https://programmable.market/docs/developers/custom-launch#existing-project-integration"
  },
  "security": [
    {
      "CustomLaunchApiKey": []
    }
  ],
  "x-programmable-availability": {
    "status": "preparatory-not-live",
    "publicAuthorized": false,
    "liveContract": {
      "cliReleaseVersion": "3.3.7",
      "profileVersion": "3.3.0",
      "discoveryAuthority": "https://programmable.market/.well-known/programmable.json"
    },
    "publicCreate": {
      "status": "live",
      "path": "/v3/custom-launches",
      "httpStatus": 202,
      "replayHttpStatus": 200,
      "retryableErrors": [429, 503]
    },
    "publicCapabilities": {
      "status": "live",
      "path": "/v3/capabilities",
      "authentication": "none"
    },
    "publicFinalizedMetadata": {
      "status": "live",
      "path": "/v3/finalized-custom-launches",
      "authentication": "none",
      "finalizedOnly": true
    },
    "publicPreflight": {
      "status": "live",
      "path": "/v3/custom-launches/preflight",
      "httpStatus": 200,
      "authentication": "bearer-api-key",
      "requiredScope": "custom-launch:create",
      "quotaConsumed": false,
      "quotaConsumedMeaning": "no-launch-creation-quota-or-durable-reservation",
      "authenticatedRequestRateBudgetConsumed": true,
      "nonceAllocated": false,
      "persisted": false
    },
    "stableProductionVersion": "3",
    "stableOpenApiUrl": "https://programmable.market/openapi/custom-launch-v3.json",
    "freshWritesOnlyProfileVersion": "3.3.0",
    "pendingProfileVersion": "3.4.0",
    "pendingCliReleaseVersion": "3.3.8",
    "walletHandoffEvidenceGate": {
      "decisionAuthority": "api-server",
      "clientChecks": "preparation-only",
      "walletHandoffRequiresVerifiedEvidence": true,
      "configurationIsExecutionEvidence": false,
      "notConfiguredDisposition": "blocks_wallet_handoff",
      "unavailableDisposition": "blocks_wallet_handoff",
      "executedFailureDisposition": "blocks_wallet_handoff",
      "immutableFeePathRequired": true,
      "mandatoryServerGates": ["exact-source-compiler-graph-binding", "static-hard-block-policy", "platform-admission-receipt", "exact-router-simulation", "verified-behavior-evidence", "verified-exact-ten-bps-fee-path"],
      "localOrModelApprovalAccepted": false
    },
    "activationBlockers": [
      "backend-profile-3.4-activation",
      "cli-3.3.8-release",
      "well-known-default-flip",
      "independent-live-capability-and-route-probes"
    ]
  },
  "x-programmable-agent-integration": {
    "schemaVersion": "programmable.custom-launch-agent-remediation-catalog.v1",
    "startUrl": "https://programmable.market/.well-known/programmable.json",
    "remediationCatalogUrl": "https://programmable.market/policies/custom-launch-agent-remediation-v1.json",
    "packConfigSchemaUrl": "https://programmable.market/schemas/custom-launch/v3/pack-config.json",
    "guideUrl": "https://programmable.market/docs/developers/custom-launch#existing-project-integration",
    "capabilitiesUrl": "https://api.programmable.market/v3/capabilities",
    "finalizedMetadataUrl": "https://api.programmable.market/v3/finalized-custom-launches",
    "preflightUrl": "https://api.programmable.market/v3/custom-launches/preflight",
    "requiredCommandOrder": [
      "pack",
      "validate --remote",
      "submit",
      "status --watch --until authorized",
      "status --watch --until finalized"
    ],
    "quickstart": [
      "pack",
      "validate --remote",
      "submit",
      "status --watch --until authorized",
      "wallet",
      "status --watch --until finalized"
    ],
    "apiKeyEnvironmentVariable": "PROGRAMMABLE_API_KEY",
    "apiKeyPlaceholder": "$PROGRAMMABLE_API_KEY",
    "apiKeyContainsPolicy": false,
    "authenticatedApiOrigin": "https://api.programmable.market",
    "apiOriginOverride": false,
    "preflightAndSubmitCapabilitiesFailClosedBeforeApiKey": true,
    "manualProjectAllowlist": false,
    "automaticAdmission": true,
    "automaticRouterSimulation": true,
    "clientChecks": "preparation-only",
    "decisionAuthority": "api-server",
    "walletAuthorizationGate": {
      "walletHandoffRequiresVerifiedEvidence": true,
      "configurationIsExecutionEvidence": false,
      "notConfiguredDisposition": "blocks_wallet_handoff",
      "unavailableDisposition": "blocks_wallet_handoff",
      "executedFailureDisposition": "blocks_wallet_handoff",
      "immutableFeePathRequired": true,
      "mandatoryServerGates": ["exact-source-compiler-graph-binding", "static-hard-block-policy", "platform-admission-receipt", "exact-router-simulation", "verified-behavior-evidence", "verified-exact-ten-bps-fee-path"],
      "tenBpsClaimRequiresExactPerLaunchVerifiedFeePathEvidence": true,
      "feeBehaviorClaim": false,
      "localOrModelApprovalAccepted": false
    },
    "remotePreflight": {
      "quotaConsumed": false,
      "quotaConsumedMeaning": "no-launch-creation-quota-or-durable-reservation",
      "authenticatedRequestRateBudgetConsumed": true,
      "nonceAllocated": false,
      "persisted": false,
      "walletSignatureRequiredLater": true,
      "walletBroadcastByService": false
    },
    "walletSigning": "separate-controller-action",
    "pendingProfile3_4SubmissionEnabled": false
  },
  "x-programmable-profile": {
    "profileId": "programmable.direct-native-hook-graph.v1",
    "profileRevision": 3,
    "profileVersion": "3.4.0",
    "compatibleProfileVersions": ["3.3.0", "3.2.0", "3.1.0", "3.0.0", "2.0.0"],
    "activationStatus": "preparatory-not-live",
    "liveProfileVersion": "3.3.0",
    "availableForFreshWrites": false,
    "productionLaunchAuthorized": false,
    "minimumTargets": 4,
    "maximumTargets": 16,
    "minimumHookPermissionMask": 0,
    "maximumHookPermissionMask": 16383,
    "projectOwnedToken": true,
    "projectOwnedHook": true,
    "platformAdmissionReceiptRequired": true,
    "routerSimulationRequiredBeforeAuthorization": true,
    "serverVerifiedEvidenceRequiredForPositiveClaims": true,
    "safetyClaim": false,
    "feeBehaviorClaim": false,
    "canonicalSettlementFeeModule": {
      "moduleId": "programmable:settlement-fee-vault:v1",
      "releaseBindingSha256": "sha256:39ccdfdf8cd61620bf5c62bf07fb8428adbd66d2608b1cf3ad583343116d7ed9",
      "sourceSha256": "sha256:0a01ee8c22d103343d14b1d3890902e3edeecef25ea84a0f03f23a3fe8f1042b",
      "creationBytecodeSha256": "sha256:7b0d51612be90023839f36cf28ae56963d8146d28ff441dd2a20195d56238b81",
      "creationBytecodeKeccak256": "0xdbc32e835739b50f33a101a8927008fc46af4c11604f7a5da006e5c56288b21e",
      "runtimeBytecodeSha256": "sha256:980c0eec1017a7dbbd9010935107440125070a0b1fa4688bca92754e2bf1e649",
      "runtimeBytecodeKeccak256": "0x92620fe3f83839334c9a264bea5bfcc819868ca5607cbd2260e5a9664dbd7554",
      "compiler": {
        "version": "0.8.26+commit.8a97fa7a",
        "evmVersion": "paris",
        "optimizer": { "enabled": true, "runs": 1000 },
        "viaIR": false,
        "metadata": { "bytecodeHash": "none", "appendCBOR": false }
      },
      "constructor": "graphFactory",
      "initializer": "bindRoute(address) with exact route-target locator",
      "reciprocalRoute": "exactly one route constructor or initializer locator back to the vault; settlementFeeVault() behavior is verified server-side"
    }
  },
  "x-programmable-partner-credentials": {
    "schemaVersion": "programmable.partner-public-contract.v1",
    "environmentVariable": "PROGRAMMABLE_API_KEY",
    "credentialFormats": [
      "pm_live_<key>",
      "pm_partner_root_<22-char-key-id>_<43-char-secret>",
      "pm_partner_<22-char-key-id>_<43-char-secret>"
    ],
    "canonicalLaunchRoutes": [
      "GET /v3/capabilities",
      "POST /v3/custom-launches/preflight",
      "POST /v3/custom-launches",
      "GET /v3/custom-launches",
      "GET /v3/custom-launches/{launchId}"
    ],
    "launchScopes": ["custom-launch:create", "custom-launch:read"],
    "rootOnlyScope": "partner-subkeys:manage",
    "rootSubkeyRoutes": [
      "GET /v1/partner/subkeys",
      "POST /v1/partner/subkeys",
      "POST /v1/partner/subkeys/{subkeyId}/rotate",
      "DELETE /v1/partner/subkeys/{subkeyId}"
    ],
    "permitReissueDispositionCredentialKind": "wallet-only",
    "metadataPolicySameAsWalletKeys": true,
    "controllerWallet": {
      "walletKey": "must-equal-key-wallet-binding",
      "partnerCredential": "selected-by-exact-request",
      "mustReviewSignAndBroadcast": true
    },
    "launchHistoryVisibility": {
      "root": "all-partner-attributed-root-and-subkey-launches",
      "subkey": "stable-subkey-lineage-only",
      "rootAggregatesSubkeys": true,
      "rotationPreservesLineageHistory": true,
      "newDistinctSubkeyStartsIsolatedLineage": true,
      "revokedCredentialCanAuthenticate": false
    },
    "secretDelivery": "issue-and-rotation-response-only",
    "walletSigningAuthority": false,
    "walletBroadcastAuthority": false,
    "gateBypassAuthority": false,
    "adminProvisioning": {
      "authentication": "website-bff-assertion-v2",
      "authorization": "server-configured-privy-user-wallet-pair-allowlist",
      "clientMaySelfAuthorize": false
    },
    "attributionResponseField": "partnerAttribution",
    "attributionSchemaVersion": "programmable.launch-partner-attribution.v1",
    "callerSuppliedAttributionAccepted": false,
    "attributionIsVerificationOrSafetyClaim": false
  },
  "x-programmable-admission-policy": {
    "currentProfileVersion": "3.3.0",
    "pendingProfileVersion": "3.4.0",
    "legacyExactProfileVersions": ["3.2.0", "3.1.0", "3.0.0", "2.0.0"],
    "legacySemantics": "readable-and-byte-identical-retryable-only",
    "manualProjectAllowlist": false,
    "hardBlockFindingRules": [
      { "code": "RUNTIME_CALLCODE", "targetRoles": ["any"] },
      { "code": "RUNTIME_SELFDESTRUCT", "targetRoles": ["any"] },
      { "code": "SOURCE_SELFDESTRUCT_SURFACE", "targetRoles": ["any"] },
      { "code": "V4_CALLBACK_AUTHENTICATION_MISSING", "targetRoles": ["hook"] },
      { "code": "V4_CALLBACK_AUTHENTICATION_INVALID", "targetRoles": ["hook"] },
      { "code": "V4_CALLBACK_POOL_MANAGER_MISMATCH", "targetRoles": ["hook"] },
      { "code": "V4_ENABLED_CALLBACK_IMPLEMENTATION_MISSING", "targetRoles": ["hook"] }
    ],
    "needsEvidenceFindingCodes": [
      "RUNTIME_CREATE",
      "RUNTIME_CREATE2",
      "SOURCE_TARGET_ANALYSIS_INCOMPLETE",
      "V4_CALLBACK_AUTHENTICATION_REVIEW_REQUIRED",
      "RUNTIME_DELEGATECALL",
      "SOURCE_PROXY_OR_UPGRADE_SURFACE",
      "SOURCE_MUTABLE_PAUSE_SURFACE",
      "SOURCE_MUTABLE_BLOCKLIST_SURFACE",
      "SOURCE_MUTABLE_TAX_OR_FEE_SURFACE",
      "SOURCE_MUTABLE_TRANSFER_RESTRICTION",
      "SOURCE_MUTABLE_ADMIN_SURFACE",
      "SOURCE_PUBLIC_MINT_SURFACE",
      "SOURCE_EXTERNAL_DEPENDENCY_SURFACE",
      "SOURCE_TRANSFER_FEE_SURFACE",
      "SOURCE_LIQUIDITY_LOCK_OR_CUSTODY_SURFACE"
    ],
    "advancedSurfacesAreEvidenceDuties": [
      "proxy-or-delegatecall",
      "mint-tax-pause-or-transfer-controls",
      "liquidity-custody-or-locking",
      "return-delta-custom-accounting"
    ]
  },
  "x-programmable-funding-boundary": {
    "modes": [
      "none",
      "wallet-transaction-value",
      "eip-3009-receive-with-authorization"
    ],
    "descriptorSchemaVersion": "programmable.funding-authorization-descriptor.v1",
    "authorizationPatchSchemaVersion": "programmable.eip3009-authorization-patch.v2",
    "authorizationPatchEncoding": "eip3009-nonce-r-s-v-abi-leaves",
    "legacySignaturePatchSchemaVersion": "programmable.eip3009-signature-patch.v1",
    "signatureIncludedInCreateRequest": false,
    "fundingIntentHashStage": "pre-signature",
    "excludedFromFundingIntentHash": [
      "signature",
      "initializerCalldataHash",
      "graphCommitment",
      "permitDigest"
    ],
    "automaticSigning": false,
    "automaticBroadcast": false
  },
  "x-programmable-fee-accounting": {
    "accountingModes": [
      "additive-platform-share",
      "inclusive-selected-total"
    ],
    "rateDenominator": "1000000",
    "programmableFeeHundredthsOfBip": "1000",
    "applicantSelectedMaximumHundredthsOfBip": "100000",
    "maximumAdditiveEffectiveTotalHundredthsOfBip": "101000",
    "lpPoolFeeMaximumUnchanged": true,
    "invariants": {
      "additive-platform-share": "effectiveTotal=selected+1000; projectShare=selected",
      "inclusive-selected-total": "effectiveTotal=max(selected,1000); projectShare=effectiveTotal-1000"
    },
    "derivedResultsAreRecomputedByServer": true,
    "tenBpsClaimRequiresExactPerLaunchVerifiedFeePathEvidence": true,
    "tenBpsClaimScope": "exact-launch-and-stamped-poolkey-only",
    "feeBehaviorClaim": false
  },
  "tags": [
    {
      "name": "V3 general hooks",
      "description": "Production project-owned token, hook and multi-contract graph launch capability."
    },
    {
      "name": "Partner subkeys",
      "description": "Root-partner management of bounded child API credentials. These public routes never expose partner administration or wallet-signing authority."
    }
  ],
  "paths": {
    "/v3/capabilities": {
      "get": {
        "operationId": "getCustomLaunchCapabilitiesV3",
        "summary": "Discover the public V3 capability boundary",
        "description": "Unauthenticated, non-authorizing discovery for the current V3 profile, exact routes, structural graph support, funding and liquidity modes, evidence tiers and negative guarantees. Capability discovery does not prove that a submitted project is deployable, routable, indexed, source verified or featured.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "security": [],
        "responses": {
          "200": {
            "description": "Current additive V3 capability document.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchCapabilitiesV1"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v3/finalized-custom-launches": {
      "get": {
        "operationId": "listFinalizedCustomLaunchMetadataV3",
        "summary": "List finalized public Custom launch metadata",
        "description": "Unauthenticated bounded newest-first feed of finalized Router identities and their launch-id-bound project metadata. It contains no API key, controller-private request bytes, pending request or wallet action. Consumers must key identity by routerLaunchId, never resourceId. A 503 has no embedded last-known-good payload; downstream indexers may maintain their own bounded LKG with explicit freshness.",
        "tags": ["V3 general hooks"],
        "x-programmable-public-availability": "live",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque continuation cursor returned by nextCursor.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finalized-only public metadata page.",
            "headers": {
              "Cache-Control": {
                "description": "Short public cache with bounded stale revalidation.",
                "schema": { "const": "public, max-age=15, stale-while-revalidate=300" }
              },
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalizedCustomLaunchMetadataListV1"
                }
              }
            }
          },
          "400": {
            "description": "Unknown, duplicate or invalid pagination parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                },
                "example": {
                  "schemaVersion": "programmable.api-error.v1",
                  "error": {
                    "code": "INVALID_PAGINATION",
                    "message": "Pagination parameters are invalid",
                    "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" },
          "503": { "$ref": "#/components/responses/V3Unavailable" }
        }
      }
    },
    "/v3/custom-launches/preflight": {
      "post": {
        "operationId": "preflightDirectNativeCustomLaunchV3",
        "summary": "Evaluate the exact V3 request without creating a launch",
        "description": "Run the production profile parser, exact source/build binding and deterministic static baseline against the same byte-identical V3 body later used by create. quotaConsumed=false means no launch-creation quota or durable launch reservation is consumed; the authenticated call still consumes its ordinary route rate budget, including a partner credential's prepareRequestsPerHour budget. Preflight allocates no nonce, persists no launch and never signs or broadcasts. Its deployable, routable and featured booleans are distinct eligibility axes at the reported evidence tier; they are not deployment, trading, source-verification, indexing or feature-placement proof and are never a safety guarantee.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "x-programmable-side-effects": {
          "quotaConsumed": false,
          "quotaConsumedMeaning": "no-launch-creation-quota-or-durable-reservation",
          "authenticatedRequestRateBudgetConsumed": true,
          "nonceAllocated": false,
          "persisted": false,
          "walletSignatureRequiredLater": true,
          "walletBroadcastByService": false
        },
        "security": [
          {
            "CustomLaunchApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The exact locally validated programmable.custom-launch-create-request.v3 bytes. There is no wrapper and preflight never reserves the request nonce.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Side-effect-free V3 preflight classification for the exact request hash.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchPreflightV1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/custom-launches": {
      "post": {
        "operationId": "createDirectNativeCustomLaunchV3",
        "summary": "Submit an exact V3 general-hook request",
        "description": "Submit the byte-identical CLI-derived request. A wallet key requires launchWallet to equal its wallet binding. A partner root or subkey selects the exact controller in launchWallet but gains no signing authority; that controller remains the wallet that must review, sign and broadcast. Partner credentials use the same current-profile metadata policy as wallet keys. Every target remains per-launch bound to exact source, compiler, build, creation/runtime bytes, final calldata and simulation evidence. Role-aware blocking indicators stop before wallet authorization; bound warnings remain visible and continue to exact Router simulation. Admission is not an audit or a safety, liquidity, tradeability, honeypot, or fee-behavior guarantee.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Exact-request idempotency binding. It must not contain an API key or wallet signature.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomLaunchCreateRequestV3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An exact Idempotency-Key replay returns the existing V3 resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "202": {
            "description": "A new request is durably accepted for exact validation and conformance processing.",
            "headers": {
              "Location": {
                "description": "Version-matched single-resource polling path.",
                "schema": {
                  "type": "string",
                  "pattern": "^/v3/custom-launches/[A-Za-z0-9_-]{16,128}$"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/LaunchQuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "A transient dependency is unavailable. Honor Retry-After and retry only the byte-identical request; never fall back to another create version.",
            "headers": {
              "Retry-After": {
                "description": "Delay before an exact retry.",
                "schema": {
                  "type": "string",
                  "pattern": "^[1-9][0-9]*$"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                },
                "example": {
                  "schemaVersion": "programmable.api-error.v1",
                  "error": {
                    "code": "CUSTOM_LAUNCH_V3_UNAVAILABLE",
                    "message": "A required production dependency is temporarily unavailable",
                    "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listDirectNativeCustomLaunchesV3",
        "summary": "List V3 resources visible to the authenticated credential",
        "description": "Version-matched newest-first list for the authenticated lineage. A wallet key sees its wallet principal. A partner root sees every launch attributed to its partner, including current and rotated child launches. A subkey sees only its stable lineage and cannot read root or sibling launches. Rotation preserves that lineage history; a separately issued subkey starts an isolated lineage. Pending rows may receive bounded best-effort reconciliation; use single-resource GET for precise polling.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 512,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential-principal-scoped V3 resource page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchListPageV3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/custom-launches/{launchId}": {
      "get": {
        "operationId": "getDirectNativeCustomLaunchV3",
        "summary": "Read one V3 resource visible to the authenticated credential",
        "description": "The single-resource contract is the precise polling source for conformance state, any exact funding challenge and, after validation and simulation, the exact Router transaction. A wallet key reads its wallet principal. A partner root reads every launch attributed to its partner, including launches created by current or rotated subkeys. A subkey reads only its stable lineage and cannot read root or sibling launches. Rotation revokes the predecessor credential, preserves that lineage for the replacement and never restores authentication to the revoked credential. The API never signs or broadcasts either wallet action.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current durable V3 resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "404": {
            "description": "Launch not found for this wallet principal, partner root aggregate or permitted stable subkey lineage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/wallet-admin/custom-launches/{launchId}/funding-authorization": {
      "post": {
        "operationId": "submitDirectNativeFundingAuthorizationV3",
        "summary": "Submit one explicitly wallet-signed EIP-3009 authorization",
        "description": "Website-BFF to backend handoff only; this is not an API-key CLI operation. The website must first authenticate the wallet principal, show and validate the exact challenge, request eth_signTypedData_v4 only after an explicit user action, verify the canonical signature client-side, and then submit it once with a durable Idempotency-Key. Acceptance does not send the separate Router transaction.",
        "tags": [
          "V3 general hooks"
        ],
        "x-programmable-public-availability": "live",
        "security": [
          {
            "CustomLaunchWebsiteToken": []
          }
        ],
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Durably binds this exact signature body. An identical replay returns 200; body substitution under the same key returns 409.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Programmable-Privy-User-Id",
            "in": "header",
            "required": true,
            "description": "Server-verified Privy principal. Browsers must not manufacture this header directly.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "X-Programmable-Wallet-Address",
            "in": "header",
            "required": true,
            "description": "Checksum wallet address already proven linked to the authenticated principal by the website BFF.",
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/EthereumAddress"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundingAuthorizationSubmissionV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact Idempotency-Key and body replay; returns the existing full V3 resource without applying the signature twice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "202": {
            "description": "First acceptance of the exact canonical signature. The resource advances through funding_authorization_verified and may return pending_review, action_required, prepared, simulating, or authorized; the Router transaction still requires a later explicit wallet send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomLaunchResourceV3"
                }
              }
            }
          },
          "400": {
            "description": "Malformed schema, signature, digest, launch binding, or Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "401": {
            "description": "Website service authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "403": {
            "description": "The verified principal does not control the launch wallet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "404": {
            "description": "Launch not found for this wallet principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency substitution, stale funding intent/digest, or a launch that already advanced under different authorization bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/LaunchQuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/V3Unavailable"
          }
        }
      }
    },
    "/v3/custom-launches/{launchId}/permit-reissues": {
      "post": {
        "operationId": "requestPermitReissueDispositionV3",
        "summary": "Inspect the Router V1 permit-reissue disposition",
        "description": "Wallet-key-only inspection for the current deployed-contract boundary. Partner roots and subkeys are not authenticated on this route and recover directly by repacking and submitting a new launch request. This release has no successful permit-reissue operation and therefore defines no 2xx response. Router V1 uses the signed permit nonce as the CREATE2 route nonce, so changing it would change the predicted route. A conforming wallet-key call returns a typed 409 explaining why reissue is unsupported, not applicable, or bound to different request bytes. The current recovery is to repack and submit a new launch request with a fresh nonce and new Idempotency-Key; full fee and security gates run again and predicted addresses may change. This endpoint never reserves a replacement nonce, issues a replacement permit, signs, or broadcasts.",
        "tags": ["V3 general hooks"],
        "x-programmable-public-availability": "live-unsupported-disposition-only",
        "x-programmable-required-scope": "custom-launch:create",
        "security": [{ "WalletCustomLaunchApiKey": [] }],
        "parameters": [
          {
            "name": "launchId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Binds this exact disposition request. It does not reserve a nonce or create a launch.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PermitReissueRequestV1" }
            }
          }
        },
        "responses": {
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": {
            "description": "Launch not found for this authenticated wallet principal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                }
              }
            }
          },
          "409": {
            "description": "Typed disposition: PERMIT_REISSUE_UNSUPPORTED, PERMIT_REISSUE_NOT_APPLICABLE, or PERMIT_REISSUE_RESOURCE_BINDING_MISMATCH. There is no successful reissue response in this release.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "enum": [
                                "PERMIT_REISSUE_UNSUPPORTED",
                                "PERMIT_REISSUE_NOT_APPLICABLE",
                                "PERMIT_REISSUE_RESOURCE_BINDING_MISMATCH"
                              ]
                            },
                            "details": {
                              "$ref": "#/components/schemas/PermitReissueDispositionV1"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": { "$ref": "#/components/responses/LaunchQuotaExceeded" },
          "503": { "$ref": "#/components/responses/V3Unavailable" }
        }
      }
    },
    "/v1/partner/subkeys": {
      "get": {
        "operationId": "listPartnerSubkeysV1",
        "summary": "List subkeys owned by the authenticated partner root",
        "description": "Returns at most 500 newest-first child credentials for the exact authenticated root, including revoked and rotated metadata. It does not return child launch history. No query parameters are accepted. Secrets are never returned by list. A root credential with partner-subkeys:manage is required; wallet keys and partner subkeys cannot call this route. The call consumes the root's partner-subkey-admin request budget.",
        "tags": ["Partner subkeys"],
        "x-programmable-public-availability": "live",
        "x-programmable-required-scope": "partner-subkeys:manage",
        "x-programmable-budget-class": "partner-subkey-admin",
        "security": [{ "PartnerRootApiKey": [] }],
        "responses": {
          "200": {
            "description": "Bounded subkey metadata for this root only.",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
              "Cache-Control": { "$ref": "#/components/headers/NoStore" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartnerSubkeyListV1" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/PartnerBadRequest" },
          "401": { "$ref": "#/components/responses/PartnerUnauthorized" },
          "403": { "$ref": "#/components/responses/PartnerForbidden" },
          "429": { "$ref": "#/components/responses/PartnerRateLimited" },
          "500": { "$ref": "#/components/responses/PartnerInternalError" }
        }
      },
      "post": {
        "operationId": "createPartnerSubkeyV1",
        "summary": "Issue one bounded partner subkey",
        "description": "Issues a child credential with its own isolated launch principal. Its scopes and budgets cannot exceed the authenticated root and its expiry cannot exceed the root expiry. The Idempotency-Key binds the canonical request. The first committed response is 201 and delivers apiKey exactly once; an exact replay is 200 with apiKey null. Preserve the original body and Idempotency-Key across ambiguous transport failure. No query parameters are accepted. The call consumes the root's partner-subkey-admin request budget.",
        "tags": ["Partner subkeys"],
        "x-programmable-public-availability": "live",
        "x-programmable-required-scope": "partner-subkeys:manage",
        "x-programmable-budget-class": "partner-subkey-admin",
        "security": [{ "PartnerRootApiKey": [] }],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Stable key for these exact canonical request bytes. Reuse with different bytes returns 409.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Content-Type must be exactly application/json. Unknown fields are rejected.",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PartnerSubkeyRequestV1" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact idempotent replay. The one-time secret was already delivered and apiKey is null.",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
              "Cache-Control": { "$ref": "#/components/headers/NoStore" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartnerSubkeyReplayResultV1" }
              }
            }
          },
          "201": {
            "description": "Subkey created. apiKey is delivered in this response only and must be moved directly into an encrypted secret store.",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
              "Cache-Control": { "$ref": "#/components/headers/NoStore" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartnerSubkeyCreatedResultV1" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/PartnerBadRequest" },
          "401": { "$ref": "#/components/responses/PartnerUnauthorized" },
          "403": { "$ref": "#/components/responses/PartnerForbidden" },
          "409": { "$ref": "#/components/responses/PartnerConflict" },
          "413": { "$ref": "#/components/responses/PartnerRequestTooLarge" },
          "415": { "$ref": "#/components/responses/PartnerUnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/PartnerRateLimited" },
          "500": { "$ref": "#/components/responses/PartnerInternalError" }
        }
      }
    },
    "/v1/partner/subkeys/{subkeyId}/rotate": {
      "post": {
        "operationId": "rotatePartnerSubkeyV1",
        "summary": "Rotate one subkey owned by the authenticated root",
        "description": "Revokes the selected child credential and creates its replacement atomically for this root. The replacement retains the same immutable subkey lineage and can read that lineage's authenticated launch history; it cannot read root or sibling launches. The partner root continues to see every launch attributed to its partner. The replacement remains bounded by the authenticated root. The first committed response is 201 with the replacement apiKey exactly once; an exact idempotent replay is 200 with apiKey null. No query parameters are accepted. The call consumes the root's partner-subkey-admin request budget.",
        "tags": ["Partner subkeys"],
        "x-programmable-public-availability": "live",
        "x-programmable-required-scope": "partner-subkeys:manage",
        "x-programmable-budget-class": "partner-subkey-admin",
        "security": [{ "PartnerRootApiKey": [] }],
        "parameters": [
          {
            "name": "subkeyId",
            "in": "path",
            "required": true,
            "description": "UUID of a child credential owned by the authenticated root.",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Stable key for this exact rotation target and canonical request body. Reuse with different bytes returns 409.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Content-Type must be exactly application/json. Unknown fields are rejected.",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PartnerSubkeyRequestV1" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact idempotent replay. The replacement secret was already delivered and apiKey is null.",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
              "Cache-Control": { "$ref": "#/components/headers/NoStore" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartnerSubkeyReplayResultV1" }
              }
            }
          },
          "201": {
            "description": "Replacement created. apiKey is delivered in this response only.",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
              "Cache-Control": { "$ref": "#/components/headers/NoStore" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartnerSubkeyCreatedResultV1" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/PartnerBadRequest" },
          "401": { "$ref": "#/components/responses/PartnerUnauthorized" },
          "403": { "$ref": "#/components/responses/PartnerForbidden" },
          "404": { "$ref": "#/components/responses/PartnerNotFound" },
          "409": { "$ref": "#/components/responses/PartnerConflict" },
          "413": { "$ref": "#/components/responses/PartnerRequestTooLarge" },
          "415": { "$ref": "#/components/responses/PartnerUnsupportedMediaType" },
          "429": { "$ref": "#/components/responses/PartnerRateLimited" },
          "500": { "$ref": "#/components/responses/PartnerInternalError" }
        }
      }
    },
    "/v1/partner/subkeys/{subkeyId}": {
      "delete": {
        "operationId": "revokePartnerSubkeyV1",
        "summary": "Revoke one subkey owned by the authenticated root",
        "description": "Permanently revokes a child credential and its active launch bridges. The revoked credential can no longer authenticate. The partner root retains visibility of all partner-attributed launch history. Repeating deletion of the same owned credential returns 200 with disposition already_revoked. No request body, Idempotency-Key, query parameter, or secret is accepted or returned. The call consumes the root's partner-subkey-admin request budget.",
        "tags": ["Partner subkeys"],
        "x-programmable-public-availability": "live",
        "x-programmable-required-scope": "partner-subkeys:manage",
        "x-programmable-budget-class": "partner-subkey-admin",
        "security": [{ "PartnerRootApiKey": [] }],
        "parameters": [
          {
            "name": "subkeyId",
            "in": "path",
            "required": true,
            "description": "UUID of a child credential owned by the authenticated root.",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential revoked now or already revoked earlier.",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
              "Cache-Control": { "$ref": "#/components/headers/NoStore" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PartnerSubkeyRevocationV1" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/PartnerBadRequest" },
          "401": { "$ref": "#/components/responses/PartnerUnauthorized" },
          "403": { "$ref": "#/components/responses/PartnerForbidden" },
          "404": { "$ref": "#/components/responses/PartnerNotFound" },
          "429": { "$ref": "#/components/responses/PartnerRateLimited" },
          "500": { "$ref": "#/components/responses/PartnerInternalError" }
        }
      }
    }
  },
  "components": {
    "headers": {
      "RequestId": {
        "description": "HTTP correlation identifier. Preserve it with the HTTP status and UTC time for support; it is not the durable launch resource requestId.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "RetryAfter": {
        "description": "Whole-second delay before the next safe retry.",
        "schema": {
          "type": "string",
          "pattern": "^[1-9][0-9]*$"
        }
      },
      "NoStore": {
        "description": "Partner credential responses are never cacheable.",
        "schema": { "const": "no-store" }
      }
    },
    "securitySchemes": {
      "CustomLaunchApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pm_live_* | pm_partner_root_<22>_<43> | pm_partner_<22>_<43>",
        "description": "Wallet, partner-root, or bounded partner-subkey credential loaded from the same PROGRAMMABLE_API_KEY or supported operating-system secret store. It is never accepted as an argument or prompt. Partner credentials use the canonical V3 create, preflight, list and status flow and may add server-owned attribution, but no credential grants wallet signing, broadcast, or gate-bypass authority. The Router V1 permit-reissue disposition route is the explicit wallet-key-only exception."
      },
      "WalletCustomLaunchApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pm_live_*",
        "description": "Wallet-bound API key loaded from PROGRAMMABLE_API_KEY or a supported operating-system secret store. The Router V1 permit-reissue disposition route does not authenticate partner roots or subkeys."
      },
      "CustomLaunchWebsiteToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "server-held website service token",
        "description": "Server-to-server credential held only by the Programmable website BFF. A browser authenticates its own wallet session to the BFF and never receives this token."
      },
      "PartnerRootApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pm_partner_root_<22-char-key-id>_<43-char-secret>",
        "description": "Partner root credential read from PROGRAMMABLE_API_KEY or an encrypted secret store. The authenticated root must hold partner-subkeys:manage. Wallet keys and child partner subkeys cannot manage subkeys. This credential never grants wallet signing or broadcast authority."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed JSON, query values, Idempotency-Key, hash binding or closed V3 request shape.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The required API key or website service credential is missing, malformed, expired, revoked or unknown.",
        "headers": {
          "WWW-Authenticate": {
            "description": "Bearer challenge.",
            "schema": {
              "const": "Bearer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The required scope, wallet binding or verified website principal is missing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Conflict": {
        "description": "The idempotency key, nonce, funding intent or durable launch state conflicts with the submitted bytes. Do not mutate a retry merely to bypass the conflict.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "RequestTooLarge": {
        "description": "The streaming request body exceeded 8,388,608 bytes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type must be application/json, optionally with charset=utf-8.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "The request parsed but failed source, graph, hook-permission, admission, funding, profile or exact-simulation validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "LaunchQuotaExceeded": {
        "description": "The launch admission quota or wallet-admin rate limit was reached. Honor Retry-After before retrying identical bytes.",
        "headers": {
          "Retry-After": {
            "description": "Delay before the next exact retry.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]*$"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server failure. The response includes a correlation requestId and no secret.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            }
          }
        }
      },
      "V3Unavailable": {
        "description": "A required V3 production dependency is temporarily unavailable.",
        "headers": {
          "Retry-After": {
            "description": "Delay before an exact retry.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]*$"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2"
            },
            "example": {
              "schemaVersion": "programmable.api-error.v1",
              "error": {
                "code": "CUSTOM_LAUNCH_V3_UNAVAILABLE",
                "message": "A required production dependency is temporarily unavailable",
                "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
              }
            }
          }
        }
      },
      "PartnerBadRequest": {
        "description": "The path/query boundary, JSON body, Idempotency-Key, requested scopes, budgets, expiry, or closed request shape is invalid.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerUnauthorized": {
        "description": "The partner-root Bearer credential is missing, malformed, expired, revoked, suspended, or unknown.",
        "headers": {
          "WWW-Authenticate": {
            "description": "Bearer challenge.",
            "schema": { "const": "Bearer" }
          },
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerForbidden": {
        "description": "The authenticated credential is not a partner root or does not hold partner-subkeys:manage.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerNotFound": {
        "description": "The path identifier is invalid. DELETE also returns this response when the selected subkey is not owned by this authenticated root.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerConflict": {
        "description": "The same Idempotency-Key was already committed for a different partner operation target or canonical body.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerRequestTooLarge": {
        "description": "The streaming partner request body exceeded 32,768 bytes.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerUnsupportedMediaType": {
        "description": "Content-Type must be exactly application/json.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerRateLimited": {
        "description": "The authenticated root's partner-subkey-admin hourly budget was reached. Retry the identical operation only after Retry-After.",
        "headers": {
          "Retry-After": { "$ref": "#/components/headers/RetryAfter" },
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" }
          }
        }
      },
      "PartnerInternalError": {
        "description": "Unexpected internal failure. The bounded response contains a correlation requestId and never includes a credential, secret, request body, or internal error detail.",
        "headers": {
          "X-Request-Id": { "$ref": "#/components/headers/RequestId" },
          "Cache-Control": { "$ref": "#/components/headers/NoStore" }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "./custom-launch-v2.json#/components/schemas/CustomLaunchApiErrorV2" },
            "example": {
              "schemaVersion": "programmable.api-error.v1",
              "error": {
                "code": "INTERNAL_ERROR",
                "message": "The partner administration service is temporarily unavailable.",
                "requestId": "018f1f8e-7d93-7c2f-8d7f-e114942e7f25"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "PartnerSubkeyBudgetLimitsV1": {
        "type": "object",
        "required": ["prepareRequestsPerHour", "readRequestsPerMinute"],
        "properties": {
          "prepareRequestsPerHour": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "description": "Child create/preflight ceiling. It cannot exceed the authenticated root's prepareRequestsPerHour budget."
          },
          "readRequestsPerMinute": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "description": "Child lifecycle-read ceiling. It cannot exceed the authenticated root's readRequestsPerMinute budget."
          }
        },
        "additionalProperties": false
      },
      "PartnerSubkeyScopeV1": {
        "type": "string",
        "enum": ["custom-launch:create", "custom-launch:read"],
        "description": "A child may receive only scopes already held by its authenticated root. partner-subkeys:manage is never grantable to a child."
      },
      "PartnerSubkeyRequestV1": {
        "type": "object",
        "required": ["schemaVersion", "displayName", "scopes", "budgets", "expiresAt"],
        "properties": {
          "schemaVersion": { "const": "programmable.partner-subkey-request.v1" },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 96,
            "description": "Trimmed public label. Control, bidi-control, zero-width, and byte-order-mark characters are rejected."
          },
          "scopes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 2,
            "uniqueItems": true,
            "items": { "$ref": "#/components/schemas/PartnerSubkeyScopeV1" }
          },
          "budgets": { "$ref": "#/components/schemas/PartnerSubkeyBudgetLimitsV1" },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}Z$",
            "description": "Canonical millisecond UTC timestamp after server time and no later than the authenticated root expiry."
          }
        },
        "additionalProperties": false
      },
      "PartnerSubkeyMetadataV1": {
        "type": "object",
        "required": [
          "subkeyId",
          "rootKeyId",
          "partnerId",
          "keyId",
          "displayName",
          "scopes",
          "budgets",
          "createdAt",
          "expiresAt",
          "lastUsedAt",
          "revokedAt",
          "rotatedFromSubkeyId"
        ],
        "properties": {
          "subkeyId": { "type": "string", "format": "uuid" },
          "rootKeyId": { "type": "string", "format": "uuid" },
          "partnerId": { "type": "string", "format": "uuid" },
          "keyId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{22}$",
            "description": "Public credential identifier only, never the secret."
          },
          "displayName": { "type": "string", "minLength": 1, "maxLength": 96 },
          "scopes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 2,
            "uniqueItems": true,
            "items": { "$ref": "#/components/schemas/PartnerSubkeyScopeV1" }
          },
          "budgets": { "$ref": "#/components/schemas/PartnerSubkeyBudgetLimitsV1" },
          "createdAt": { "type": "string", "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "lastUsedAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "type": "null" }
            ]
          },
          "revokedAt": {
            "oneOf": [
              { "type": "string", "format": "date-time" },
              { "type": "null" }
            ]
          },
          "rotatedFromSubkeyId": {
            "oneOf": [
              { "type": "string", "format": "uuid" },
              { "type": "null" }
            ],
            "description": "The revoked predecessor for a rotation, or null for an original issue. The replacement retains the predecessor's stable subkey lineage and its authenticated launch history."
          }
        },
        "additionalProperties": false
      },
      "PartnerSubkeyListV1": {
        "type": "object",
        "required": ["schemaVersion", "credentials"],
        "properties": {
          "schemaVersion": { "const": "programmable.partner-subkey-list.v1" },
          "credentials": {
            "type": "array",
            "maxItems": 500,
            "items": { "$ref": "#/components/schemas/PartnerSubkeyMetadataV1" }
          }
        },
        "additionalProperties": false
      },
      "PartnerSubkeyCreatedResultV1": {
        "type": "object",
        "required": ["schemaVersion", "disposition", "credential", "apiKey", "secretState"],
        "properties": {
          "schemaVersion": { "const": "programmable.partner-subkey-result.v1" },
          "disposition": { "const": "created" },
          "credential": { "$ref": "#/components/schemas/PartnerSubkeyMetadataV1" },
          "apiKey": {
            "type": "string",
            "pattern": "^pm_partner_[A-Za-z0-9_-]{22}_[A-Za-z0-9_-]{43}$",
            "description": "One-time secret. The service never persists or returns it again."
          },
          "secretState": { "const": "delivered-once" }
        },
        "additionalProperties": false
      },
      "PartnerSubkeyReplayResultV1": {
        "type": "object",
        "required": ["schemaVersion", "disposition", "credential", "apiKey", "secretState"],
        "properties": {
          "schemaVersion": { "const": "programmable.partner-subkey-result.v1" },
          "disposition": { "const": "replayed" },
          "credential": { "$ref": "#/components/schemas/PartnerSubkeyMetadataV1" },
          "apiKey": { "type": "null" },
          "secretState": { "const": "already-delivered" }
        },
        "additionalProperties": false
      },
      "PartnerSubkeyRevocationV1": {
        "type": "object",
        "required": ["schemaVersion", "subkeyId", "disposition"],
        "properties": {
          "schemaVersion": { "const": "programmable.partner-subkey-revocation.v1" },
          "subkeyId": { "type": "string", "format": "uuid" },
          "disposition": { "enum": ["revoked", "already_revoked"] }
        },
        "additionalProperties": false
      },
      "CustomLaunchCapabilitiesV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "apiVersion",
          "serverTime",
          "readinessUrl",
          "chain",
          "profile",
          "routes",
          "authentication",
          "preflight",
          "graph",
          "compiler",
          "projectMetadata",
          "permitReissue",
          "hookPermissions",
          "fundingModes",
          "liquidityModels",
          "evidenceTiers",
          "productTruthAxes",
          "behaviorEvidence",
          "hardSafetyInvariants",
          "advancedFeaturesRequireEvidence",
          "feePolicy",
          "walletHandoffBaseUrl",
          "supportUrl",
          "safetyClaim",
          "auditClaim",
          "universalCompatibilityClaim"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-capabilities.v1"
          },
          "apiVersion": {
            "const": "v3"
          },
          "serverTime": {
            "type": "string",
            "format": "date-time"
          },
          "readinessUrl": {
            "const": "https://api.programmable.market/readyz"
          },
          "chain": {
            "type": "object",
            "required": [
              "id",
              "name"
            ],
            "properties": {
              "id": {
                "const": "1"
              },
              "name": {
                "const": "Ethereum Mainnet"
              }
            },
            "additionalProperties": false
          },
          "profile": {
            "type": "object",
            "required": [
              "profileId",
              "profileRevision",
              "profileVersion",
              "productionLaunchAuthorized"
            ],
            "properties": {
              "profileId": {
                "const": "programmable.direct-native-hook-graph.v1"
              },
              "profileRevision": {
                "const": 3
              },
              "profileVersion": {
                "const": "3.3.0"
              },
              "productionLaunchAuthorized": {
                "const": true
              }
            },
            "additionalProperties": false
          },
          "routes": {
            "type": "object",
            "required": [
              "create",
              "preflight",
              "status",
              "list",
              "capabilities",
              "finalizedMetadata",
              "permitReissue"
            ],
            "properties": {
              "create": {
                "const": "/v3/custom-launches"
              },
              "preflight": {
                "const": "/v3/custom-launches/preflight"
              },
              "status": {
                "const": "/v3/custom-launches/{launchId}"
              },
              "list": {
                "const": "/v3/custom-launches"
              },
              "capabilities": {
                "const": "/v3/capabilities"
              },
              "finalizedMetadata": {
                "const": "/v3/finalized-custom-launches"
              },
              "permitReissue": {
                "const": "/v3/custom-launches/{launchId}/permit-reissues"
              }
            },
            "additionalProperties": false
          },
          "authentication": {
            "type": "object",
            "required": [
              "create",
              "preflight",
              "status",
              "capabilities",
              "finalizedMetadata",
              "permitReissue",
              "requiredScopes",
              "apiKeyIsWallet"
            ],
            "properties": {
              "create": {
                "const": "bearer-api-key"
              },
              "preflight": {
                "const": "bearer-api-key"
              },
              "status": {
                "const": "bearer-api-key"
              },
              "capabilities": {
                "const": "none"
              },
              "finalizedMetadata": {
                "const": "none"
              },
              "permitReissue": {
                "const": "bearer-api-key"
              },
              "requiredScopes": {
                "const": [
                  "custom-launch:create",
                  "custom-launch:read"
                ]
              },
              "apiKeyIsWallet": {
                "const": false
              }
            },
            "additionalProperties": false
          },
          "preflight": {
            "type": "object",
            "required": [
              "quotaConsumed",
              "nonceAllocated",
              "persisted",
              "walletSignatureProduced",
              "transactionBroadcast",
              "exactProductionAdmissionEngine"
            ],
            "properties": {
              "quotaConsumed": {
                "const": false,
                "description": "No launch-creation quota or durable launch reservation is consumed. The authenticated preflight request still consumes its ordinary route rate budget."
              },
              "nonceAllocated": {
                "const": false
              },
              "persisted": {
                "const": false
              },
              "walletSignatureProduced": {
                "const": false
              },
              "transactionBroadcast": {
                "const": false
              },
              "exactProductionAdmissionEngine": {
                "const": true
              }
            },
            "additionalProperties": false
          },
          "graph": {
            "type": "object",
            "required": [
              "minimumTargets",
              "maximumTargets",
              "directCreate2Targets",
              "onePrimaryToken",
              "onePrimaryHook",
              "onePrimaryPool",
              "constructorAddressLocators",
              "initializerAddressLocators",
              "initializerCyclesSupported",
              "constructorCyclesSupported"
            ],
            "properties": {
              "minimumTargets": {
                "const": 3
              },
              "maximumTargets": {
                "const": 16
              },
              "directCreate2Targets": {
                "const": true
              },
              "onePrimaryToken": {
                "const": true
              },
              "onePrimaryHook": {
                "const": true
              },
              "onePrimaryPool": {
                "const": true
              },
              "constructorAddressLocators": {
                "const": true
              },
              "initializerAddressLocators": {
                "const": true
              },
              "initializerCyclesSupported": {
                "const": true
              },
              "constructorCyclesSupported": {
                "const": false
              }
            },
            "description": "Live profile 3.3.0 requires three through sixteen exact direct targets. Pending profile 3.4.0 raises the fresh-graph minimum to four inclusive of the canonical settlement-fee vault, but is not advertised by this live capabilities response before activation.",
            "additionalProperties": false
          },
          "compiler": {
            "type": "object",
            "required": [
              "language",
              "version",
              "exactStandardJsonRequired",
              "exactSourceBytesRequired",
              "exactCreationAndRuntimeBindingRequired"
            ],
            "properties": {
              "language": {
                "const": "Solidity"
              },
              "version": {
                "const": "0.8.26"
              },
              "exactStandardJsonRequired": {
                "const": true
              },
              "exactSourceBytesRequired": {
                "const": true
              },
              "exactCreationAndRuntimeBindingRequired": {
                "const": true
              }
            },
            "additionalProperties": false
          },
          "projectMetadata": {
            "$ref": "#/components/schemas/ProjectMetadataCapabilitiesV1"
          },
          "permitReissue": {
            "$ref": "#/components/schemas/PermitReissueCapabilityV1"
          },
          "hookPermissions": {
            "type": "object",
            "required": [
              "allFourteenStructurallySupported",
              "minimumMask",
              "maximumMask",
              "addressMaskMustMatch",
              "returnDeltaRequiresBaseCallback"
            ],
            "properties": {
              "allFourteenStructurallySupported": {
                "const": true
              },
              "minimumMask": {
                "const": 0
              },
              "maximumMask": {
                "const": 16383
              },
              "addressMaskMustMatch": {
                "const": true
              },
              "returnDeltaRequiresBaseCallback": {
                "const": true
              }
            },
            "description": "All fourteen Uniswap v4 hook permission bits are structurally accepted when address bits, dependencies and concrete reachable callback implementations match. This is not universal behavioral compatibility.",
            "additionalProperties": false
          },
          "fundingModes": {
            "const": [
              "none",
              "wallet-transaction-value",
              "eip-3009-receive-with-authorization"
            ]
          },
          "liquidityModels": {
            "const": [
              "external-concentrated-liquidity",
              "launch-seeded-concentrated-liquidity",
              "hook-inventory-custom-accounting"
            ]
          },
          "evidenceTiers": {
            "const": [
              "launch_mechanics_verified",
              "standard_swap_compatible",
              "advanced_custom_accounting",
              "governed_external_trust"
            ],
            "description": "Classification labels only. A label is not proof that behavior execution, routing, liquidity, platform-fee conformance or safety has been verified."
          },
          "productTruthAxes": {
            "const": [
              "deployment",
              "trading",
              "platform_fee_evidence",
              "source_verification",
              "indexing",
              "featured"
            ],
            "description": "Independent product claims. Evidence for one axis never proves another."
          },
          "behaviorEvidence": {
            "type": "object",
            "required": [
              "runnerConfigured",
              "executionMode",
              "vectorSetVersion",
              "maximumConfiguredRunnerAttempts",
              "configurationIsExecutionEvidence",
              "walletHandoffRequiresVerifiedEvidence",
              "notConfiguredDisposition",
              "unavailableDisposition",
              "executedFailureDisposition",
              "immutableFeePathRequired",
              "feeBehaviorClaim"
            ],
            "properties": {
              "runnerConfigured": {
                "type": "boolean",
                "description": "Runtime configuration only. It is never per-launch execution evidence."
              },
              "executionMode": {
                "enum": ["remote-ephemeral-mainnet-fork", "not_configured"]
              },
              "vectorSetVersion": { "const": "1.1.0" },
              "maximumConfiguredRunnerAttempts": { "const": 3 },
              "configurationIsExecutionEvidence": { "const": false },
              "walletHandoffRequiresVerifiedEvidence": { "const": true },
              "notConfiguredDisposition": { "const": "blocks_wallet_handoff" },
              "unavailableDisposition": { "const": "blocks_wallet_handoff" },
              "executedFailureDisposition": { "const": "blocks_wallet_handoff" },
              "immutableFeePathRequired": { "const": true },
              "feeBehaviorClaim": { "const": false }
            },
            "description": "Fresh-profile server decision boundary. Runner configuration is not evidence. Missing, not-configured or unavailable execution blocks wallet handoff and remains retryable; an authenticated executed failure blocks wallet handoff terminally. Legacy 3.3.0 and earlier resources retain their stored evidence state and are not retroactively upgraded.",
            "additionalProperties": false
          },
          "hardSafetyInvariants": {
            "const": [
              "exact-source-runtime-request-binding",
              "hook-address-permission-mask-match",
              "valid-return-delta-permission-dependencies",
              "mainnet-pool-manager-graph-binding-and-bounded-callback-authentication",
              "authenticated-enabled-callbacks",
              "complete-enabled-callback-implementation",
              "no-direct-callcode-or-selfdestruct-in-submitted-graph-target-runtimes",
              "balanced-pool-manager-deltas-when-executed",
              "exact-router-launch-simulation",
              "no-wallet-signing-or-broadcast-by-api"
            ],
            "description": "Mandatory server-side checks and wallet-authority boundaries. This list is not a universal safety claim. The opcode check is limited to direct opcodes in the submitted graph-target runtimes; code reached through delegation or runtime creation is not transitively proven and keeps behavior-derived claims unverified."
          },
          "advancedFeaturesRequireEvidence": {
            "const": [
              "child-contract-factories",
              "return-delta-custom-accounting",
              "custom-curves-and-async-swaps",
              "liquidity-removal-gating-or-return-deltas",
              "external-oracle-or-protocol-calls",
              "pause-mint-transfer-or-compliance-controls",
              "governed-upgrades-or-delegation",
              "nonstandard-token-accounting"
            ]
          },
          "feePolicy": {
            "type": "object",
            "required": [
              "programmableHundredthsOfBip",
              "denominator",
              "requestBindingRequired",
              "behaviorProofRequiredForRoutableClaim",
              "tenBpsClaimRequiresExactPerLaunchVerifiedFeePathEvidence",
              "genericClaimingLive",
              "buybackManagementLive"
            ],
            "properties": {
              "programmableHundredthsOfBip": {
                "const": "1000"
              },
              "denominator": {
                "const": "1000000"
              },
              "requestBindingRequired": {
                "const": true
              },
              "behaviorProofRequiredForRoutableClaim": {
                "const": true
              },
              "tenBpsClaimRequiresExactPerLaunchVerifiedFeePathEvidence": {
                "const": true
              },
              "genericClaimingLive": {
                "const": false
              },
              "buybackManagementLive": {
                "const": false
              }
            },
            "additionalProperties": false
          },
          "walletHandoffBaseUrl": {
            "const": "https://programmable.market/developers/api-keys"
          },
          "supportUrl": {
            "type": "string",
            "format": "uri"
          },
          "safetyClaim": {
            "const": false
          },
          "auditClaim": {
            "const": false
          },
          "universalCompatibilityClaim": {
            "const": false
          }
        },
        "description": "Public additive discovery for the live profile 3.3.0 structural and operational boundary. It grants no authorization and makes no universal, audit, safety or fee-behavior claim. Pending profile 3.4.0 is preparatory and must not appear as the current capabilities profile until backend activation. Legacy resources preserve their stored evidence semantics.",
        "additionalProperties": true
      },
      "ProjectMetadataCapabilitiesV1": {
        "type": "object",
        "required": [
          "schemaVersion", "inputSchemaVersion", "requiredForProfileVersion",
          "requiredForProfileVersions", "strictNewPackPolicyProfileVersion", "enforcement",
          "profilePolicy", "legacyWithoutMetadataProfileVersions", "legacyMetadataProfileVersions",
          "requiredFields", "imageMayBeNull", "legacyImageMayBeNullProfileVersions",
          "description", "image", "maximumLinks", "exactlyOneRequiredLinkPerKind",
          "requiredLinkKinds", "websiteUriPolicy", "xUriPattern", "linkKinds",
          "projectMetadataHashDomain", "graphBundleHashBindingDomain",
          "postDeploymentTokenReadbackRequired"
        ],
        "properties": {
          "schemaVersion": { "const": "programmable.project-metadata.v1" },
          "inputSchemaVersion": { "const": "programmable.project-metadata-input.v1" },
          "requiredForProfileVersion": { "const": "3.3.0" },
          "requiredForProfileVersions": { "const": ["3.2.0", "3.3.0"] },
          "strictNewPackPolicyProfileVersion": { "const": "3.3.0" },
          "enforcement": {
            "type": "object",
            "required": ["routes", "serverSide", "clientBypassAccepted", "failureCode", "legacyProfilesNotRetrofitted"],
            "properties": {
              "routes": { "const": ["POST /v3/custom-launches/preflight", "POST /v3/custom-launches"] },
              "serverSide": { "const": true },
              "clientBypassAccepted": { "const": false },
              "failureCode": { "const": "PROJECT_METADATA_POLICY_INVALID" },
              "legacyProfilesNotRetrofitted": { "const": true }
            },
            "additionalProperties": false
          },
          "profilePolicy": { "$ref": "#/components/schemas/ProjectMetadataPolicyV1" },
          "legacyWithoutMetadataProfileVersions": { "const": ["2.0.0", "3.0.0", "3.1.0"] },
          "legacyMetadataProfileVersions": { "const": ["3.2.0"] },
          "requiredFields": { "const": ["token.name", "token.symbol", "presentation.description", "presentation.image", "presentation.links"] },
          "imageMayBeNull": { "const": false },
          "legacyImageMayBeNullProfileVersions": { "const": ["3.2.0"] },
          "description": {
            "type": "object",
            "required": ["minimumUtf8Bytes", "maximumUtf8Bytes", "minimumUnicodeLettersOrNumbers", "nfcAndTrimmedRequired"],
            "properties": {
              "minimumUtf8Bytes": { "const": 20 },
              "maximumUtf8Bytes": { "const": 4096 },
              "minimumUnicodeLettersOrNumbers": { "const": 8 },
              "nfcAndTrimmedRequired": { "const": true }
            },
            "additionalProperties": false
          },
          "image": {
            "type": "object",
            "required": ["required", "exactContentSha256Required", "exactByteLengthRequired", "sourceManifestFileBindingRequired", "mediaTypes"],
            "properties": {
              "required": { "const": true },
              "exactContentSha256Required": { "const": true },
              "exactByteLengthRequired": { "const": true },
              "sourceManifestFileBindingRequired": { "const": true },
              "mediaTypes": { "const": ["image/png", "image/jpeg", "image/webp", "image/gif"] }
            },
            "additionalProperties": false
          },
          "maximumLinks": { "const": 32 },
          "exactlyOneRequiredLinkPerKind": { "const": true },
          "requiredLinkKinds": { "const": ["website", "x"] },
          "websiteUriPolicy": { "const": "canonical-public-credential-free-https" },
          "xUriPattern": { "const": "^https://x\\.com/[A-Za-z0-9_]{1,64}$" },
          "linkKinds": { "const": ["website", "documentation", "x", "telegram", "discord", "github", "other"] },
          "projectMetadataHashDomain": { "const": "programmable.project-metadata.v1" },
          "graphBundleHashBindingDomain": { "const": "programmable.custom-graph-project-metadata.v1" },
          "postDeploymentTokenReadbackRequired": { "const": true }
        },
        "additionalProperties": false
      },
      "PermitReissueCapabilityV1": {
        "type": "object",
        "required": ["schemaVersion", "endpoint", "requestSchemaVersion", "dispositionSchemaVersion", "disposition", "httpStatus", "reasonCode", "authenticationScope", "idempotencyKeyRequired", "resourceBindingRequired", "noReplacementNonceReserved", "noReplacementPermitIssued", "oldPermitStateRequired", "oldPermitInvalidation", "currentReleaseRecovery", "futureContractRequirements"],
        "properties": {
          "schemaVersion": { "const": "programmable.custom-launch-permit-reissue-capability.v1" },
          "endpoint": { "const": "/v3/custom-launches/{launchId}/permit-reissues" },
          "requestSchemaVersion": { "const": "programmable.custom-launch-permit-reissue-request.v1" },
          "dispositionSchemaVersion": { "const": "programmable.custom-launch-permit-reissue-disposition.v1" },
          "disposition": { "const": "unsupported" }, "httpStatus": { "const": 409 },
          "reasonCode": { "const": "ROUTER_V1_PERMIT_NONCE_IS_CREATE2_ROUTE_NONCE" },
          "authenticationScope": { "const": "custom-launch:create" },
          "idempotencyKeyRequired": { "const": true },
          "resourceBindingRequired": { "const": ["launchId", "expectedRequestHash", "expectedLaunchIntentHash"] },
          "noReplacementNonceReserved": { "const": true }, "noReplacementPermitIssued": { "const": true },
          "oldPermitStateRequired": { "const": "expired-and-unconsumed" },
          "oldPermitInvalidation": { "const": "original-signature-expired-by-signed-deadline" },
          "currentReleaseRecovery": { "const": "repack-and-submit-new-launch-request" },
          "futureContractRequirements": { "type": "array", "minItems": 1, "items": { "type": "string", "minLength": 1 } }
        },
        "additionalProperties": false
      },
      "PermitReissueRequestV1": {
        "type": "object",
        "required": ["schemaVersion", "expectedRequestHash", "expectedLaunchIntentHash", "replacementNonce", "replacementPermitWindow"],
        "properties": {
          "schemaVersion": { "const": "programmable.custom-launch-permit-reissue-request.v1" },
          "expectedRequestHash": { "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest" },
          "expectedLaunchIntentHash": { "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest" },
          "replacementNonce": { "$ref": "./custom-launch-v2.json#/components/schemas/NonzeroLowerHex32" },
          "replacementPermitWindow": { "$ref": "#/components/schemas/DirectNativePermitWindowV1" }
        },
        "additionalProperties": false
      },
      "PermitReissueDispositionV1": {
        "type": "object",
        "required": ["schemaVersion"],
        "properties": {
          "schemaVersion": { "const": "programmable.custom-launch-permit-reissue-disposition.v1" },
          "reason": { "type": "string" }, "resourceBinding": { "type": "object" },
          "requestedReplacementAuthorization": { "type": "object" },
          "deployedContractConstraint": { "type": "object" }, "feeAndSecurityGates": { "type": "object" },
          "currentReleaseRecovery": { "type": "object" }, "futureContractBoundary": { "type": "object" }
        },
        "additionalProperties": true
      },
      "CustomLaunchPreflightV1": {
        "type": "object",
        "required": [
          "schemaVersion",
          "requestHash",
          "profileRevision",
          "serverTime",
          "disposition",
          "launchEligibility",
          "evidenceTier",
          "riskClassification",
          "behaviorEvidence",
          "productTruthAxes",
          "hardBlockFindingCodes",
          "needsEvidenceFindingCodes",
          "warningFindingCodes",
          "staticBaseline",
          "remediations",
          "quotaConsumed",
          "nonceAllocated",
          "persisted",
          "walletSignatureRequiredLater",
          "walletBroadcastByService"
        ],
        "properties": {
          "schemaVersion": {
            "const": "programmable.custom-launch-preflight.v1"
          },
          "requestHash": {
            "$ref": "./custom-launch-v2.json#/components/schemas/Sha256Digest"
          },
          "profileRevision": {
            "enum": [
              2,
              3
            ]
          },
          "serverTime": {
            "type": "string",
            "format": "date-time"
          },
          "disposition": {
            "enum": [
              "supported",
              "supported_with_warnings",
              "needs_evidence",
              "unsupported"
            ]
          },
          "launchEligibility": {
            "type": "object",
            "required": [
              "deployable",
              "routable",
              "featured"
            ],
            "properties": {
              "deployable": {
                "type": "boolean",
                "description": "The exact request cleared the bounded deployment-mechanics preflight at this evidence tier. This does not prove that a deployment happened."
              },
              "routable": {
                "type": "boolean",
                "description": "The exact request cleared the current routing-evidence preflight. This does not prove live trading, liquidity or economic safety."
              },
              "featured": {
                "type": "boolean",
                "description": "The exact request currently meets the preflight feature-eligibility policy. This does not prove indexing or placement."
              }
            },
            "additionalProperties": false
          },
          "evidenceTier": {
            "enum": [
              "launch_mechanics_verified",
              "standard_swap_compatible",
              "advanced_custom_accounting",
              "governed_external_trust"
            ],
            "description": "A required-evidence classification, not a passed runtime check. Read behaviorEvidence and each product-truth axis independently."
          },
          "riskClassification": {
            "oneOf": [
              { "$ref": "#/components/schemas/PlatformAdmissionRiskClassificationV3" },
              { "type": "null" }
            ],
            "description": "Current revision-3 static classification. Revision-2 compatibility preflight returns null."
          },
          "behaviorEvidence": {
            "$ref": "#/components/schemas/CustomLaunchBehaviorEvidenceSummaryV3"
          },
          "productTruthAxes": {
            "$ref": "#/components/schemas/CustomLaunchProductTruthAxesV3"
          },
          "hardBlockFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "needsEvidenceFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "warningFindingCodes": {
            "$ref": "#/components/schemas/CustomLaunchFindingCodeListV1"
          },
          "staticBaseline": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticBaselineReportV1"
              },
              {
                "type": "null"
              }
            ]
          },
          "remediations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomLaunchRemediationV1"
            }
          },
          "quotaConsumed": {
            "const": false,
            "description": "No launch-creation quota or durable launch reservation is consumed. The authenticated call still consumes its ordinary route rate budget; partner credentials use prepareRequestsPerHour."
          },
          "nonceAllocated": {
            "const": false
          },
          "persisted": {
[...]
